.page-header__button.login, 
.page-header__button.choose-person,
.site-nav__item:nth-child(6),
.site-nav__item:nth-child(7) {
    display: none;
}

.page-header__logo--padding-top {
    .logo__header-icon {
        width: 103.24;
        height: 19.19;
    }
}

.language-menu {
    margin-right: 8px;
}

.page-header__private-office-menu {
    margin-left: auto;
    display: flex;

    .page-header__button {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border: 1px solid transparent;
        background-color: transparent;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    .page-header__button-user--image {
        img {
            width: 52px;
        }
    }

    .page-header__button-user--image.active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
        border: 2px solid #795BDA;
    }
}