.page-header__button.login, 
.page-header__button.choose-person,
.site-nav__item:nth-child(6),
.site-nav__item:nth-child(7) {
    display: none;
}

.page-header__logo--padding-top {
    .logo__header-icon {
        width: 103.24;
        height: 19.19;
    }
}

.language-menu {
    margin-right: 8px;
}

.page-header__private-office-menu {
    margin-left: auto;
    display: flex;

    .page-header__button {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border: 1px solid transparent;
        background-color: transparent;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    .page-header__button--information {
        &:hover,
        &:focus {
            background: rgba(121, 91, 218, 0.1);
            .icon-login {
                fill: #795BDA;
            }
        }
    }

    .page-header__button-user--image {
        img {
            width: 52px;
        }
    }

    .page-header__button-user--image.active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
        border: 2px solid #795BDA;
        @media screen and (min-width: 1280px) {
            border: none;
        }
    }
}

// modal-information-department
.modal-information-department {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06), 0px 10px 20px -8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    position: absolute;
    z-index: 999;
    max-width: 385px;
    top: 53px;
    right: 65px;
    @media screen and (min-width: 744px) {
        top: 53px;
        right: 83px;
    }
    @media screen and (min-width: 1280px) {
        top: 53px;
        right: 123px;
    }

    .department {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(34, 43, 64, 0.1);
        padding: 20px;

        h2 {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 110%;
            letter-spacing: -0.06em;
            color: #222B40;
        }

        .close-button {
            background-color: transparent;
            border: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            cursor: pointer;

            svg {
                @media screen and (min-width: 1280px) {
                    &:hover {
                        fill: #795BDA;
                    }
                }
            }
        }
    }

    .contact-info {
        padding: 20px;

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            color: #222B40;
            margin-bottom: 20px;
        }

        .social-networks-list {
            display: flex;
            flex-wrap: wrap;
            margin-left: -4px;

            .social-networks-item {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: -0.05em;

                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 4px;
                flex-basis: calc(100% / 3 - 4px);
                height: 32px;
                background: rgba(121, 91, 218, 0.1);
                border-radius: 100px;

                .social-networks-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: #795BDA;
                    width: 100%;
                    height: 100%;
                }

                svg {
                    margin-right: 8px;
                }
            }
        }
    }
}