.content__right {
    position: relative;
    margin-left: 16px;
    @media screen and (max-width: 744px) {
        margin-left: 0;
    }
}
/*--------------- Мои сессии -------------------------*/
.mysession__wrap {
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
    @media screen and (max-width: 744px) {
        max-width: 350px;
    }
}
.mysession__switch-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    padding: 14px;
}
.switch__box {
    background: rgba(121, 91, 218, 0.1);
    border-radius: 30px;
    padding: 4px;
    .btn_focus {        
        background: #795BDA;
        font-weight: 500;
        color: #fff;
        border-radius: 30px;
        padding: 8px 16px;
    }
    button {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #795BDA;
        border-radius: 30px;
        padding: 8px 16px;
        border: none;
    }
}
.switch__box-calendar {
    button {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #795BDA;

        background: rgba(121, 91, 218, 0.1);
        border-radius: 30px;
        padding: 8px 16px;
        border: none;
        &:hover {
            background: rgba(121, 91, 218, 0.2);
        }
    }
}
.mysession__main-list {
    padding: 14px;
}
.person-list__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    margin: 0 0 15px 0;
    padding-bottom: 15px;
    @media screen and (max-width: 744px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.mysession__person-name {
    display: flex;
    align-items: center;
    width: 180px;
    img {
        width: 56px;
        height: 56px;
    }
    h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
        margin-left: 16px;
    }
}
.mysession__person-info {
    @media screen and (max-width: 744px) {
        grid-column-start: 1;
        grid-row-start: 2;
        width: 350px;
    }
}
.info-person__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    li {
        padding: 5px 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
        border-right: 1px solid rgba(34, 43, 64, 0.1);
        &:first-child {
            border-left: 1px solid rgba(34, 43, 64, 0.1);
            @media screen and (max-width: 744px) {
                border-left: none;
            }
        }
        @media screen and (max-width: 744px) {
            padding: 10px 12px;
            font-size: 12px;
        }
    }
}
.mysession__person-edit {
    display: flex;
    align-items: center;
    button {
        border: none;
        background: transparent;
        margin: 0 5px;
        .person_icons {
            position: relative;
            width: 16px;
            height: 16px;
            &::before {
                content: '';
                width: 32px;
                height: 32px;
                position: absolute;
                background: transparent;
                top:  calc(50% - 16px);
                left: calc(50% - 16px);
                border-radius: 50%;
            }
        }
        .icon-square {
            background: url('../images/office/square_text.svg') center / cover no-repeat;
        }
        .icon-edit {
            background: url('../images/office/edit.svg') center / cover no-repeat;
        }
        .icon-del {
            background: url('../images/office/del.svg') center / cover no-repeat;
        }
        &:hover {
            cursor: pointer;
            .icon-square {
                background: url('../images/office/square_text-active.svg') center / cover no-repeat;
                &::before {
                    background: rgba(121, 91, 218, 0.1);
                }
            }
            .icon-edit {
                background: url('../images/office/edit-active.svg') center / cover no-repeat;
                &::before {
                    background: rgba(121, 91, 218, 0.1);
                }
            }
            .icon-del {
                background: url('../images/office/del-active.svg') center / cover no-repeat;
                &::before {
                    background: rgba(121, 91, 218, 0.1);
                }
            }
        }
    }
    @media screen and (max-width: 744px) {
        margin-left: -135px;
    }
}
/*--------------- Информация про клиента попап ------------------------------*/
.info-card__client-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(34, 43, 64, 0.2);
    backdrop-filter: blur(10px);
    z-index: 5;

    display: none;
    align-items: center;
    justify-content: center;
}
.info-card__client {
    position: relative;
    max-width: 500px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 25px;
    ul {
        list-style: none;
        padding-left: 0;
    }
}
.close {
    position: absolute;
    width: 15px;
    top: 30px;
    right: 30px;
}
.info-card__client-name {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
        width: 72px;
    }
    .info-name__client {
        margin-left: 20px;
    }
}
.top_line {
    border-top: 1px solid rgba(34, 43, 64, 0.1);
    padding: 20px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        li:not(:last-child) {
            border-right: 1px solid rgba(34, 43, 64, 0.1);
        }
        li {
            padding: 0 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: -0.05em;
            color: #222B40;
        }
        li:first-child {
            padding-left: 0;
        }
    }
    h3  {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: #222B40;
        margin-bottom: 15px;
    }
    p   {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
}
.general__info {
}
.experience__working {
}
.descr__problem {
}
.states {
}
.requests {
    padding: 20px 0 0;
}

/*----------------------------------------------------------------------------------------------*/
/*--------------- Рабочий график ---------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
.schedule-block_wrap {
    background: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 835px;
}
.work__schedule_exemple {
    width: 100%;
    border-collapse: collapse;
}
.controls__wrap {
    display: flex;
    align-items: center;
}
.work__schedule-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 32px;
    .list__btn {
        background: rgba(121, 91, 218, 0.1);
        border-radius: 30px;
        border: none;
        padding: 8px 16px;
        color: #795BDA;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        &:hover {
            background: rgba(121, 91, 218, 0.2);
            cursor: pointer;
        }
    }
}
.work__schedule-date {
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #222B40;
    }
}
.work__schedule-arrows {
    display: flex;
    margin-left: 20px;
    .btn__schedule {
        background: rgba(34, 43, 64, 0.05);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        border: none;
        &:hover {
            cursor: pointer;
            background: rgba(34, 43, 64, 0.1);
        }
    }
    img {
        width: 12px;
        height: 12px;
    }
}

.cell__time {
    background: transparent;
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    color: #222B40;
    padding: 0 10px;
}
th, td {
    a {
        text-decoration: none;
        font-weight: 600;
        font-size: 10px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
}
.td_active {
    background: #D5CAF9 url('../images/add.png') no-repeat;
    background-position: center;
    border: 1px solid #D5CAF9;
}
th {
    border-top: 1px solid rgba(34, 43, 64, 0.1);
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    width: 105px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    color: #222B40;
    text-align: center;
    span {
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
    }
}
th:not(:last-child) {
    border-right: 1px solid rgba(34, 43, 64, 0.1);
}
td {
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    width: 105px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
td:not(:last-child) {
    border-right: 1px solid rgba(34, 43, 64, 0.1);
}
.schedule__info {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    color: #222B40;
    padding: 20px;
}
/*-----------------------*/
.work__schedule_mobile {
    display: none;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}
.schedule_mobile-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    overflow-x: scroll;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid rgba(34, 43, 64, 0.1);
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    li {
        background: rgba(34, 43, 64, 0.05);
        border-radius: 30px;
        padding: 10px 9px;
        margin: 0 5px;
        span {
            display: none;
        }
    }
    .active_day {
        display: flex;
        justify-content: space-around;
        background: #795BDA;
        border-radius: 30px;
        padding: 8px 16px;
        min-width: 102px;

        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #FFFFFF;
        span {
            display: block;
            margin-left: 6px;
            color: rgba(255, 255, 255, 0.4);
        }
    }
}
.table__schedule_mobile {
    tbody {
        width: 100%;
        tr {
            .cell__time {
                width: 70px;
            }
            td {
                width: 100%;
                text-align: left;
                padding-left: 20px;
            }
        }
    }
}

// Картка клієнта для переносу
.card__client {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06), 0px 10px 20px -8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    max-width: 180px;
    padding: 10px;
    
    display: none;
}
.card__client-name {
    display: flex;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}
.name__client {
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #795BDA;
}
.card__client-info {

}
.info__list {
    list-style: none;
    padding-left: 0;
    li {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: #222B40;
        margin-bottom: 10px;
        text-align: left;
    }
}
.card__client-btns {
    .btns__list {
        list-style: none;
        padding-left: 0;
        li {
            border-top: 1px solid rgba(34, 43, 64, 0.1);
            button {
                font-weight: 600;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: -0.06em;
                color: #795BDA;
                padding: 10px 0;
                border: none;
                background: transparent;
                display: block;
                margin: 0 auto;
                cursor: pointer;
            }
            .cancel_btn, .abolition {
                color: #FF5C8D;
            }
        }
    }
    .abolition_list {
        display: none;
    }
}

@media screen and (max-width:744px) {
    .schedule-block_wrap {
        max-width: 350px;
    }
    .work__schedule_exemple {
        display: none;
    }
    .work__schedule_mobile {
        display: block;
    }
    .work__schedule-date {
        width: 130px;
    }
    .work__schedule-arrows {
        margin-left: 7px;
    }
    .work__schedule-controls {
        padding: 20px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    visibility: hidden;
    pointer-events: none;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}