.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 390px) {
    width: 390px;
  }
  @media screen and (min-width: 744px) {
    width: 744px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
