/* placeholders */
%body {
  font-family: Golos Text,sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--background-color-body);
}
body {
  @extend %body;
}

.articles{
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}
main {
  // overflow: hidden;
}
%img {
  display: block;
  width: 100%;
  height: auto;
}
img {
  @extend %img;
}

%tag {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @extend %tag;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-nav,
.language-list,
.hero-section__content-list,
.user-manual__list,
.our-team__list,
.our-team__specialties,
.advantages,
.articles__cards-wrap,
.list-filter,
.sort-section,
.psychologists-section__filter-list,
.sort-list,
.sign-for-session__session-type-items,
.sign-for-session__session-date-status-list,
.sign-for-session__time-options,
.session-info__list,
.payment-card-list,
.articles__list,
.meeting__list,
.result__cards,
.user-manual__list,
.psychologists-slider-section__list,
.private-office__list,
.outside-private-office__list,
.social-networks-list,
.hero-section__list,
.table-modal-client__list,
.drop-down-list,
.switch-days-week__list {
  @extend %list;
}
