/* placeholders */
%body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--background-color-body);
}
body {
  @extend %body;
}

.articles{
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

%img {
  display: block;
  width: 100%;
  height: auto;
}
img {
  @extend %img;
}

%tag {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @extend %tag;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-nav,
.language-list,
.hero-section__content-list,
.user-manual__list,
.our-team__list {
  @extend %list;
}
