:root {
  --accent-color: #795BDA;
  --text-color-nav: #222B40;
  --text-color: #222B40;
  --text-color-white: #FFFFFF;
  --background-color-body: #F3F3F3;
  --background-color: #f7f7f7;
  --time: 250ms;
  --function-animate: cubic-bezier(0.4, 0, 0.2, 1);
}
