<section class="private-office-section">
  <div class="container private-office-section-container">
    <div class="flex-wrapper">

        <div class="private-office js-menu-container-private-office" id="mobile-menu-private-office">
            <div class="private-office__block">

                <button type="button" class="private-office__close-menu">
                    <svg width="26" height="26">
                        <use href="./images/symbol-defs.svg#close_40px"></use>
                    </svg>
                </button>

                <div class="private-office__image-wrapper">
                    <div class="private-office__image-wrapper-border">
                        <img
                        src="./images/our-team-desktop.jpg"
                        class="private-office__image"
                        alt="Фото Іван Виговський"
                        />
                    </div>
                </div>

                <div class="private-office__info">
                  <h1 class="private-office__title">Іван Виговський</h1>
                </div> 

            </div>

            <ul class="private-office__list">
                <li class="private-office__list-item">
                    <button type="button" class="private-office__list-button">
                        Редагувати профіль
                    </button>
                </li>
                <li class="private-office__list-item">
                    <button type="button" class="private-office__list-button">
                        Мої сесії
                    </button>
                </li>
                <li class="private-office__list-item">
                    <button type="button" class="private-office__list-button">
                        Мої клієнти
                    </button>
                </li>
                <li class="private-office__list-item">
                    <button type="button" class="private-office__list-button">
                        Статистика
                    </button>
                </li>
                <li class="private-office__list-item">
                    <button type="button" class="private-office__list-button">
                        Робочий графік
                    </button>
                </li>
                <li class="private-office__list-item">
                    <button type="button" class="private-office__list-button">
                        Мої статті та вебінари
                    </button>
                </li>
            </ul>

            <div class="private-office__flex-wrapper">
                <div class="private-office__exit">
                    <button class="private-office__exit-button">Вийти</button>
                </div>


                <div class="private-office__block-session">
                    <div class="private-office__person-session">
                        <div class="private-office__image-session-border">
                            <img
                                class="private-office__image-session"
                                src="./images/darina.png"
                                alt="Фото Ярина Перекотиполе"
                                />
                        </div>
                        <p>Ярина Перекотиполе</p>
                    </div>
                    <button type="button" class="private-office__button private-office__button--start-session">
                        Розпочати сессію
                        <svg width="12" height="12" class="private-office__icon">
                            <use href="./images/symbol-defs.svg#test"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Контейнер для контента справа  -->
        <section class="content__right">
             <!-- Контейнер для блока с Мои сессии  -->
            <div class="mysession__wrap">
                <div class="mysession__switch-btns">
                    <div class="switch__box">
                        <button class="btn_focus">Заплановані</button>
                        <button>Минулі</button>
                    </div>
                    <div class="switch__box-calendar">
                        <button>Календар</button>
                    </div>
                </div>

                <div class="mysession__main-list">
                    <div class="person-list__body">
                        <div class="mysession__person-name">
                            <img src="./images/darina.png" alt="">
                            <h3>Дарина <br>Приходько</h3>
                        </div>
                        <div class="mysession__person-info">
                            <ul class="info-person__list">
                                <li>50 хвилин</li>
                                <li>Особиста</li>
                                <li>13 березня</li>
                                <li>9:00 - 9:50</li>
                            </ul>
                        </div>
                        <div class="mysession__person-edit">
                            <button><div class="icon-square person_icons"></div></button>
                            <button><div class="icon-edit person_icons"></div></button>
                            <button><div class="icon-del person_icons"></div></button>
                        </div>
                    </div>
                    <div class="person-list__body">
                        <div class="mysession__person-name">
                            <img src="./images/yarik.png" alt="">
                            <h3>Ярослав<br> Науменко</h3>
                        </div>
                        <div class="mysession__person-info">
                            <ul class="info-person__list">
                                <li>50 хвилин</li>
                                <li>Особиста</li>
                                <li>13 березня</li>
                                <li>9:00 - 9:50</li>
                            </ul>
                        </div>
                        <div class="mysession__person-edit">
                            <button><div class="icon-square person_icons"></div></button>
                            <button><div class="icon-edit person_icons"></div></button>
                            <button><div class="icon-del person_icons"></div></button>
                        </div>
                    </div>
                    <div class="person-list__body">
                        <div class="mysession__person-name">
                            <img src="./images/kamila.png" alt="">
                            <h3>Каміла<br >Айс</h3>
                        </div>
                        <div class="mysession__person-info">
                            <ul class="info-person__list">
                                <li>50 хвилин</li>
                                <li>Особиста</li>
                                <li>13 березня</li>
                                <li>9:00 - 9:50</li>
                            </ul>
                        </div>
                        <div class="mysession__person-edit">
                            <button><div class="icon-square person_icons"></div></button>
                            <button><div class="icon-edit person_icons"></div></button>
                            <button><div class="icon-del person_icons"></div></button>
                        </div>
                    </div>
                    <div class="person-list__body">
                        <div class="mysession__person-name">
                            <img src="./images/mariya.png" alt="">
                            <h3>Марія<br> Соловій</h3>
                        </div>
                        <div class="mysession__person-info">
                            <ul class="info-person__list">
                                <li>50 хвилин</li>
                                <li>Особиста</li>
                                <li>13 березня</li>
                                <li>9:00 - 9:50</li>
                            </ul>
                        </div>
                        <div class="mysession__person-edit">
                            <button><div class="icon-square person_icons"></div></button>
                            <button><div class="icon-edit person_icons"></div></button>
                            <button><div class="icon-del person_icons"></div></button>
                        </div>
                    </div>
                    <div class="person-list__body">
                        <div class="mysession__person-name">
                            <img src="./images/yarina.png" alt="">
                            <h3>Ярина<br> Перекотиполе</h3>
                        </div>
                        <div class="mysession__person-info">
                            <ul class="info-person__list">
                                <li>50 хвилин</li>
                                <li>Особиста</li>
                                <li>13 березня</li>
                                <li>9:00 - 9:50</li>
                            </ul>
                        </div>
                        <div class="mysession__person-edit">
                            <button><div class="icon-square person_icons"></div></button>
                            <button><div class="icon-edit person_icons"></div></button>
                            <button><div class="icon-del person_icons"></div></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Контейнер для блока с Робочий график  -->
            <div class="schedule-block_wrap">
                <div class="work__schedule-controls">
                    <div class="controls__wrap">
                        <div class="work__schedule-date">
                            <span>3 квітня</span> - <span>9 квітня</span>
                        </div>
                        <div class="work__schedule-arrows">
                            <button class="btn__schedule">
                                <img src="./images/svg-mysense/arrow_btns-prew.svg" alt="" />
                            </button>
                            <button class="btn__schedule">
                                <img src="./images/svg-mysense/arrow_btns-next.svg" alt="" />
                            </button>
                        </div>
                    </div>
                    <button class="list__btn">Спискок</button>
                </div>
                
                <table class="work__schedule_exemple">
                        <thead>
                            <tr>
                            <th></th>
                            <th>Понеділок<br><span>3 квітня</span></th>
                            <th>Вівторок<br><span>4 квітня</span></th>
                            <th>Середа<br><span>5 квітня</span></th>
                            <th>Четвер<br><span>6 квітня</span></th>
                            <th>П'ятниця<br><span>7 квітня</span></th>
                            <th>Субота<br><span>8 квітня</span></th>
                            <th>Неділя<br><span>9 квітня</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td class="cell__time">7:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">8:00</td>
                            <td><a href="#">Дарина<br> Приходько</a></td>
                            <td><a href="#">Ярослав<br> Науменко</a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#">Ярослав<br> Науменко</a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">9:00</td>
                            <td><a href="#">Ярослав<br> Науменко</a></td>
                            <td><a href="#">Каміла<br> Айс</a></td>
                            <td><a href="#">Ярослав<br> Науменко</a></td>
                            <td><a href="#">Каміла<br> Айс</a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <tr>
                            <td class="cell__time">10:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td class="td_active"><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">11:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">12:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">13:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#">Каміла<br> Айс</a></td>
                            <td><a href="#">Дарина<br> Приходько</a></td>
                            <td><a href="#">Каміла<br> Айс</a></td>
                            <td><a href="#">Каміла<br> Айс</a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">14:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">15:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">16:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">17:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td class="cell__time">18:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td  class="cell__time">19:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td  class="cell__time">20:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td  class="cell__time">21:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td  class="cell__time">22:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                            <tr>
                            <td  class="cell__time">23:00</td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            <td><a href="#"></a></td>
                            </tr>
                        </tbody>
                </table>

                <div class="work__schedule_mobile">
                        <ul class="schedule_mobile-list">
                            <li class="active_day">Пн<span>3 квітня</span></li>
                            <li>Вт<span>4 квітня</span></li>
                            <li>Ср<span>5 квітня</span></li>
                            <li>Чт<span>6 квітня</span></li>
                            <li>Пт<span>7 квітня</span></li>
                            <li>Сб<span>8 квітня</span></li>
                            <li>Нд<span>9 квітня</span></li>
                        </ul>
                        <table class="table__schedule_mobile">
                            <tbody>
                                <tr>
                                    <td class="cell__time">7:00</td>
                                    <td><a href="#">Дарина Приходько</a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">8:00</td>
                                    <td><a href="#">Ярослав Науменко</a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">9:00</td>
                                    <td><a href="#">Дарина Приходько</a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">10:00</td>
                                    <td><a href="#">Каміла Айс</a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">11:00</td>
                                    <td><a href="#">Ярослав Науменко</a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">12:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">13:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">14:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">15:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">16:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">17:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">18:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">19:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">20:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">21:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">22:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                                <tr>
                                    <td class="cell__time">23:00</td>
                                    <td><a href="#"></a></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="schedule__info">Увесь час та розклад заплановані за Києвським часом</div>

                <!-- Картка клієнта для переносу -->
                <div class="card__client">
                    <div class="card__client-name">
                        <img src="./images/darina.png" alt="">
                        <h3 class="name__client">Дарина<br> Приходько</h3>
                    </div>
                    <div class="card__client-info">
                        <ul class="info__list">
                            <li>Тривалість<span>50 хв</span></li>
                            <li>Тип<span>Особиста</span></li>
                            <li>Дата<span>13 березня</span></li>
                            <li>Час<span>11:00 - 11:50</span></li>
                        </ul>
                    </div>
                    <div class="card__client-btns">
                        <ul class="btns__list">
                            <li><button>Дивитись анкету</button></li>
                            <li><button>Перенести</button></li>
                            <li><button class="cancel_btn">Скасувати сессію</button></li>
                        </ul>
                        <ul class="btns__list abolition_list">
                            <li><button>Підтвердити</button></li>
                            <li><button class="abolition">Відміна</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Информация про клиента попап-->
    <div class="info-card__client-wrapper">
        <div class="info-card__client">
            <div class="close"><img src="./images/office/close_popup.svg" alt=""></div>
            <div class="info-card__client-name">
                <img src="./images/darina.png" alt="">
                <h3 class="info-name__client">Дарина<br> Приходько</h3>
            </div>
            <div class="general__info top_line">
                <h3>Загальна інформація</h3>
                <ul>
                    <li>20 років</li>
                    <li>Жінка</li>
                    <li>Одружена</li>
                    <li>Особиста терапія</li>
                </ul>
            </div>
            <div class="experience__working top_line">
                <h3>Досвід роботи з психологом</h3>   
                <p>Є досвід, більше року тому, метод: “Назва методу”</p>             
            </div>
            <div class="descr__problem top_line">
                <h3>Опис проблеми</h3>
                <p>Тут буде короткий опис проблеми від клієнта</p>
            </div>
            <div class="states top_line">
                <h3>Стани</h3>
                <ul>
                    <li>Мій настрій різко змінюється</li>
                    <li>Мене нічого не радує</li>
                </ul>
                <ul>
                    <li>Мені складно спілкуватися з іншими людьми</li>
                </ul>
                <ul>
                    <li>Я відчуваю себе нещасним(ою)</li>
                    <li>Я погано себе почуваю</li>
                </ul>
            </div>
            <div class="requests top_line">
                <h3>Запити</h3>
                <ul>
                    <li>Депресія, стрес</li>
                    <li>Розлучення</li>
                    <li>Втрата та пошук сенсу життя</li>
                </ul>
                <ul>
                    <li>Стосунки з родичами/друзями</li>
                    <li>Прокрастинація</li>
                </ul>
                <ul>
                    <li>Еміграція</li>
                    <li>Я ревную/мене ревнують</li>
                </ul>
            </div>
        </div>

    </div>
</section>


