<section class="private-office-section">
  <div class="container private-office-section-container">
    <div class="flex-wrapper">
        <div class="private-office">
            
            <div class="private-office__block">
                <div class="private-office__image-wrapper">
                    <div class="private-office__image-wrapper-border">
                        <img
                        src="./images/our-team-desktop.jpg"
                        class="private-office__image"
                        alt="Фото Іван Виговський"
                        />
                    </div>
                </div>
                <div class="private-office__info">
                  <h1 class="private-office__title">Іван Виговський</h1>
                </div> 
            </div>

            <ul class="private-office__list">
                <li class="private-office__list-item">Редагувати профіль</li>
                <li class="private-office__list-item">Мої сесії</li>
                <li class="private-office__list-item">Мої клієнти та повідомлення</li>
                <li class="private-office__list-item">Статистика</li>
                <li class="private-office__list-item">Робочий графік</li>
                <li class="private-office__list-item">Мої статті та вебінари</li>
            </ul>

            <div class="private-office__block">
                <div class="private-office__person">
                    <img
                        src="./images/our-team-desktop.jpg"
                        class="private-office__image"
                        alt="Фото Ярина Перекотиполе"
                        />
                    <p>Ярина Перекотиполе</p>
                </div>
                <button type="button" class="private-office__button private-office__button--start-session">
                    Розпочати сессію
                    <svg width="14" height="14">
                    <use href="./images/symbol-defs.svg#test"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
