 <div class="schedule-block_wrap">

    <div class="work__schedule-controls">
        <div class="controls__wrap">
            <div class="work__schedule-date">
                <span>3 квітня</span> - <span>9 квітня</span>
              </div>
              <div class="work__schedule-arrows">
                <button class="btn__schedule">
                  <img src="./images/svg-mysense/arrow_btns-prew.svg" alt="" />
                </button>
                <button class="btn__schedule">
                  <img src="./images/svg-mysense/arrow_btns-next.svg" alt="" />
                </button>
              </div>
        </div>
        <button class="list__btn">Спискок</button>
      </div>

    <table class="work__schedule_exemple">
        <thead>
            <tr>
            <th></th>
            <th>Понеділок<br><span>3 квітня</span></th>
            <th>Вівторок<br><span>4 квітня</span></th>
            <th>Середа<br><span>5 квітня</span></th>
            <th>Четвер<br><span>6 квітня</span></th>
            <th>П'ятниця<br><span>7 квітня</span></th>
            <th>Субота<br><span>8 квітня</span></th>
            <th>Неділя<br><span>9 квітня</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="cell__time">7:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">8:00</td>
            <td><a href="#">Дарина<br> Приходько</a></td>
            <td><a href="#">Ярослав<br> Науменко</a></td>
            <td><a href="#"></a></td>
            <td><a href="#">Ярослав<br> Науменко</a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">9:00</td>
            <td><a href="#">Ярослав<br> Науменко</a></td>
            <td><a href="#">Каміла<br> Айс</a></td>
            <td><a href="#">Ярослав<br> Науменко</a></td>
            <td><a href="#">Каміла<br> Айс</a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <tr>
            <td class="cell__time">10:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td class="td_active"><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">11:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">12:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">13:00</td>
            <td><a href="#"></a></td>
            <td><a href="#">Каміла<br> Айс</a></td>
            <td><a href="#">Дарина<br> Приходько</a></td>
            <td><a href="#">Каміла<br> Айс</a></td>
            <td><a href="#">Каміла<br> Айс</a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">14:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">15:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">16:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">17:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td class="cell__time">18:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td  class="cell__time">19:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td  class="cell__time">20:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td  class="cell__time">21:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td  class="cell__time">22:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
            <tr>
            <td  class="cell__time">23:00</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            </tr>
        </tbody>
    </table>
    <div class="schedule__info">Увесь час та розклад заплановані за Києвським часом</div>

    <!-- Картка клієнта для переносу -->
    <div class="card__client">
        <div class="card__client-name">
            <img src="./images/darina.png" alt="">
            <h3 class="name__client">Дарина<br> Приходько</h3>
        </div>
        <div class="card__client-info">
            <ul class="info__list">
                <li>Тривалість<span>50 хв</span></li>
                <li>Тип<span>Особиста</span></li>
                <li>Дата<span>13 березня</span></li>
                <li>Час<span>11:00 - 11:50</span></li>
            </ul>
        </div>
        <div class="card__client-btns">
            <ul class="btns__list">
                <li><button>Дивитись анкету</button></li>
                <li><button>Перенести</button></li>
                <li><button class="cancel_btn">Скасувати сессію</button></li>
            </ul>
            <ul class="btns__list abolition_list">
                <li><button>Підтвердити</button></li>
                <li><button class="abolition">Відміна</button></li>
            </ul>
        </div>
    </div>

</div>
