<section class="hero__section">
    <div class="container">
        <div class="hero__body">
            <div class="hero__autor">
                <div class="autor__name-block">
                    <img src="./images/doc1.png" alt="">
                    <div class="name__cont">
                        <div class="name__autor">Імʼя Прізвище</div> 
                        <div class="years">12 років практики</div>
                    </div>
                </div>
                <h1>Як позбутися панічних атак вагітним жінкам?</h1>
                <div class="date_post">
                    <div class="view__post">
                        <svg class="user-manual__icon-next" width="14" height="14">
                            <use href="./images/symbol-defs.svg#icon-subtract"></use>
                        </svg>
                        12k
                    </div> 
                    <div class="like__post">
                        <svg class="user-manual__icon-next" width="14" height="14">
                            <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                        </svg>
                        3k
                    </div>
                    <div class="num__post">20.02.2023</div>
                </div>
            </div>
            <div class="hero__img">
                <img src="./images/post-exe-main.jpg" alt="">
            </div>
        </div>
        <div class="post__container">
            <div class="post__content">
                <p>Нестерпне відчуття всепоглинаючого неконтрольованого панічного жаху без очевидных причин. 
                    Той, хто хоч раз пережив панічну атаку, не сплутає її ні з чим іншим. Ці нетривалі, але 
                    інтенсивні епізоди не на жарт лякають. Вони викликають всепоглинаючий безпричинний страх 
                    та виражені фізичні симптоми та можуть змусити вас думати, що ви помираєте просто зараз.
                    <br>
                    Панічні атаки несподівані та виснажливі, потужні та паралізуючі. Вони змушують серце калатати 
                    та створюють відчуття гострої нестачі кисню. Такі напади зазвичай виникають раптово, без 
                    будь-якого попередження, а нерідко без чіткого тригера. Панічні атаки вночі під час сну — також 
                    поширене явище.
                </p>
                <div class="purple__block">
                    <p>Напад паніки може бути одноразовим, але багато людей згодом переживають повторні епізоди. 
                        Їх можуть викликати певні ситуації, в яких відчувається небезпека та активується реакція 
                        «бий або біжи».
                    </p>
                </div>
                <p>
                    ПА бувають самостійним явищем, а бувають елементом розладів — власне панічного, соціофобії, 
                    ПТСР або депресії. Незалежно від причини, лікування панічних атак цілком можливе.
                </p>
                <h2>Симптоми панічної атаки</h2>
                <p>
                    ПА розвивається раптово і зазвичай досягає свого піку протягом 10 хвилин. У більшості 
                    випадків напад паніки припиняється протягом 20-30 хвилин, рідше триває до години.Симптоми 
                    ПА включають в себе:
                </p>
                <ul class="post_list">
                    <li>Задишку або гіпервентиляцію</li>
                    <li>Прискорене серцебиття</li>
                    <li>Біль або дискомфорт у грудях</li>
                    <li>Порушення дихання або відчуття задухи</li>
                    <li>Тремтіння або тряска</li>
                    <li>Почуття дезорієнтації та дереалізації</li>
                    <li>Підвищене потовиділення</li>
                    <li>Нудота</li>
                    <li>Відчуття запаморочення, переднепритомний стан або слабкість</li>
                    <li>Оніміння або поколювання в різних частинах тіла</li>
                    <li>Озноб чи припливи</li>
                    <li>Страх померти, втратити контроль над собою або збожеволіти.</li>
                </ul>
                <img src="./images/post_banner.jpg" alt="">
                <h2>Серцевий напад або панічна атака?</h2>
                <p>
                    Панічна атака не несе небезпеки для життя. Але більшість вегетативних симптомів серйозні 
                    і схожі на серцевий напад. Виклик швидкої під час нападу — не рідкість для людей, що 
                    страждають на ПА. Виключити ймовірність серцево-судинних проблем дійсно не завадить, 
                    але є відмінності, що дозволяють відокремити один стан від іншого. Найочевидніші з 
                    них — тривалість епізоду, наявність болю і попереджувальних ознак.
                    <br>
                    Серцевий напад триває до тих пір, поки людина не отримує допомогу. Його нерідко супроводжує 
                    блювання та біль у грудях, який може іррадіювати в ліву руку або лопатку.
                    <br>
                    Натомість ПА зазвичай проходить за 20 хвилин сама, під час неї немає гострого болю в серці, 
                    а нудота не закінчується блюванням.
                </p>
            </div>
        </div>
    </div>
</section>