<section class="hero__section">
    <div class="container">
        <div class="hero__body">
            <div class="hero__autor">
                <div class="autor__name-block">
                    <img src="./images/doc1.png" alt="">
                    <div class="name__cont">
                        <div class="name__autor">Імʼя Прізвище</div> 
                        <div class="years">12 років практики</div>
                    </div>
                </div>
                <h1>Як позбутися панічних атак вагітним жінкам?</h1>
                <div class="date_post">
                    <div class="view__post">
                        <svg class="user-manual__icon-next" width="14" height="14">
                            <use href="./images/symbol-defs.svg#icon-subtract"></use>
                        </svg>
                        12k
                    </div> 
                    <div class="like__post">
                        <svg class="user-manual__icon-next" width="14" height="14">
                            <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                        </svg>
                        3k
                    </div>
                    <div class="num__post">20.02.2023</div>
                </div>
            </div>
            <div class="hero__img">
                <img src="./images/post-exe-main.jpg" alt="">
            </div>
        </div>
        <div class="post__container">
            <div class="post__content">
                <p>Нестерпне відчуття всепоглинаючого неконтрольованого панічного жаху без очевидных причин. 
                    Той, хто хоч раз пережив панічну атаку, не сплутає її ні з чим іншим. Ці нетривалі, але 
                    інтенсивні епізоди не на жарт лякають. Вони викликають всепоглинаючий безпричинний страх 
                    та виражені фізичні симптоми та можуть змусити вас думати, що ви помираєте просто зараз.
                    <br>
                    Панічні атаки несподівані та виснажливі, потужні та паралізуючі. Вони змушують серце калатати 
                    та створюють відчуття гострої нестачі кисню. Такі напади зазвичай виникають раптово, без 
                    будь-якого попередження, а нерідко без чіткого тригера. Панічні атаки вночі під час сну — також 
                    поширене явище.
                </p>
                <div class="purple__block">
                    <p>Напад паніки може бути одноразовим, але багато людей згодом переживають повторні епізоди. 
                        Їх можуть викликати певні ситуації, в яких відчувається небезпека та активується реакція 
                        «бий або біжи».
                    </p>
                </div>
                <p>
                    ПА бувають самостійним явищем, а бувають елементом розладів — власне панічного, соціофобії, 
                    ПТСР або депресії. Незалежно від причини, лікування панічних атак цілком можливе.
                </p>
                <h2>Симптоми панічної атаки</h2>
                <p>
                    ПА розвивається раптово і зазвичай досягає свого піку протягом 10 хвилин. У більшості 
                    випадків напад паніки припиняється протягом 20-30 хвилин, рідше триває до години.Симптоми 
                    ПА включають в себе:
                </p>
                <ul class="post_list">
                    <li>Задишку або гіпервентиляцію</li>
                    <li>Прискорене серцебиття</li>
                    <li>Біль або дискомфорт у грудях</li>
                    <li>Порушення дихання або відчуття задухи</li>
                    <li>Тремтіння або тряска</li>
                    <li>Почуття дезорієнтації та дереалізації</li>
                    <li>Підвищене потовиділення</li>
                    <li>Нудота</li>
                    <li>Відчуття запаморочення, переднепритомний стан або слабкість</li>
                    <li>Оніміння або поколювання в різних частинах тіла</li>
                    <li>Озноб чи припливи</li>
                    <li>Страх померти, втратити контроль над собою або збожеволіти.</li>
                </ul>
                <img class="banner_img" src="./images/post_banner.jpg" alt="">
                <h2>Серцевий напад або панічна атака?</h2>
                <p>
                    Панічна атака не несе небезпеки для життя. Але більшість вегетативних симптомів серйозні 
                    і схожі на серцевий напад. Виклик швидкої під час нападу — не рідкість для людей, що 
                    страждають на ПА. Виключити ймовірність серцево-судинних проблем дійсно не завадить, 
                    але є відмінності, що дозволяють відокремити один стан від іншого. Найочевидніші з 
                    них — тривалість епізоду, наявність болю і попереджувальних ознак.
                    <br>
                    Серцевий напад триває до тих пір, поки людина не отримує допомогу. Його нерідко супроводжує 
                    блювання та біль у грудях, який може іррадіювати в ліву руку або лопатку.
                    <br>
                    Натомість ПА зазвичай проходить за 20 хвилин сама, під час неї немає гострого болю в серці, 
                    а нудота не закінчується блюванням.
                </p>
                <div class="purple__block purple__block_2">
                    <h3>Пройдіть коротке опитування, щоб підібрати психолога, який працює з панічними атаками</h3>
                    <div class="pass__test">
                        <button class="pass__test_btn">Пройти опитування</button>
                        <div class="count__doc">
                            <ul class="doc__img">
                                <li><img src="./images/doc1.png" alt=""></li>
                                <li><img src="./images/doc2.png" alt=""></li>
                                <li><img src="./images/doc3.png" alt=""></li>
                            </ul>
                            <span><b>9 психлогів</b> <br>працюють з цим</span>
                        </div>
                    </div>
                </div>
                <h2>Біологічна теорія панічних розладів</h2>
                <p>
                    Одна з теорій панічного розладу полягає в тому, що його симптоми викликані хімічним 
                    дисбалансом в мозку. Гормон надниркових залоз кортизол, нейромедіатори серотонін та ГАМК 
                    найбільше впливають на схильність до ПА.
                </p>
                <div class="warning_block">
                    <p>ГАМК — це гальмівний нейромедіатор, який протидіє збудженню в мозку, спричиняє ефект 
                        розслаблення і пригнічуює тривогу. Дослідження показують, що у людей з панічним розладом 
                        рівень ГАМК нижчий за інших.
                    </p>
                </div>
                <h2>Дихальна гімнастика</h2>
                <p>
                    Дихальні тренування призначені для стримування гіпервентиляції, викликаної ПА. Ці вправи 
                    спрямовані на відпрацювання навички дихати повільніше, глибше і в звичайному темпі під 
                    час раптового нападу страху.
                </p>
                <div class="block__social">
                    <p>Сподобалась стаття?<br>
                    <b>Поділись нею у соц.мережах</b></p>
                    <div class="soc__icon">
                        <a href="#"><img src="./images/facebook.svg" alt=""></a>
                        <a href="#"><img src="./images/twitter.svg" alt=""></a>
                        <a href="#"><img src="./images/instagram.svg" alt=""></a>
                    </div>  
                </div>
                <div class="autor__post-block">
                    <h2>Автор статті</h2>
                    <div class="block__autor">
                        <div class="autor__img">
                            <img src="./images/women.jpg" alt="">
                        </div>
                        <div class="autor__info">
                            <h3>Марія Оса</h3>
                            <span>12 років практики</span>
                            <ul class="info__list">
                                <li>Тривога</li>
                                <li>Страх</li>
                                <li>Мотивація</li>
                                <li>Стосунки</li>
                                <li>Вигорання</li>
                            </ul>
                        </div>
                        <div class="autor__price">
                            <div class="price__item"><span>1 200</span> грн/год</div>
                            <div class="price__btns">
                                <button class="session_btn">Записатись на cеанс</button>
                                <button class="btn_hello"><img src="./images/15hv.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="others__post">
                    <h2>Інші статті автора</h2>
                    <ul class="articles__cards-wrap">     
                        <li class="articles__card-column">
                            <div class="card__block-title">
                                <img src="./images/vebinar-1.jpg" alt="">
                                <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                                <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                                    вчитися новим навичкам...
                                </p>
                            </div>
                            <div class="card__block-statistic">
                                <div class="statistic_left">
                                    <div class="card__view">
                                        <span>
                                            <svg class="articles-section__icon-subtract" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                            </svg>
                                            12К
                                        </span>
                                    </div>
                                    <div class="card__likes">
                                        <span>
                                            <svg class="articles-section__icon-black-heart" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                            </svg>
                                            3К
                                        </span>
                                    </div>
                                </div>
                                <div class="card__date">
                                    <span>20.02.2023</span>
                                </div>
                            </div>
                        </li> 
                        <li class="articles__card-column">
                            <div class="card__block-title">
                                <img src="./images/vebinar-2.jpg" alt="">
                                <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                                <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                                    вчитися новим навичкам...
                                </p>
                            </div>
                            <div class="card__block-statistic">
                                <div class="statistic_left">
                                    <div class="card__view">
                                        <span>
                                            <svg class="articles-section__icon-subtract" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                            </svg>
                                            12К
                                        </span>
                                    </div>
                                    <div class="card__likes">
                                        <span>
                                            <svg class="articles-section__icon-black-heart" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                            </svg>
                                            3К
                                        </span>
                                    </div>
                                </div>
                                <div class="card__date">
                                    <span>20.02.2023</span>
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div>

                <div class="doc__slider">
                    <h2>Інші психологи, що працюють з панічними атаками</h2>

                    <div class="slider">
                        <div class="slider__item">
                            <img src="./images/ivan.png" alt="">
                            <div class="sl_name">Іван Виговський</div> 
                            <div class="sl_price">300 грн/год</div>
                        </div>
                        <div class="slider__item">
                            <img src="./images/mariya_post.png" alt="">
                            <div class="sl_name">Марія Оса</div> 
                            <div class="sl_price">1200 грн/год</div>
                        </div>
                        <div class="slider__item">
                            <img src="./images/ivan.png" alt="">
                            <div class="sl_name">Іван Виговський</div> 
                            <div class="sl_price">300 грн/год</div>
                        </div>
                        <div class="slider__item">
                            <img src="./images/karina_post.png" alt="">
                            <div class="sl_name">Карина Вайн</div> 
                            <div class="sl_price">1000 грн/год</div>
                        </div>
                        <div class="slider__item">
                            <img src="./images/ivan.png" alt="">
                            <div class="sl_name">Іван Виговський</div> 
                            <div class="sl_price">300 грн/год</div>
                        </div>
                        <div class="slider__item">
                            <img src="./images/mariya_post.png" alt="">
                            <div class="sl_name">Марія Оса</div> 
                            <div class="sl_price">1200 грн/год</div>
                        </div>
                        <div class="slider__item">
                            <img src="./images/ivan.png" alt="">
                            <div class="sl_name">Іван Виговський</div> 
                            <div class="sl_price">300 грн/год</div>
                        </div>
                        <div class="slider__item">
                            <img src="./images/karina_post.png" alt="">
                            <div class="sl_name">Карина Вайн</div> 
                            <div class="sl_price">1000 грн/год</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>