<section class="user-manual">
    <div class="container user-manual__container">

        <div class="user-manual__thumb">
            <h2 class="user-manual__title">
                Переваги <span>mysense</span>
                <svg class="user-manual__icon-love-heart" width="10" height="8">
                    <use href="./images/symbol-defs.svg#icon-love-heart"></use>
                </svg>
            </h2>

            <p class="user-manual__text">Ми створили умови для комфортної довготривлої спаівпраці</p>

            <button class="user-manual__button">
                <svg class="user-manual__icon-next" width="14" height="14">
                    <use href="./images/symbol-defs.svg#next2"></use>
                </svg>
            </button>
        </div>

        <ul class="user-manual__list">
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <!-- <span class="user-manual__step">Крок</span> -->
                        <span class="user-manual__number">01</span>
                    </div>
                    <h3 class="card__title">Отримувати нових клієнтів з нами легко</h3>
                    <p class="card__text">Працюйте коли вам зручно, змінюйте графік скільки потрібно! Головне — отримуйте задоволення від роботи та результатів своїх клієнтів.</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/cooperation-step-1.png 1x, ./images/cooperation-step-1.png 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/cooperation-step-1.png 1x, ./images/cooperation-step-1.png 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/cooperation-step-1.png 1x, ./images/cooperation-step-1.png 2x" />
                    
                        <img alt="" src="./images/cooperation-step-1.png" />
                    </picture>
                </div>
            </li>
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <!-- <span class="user-manual__step">Крок</span> -->
                        <span class="user-manual__number">02</span>
                    </div>
                    <h3 class="card__title">Керуйте робочим графіком</h3>
                    <p class="card__text">Ви можете самостійно керувати свої робочим графіком з особистого кабінету, або тимчасово зробити свій профіль неактивним, якщо вирішите взяти відпустку</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/cooperation-step-2.1.png 1x, ./images/cooperation-step-2.1.png 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/cooperation-step-2.1.png 1x, ./images/cooperation-step-2.1.png 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/cooperation-step-2.1.png 1x, ./images/cooperation-step-2.1.png 2x" />
                
                        <img alt="" src="./images/cooperation-step-2.1.png" />
                    </picture>
                </div>
                <div class="user-manual__image user-manual__image--lower-image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/cooperation-step-2.2.png 1x, ./images/cooperation-step-2.2.png 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/cooperation-step-2.2.png 1x, ./images/cooperation-step-2.2.png 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/cooperation-step-2.2.png 1x, ./images/cooperation-step-2.2.png 2x" />
                
                        <img alt="" src="./images/cooperation-step-2.2.png" />
                    </picture>
                </div>
            </li>
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <!-- <span class="user-manual__step">Крок</span> -->
                        <span class="user-manual__number">03</span>
                    </div>
                    <h3 class="card__title">Якісний сервіс</h3>
                    <p class="card__text">Ми максимально спростили та автоматизували усі етапи роботи на платформі - реєстрація, обробки платежів, організація вебінарів, створення публікацій - усе легко і зрозуміло.</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/cooperation-step-3.png 1x, ./images/cooperation-step-3.png 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/cooperation-step-3.png 1x, ./images/cooperation-step-3.png 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/cooperation-step-3.png 1x, ./images/cooperation-step-3.png 2x" />
                
                        <img alt="" src="./images/cooperation-step-3.png" />
                    </picture>
                </div>
            </li>
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <!-- <span class="user-manual__step">Крок</span> -->
                        <span class="user-manual__number">04</span>
                    </div>
                    <h3 class="card__title">Допомога з розвитком особистого бренду</h3>
                    <p class="card__text">Створюйте свій простір психолога за допомогою нашої онлайн-платформи. Користуйтесь зручним інтерфейсом та послугою створення контенту, який можна поширювати у власних соцмережах.</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/cooperation-step-4.png 1x, ./images/cooperation-step-4.png 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/cooperation-step-4.png 1x, ./images/cooperation-step-4.png 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/cooperation-step-4.png 1x, ./images/cooperation-step-4.png 2x" />
                
                        <img alt="" src="./images/cooperation-step-4.png" />
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</div>
