<section class="articles">
    <div class="articles__container container">
        <div class="articles__body">
            <div class="articles__cards-wrap">      

                <div class="articles__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-1.jpg" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-1.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                        <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                            вчитися новим навичкам...
                        </p>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="articles-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="articles-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>
                
                <div class="articles__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-2.jpg" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-2.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                        <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                            вчитися новим навичкам...
                        </p>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="articles-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="articles-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>

                <div class="articles__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-3.jpg" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-3.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                        <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                            вчитися новим навичкам...
                        </p>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="articles-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="articles-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>

                <div class="articles__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-1.jpg" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-1.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                        <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                            вчитися новим навичкам...
                        </p>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="articles-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="articles-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>
                
                <div class="articles__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-2.jpg" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-2.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                        <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                            вчитися новим навичкам...
                        </p>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="articles-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="articles-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>

                <div class="articles__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-3.jpg" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-3.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                        <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                            вчитися новим навичкам...
                        </p>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="articles-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="articles-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>

            </div>
            <button type="button" class="articles__btn">Показати ще </button>
        </div>
    </div>
</section>