<section class="category">
    <div class="category__container container">
        <div class="category__body">
            <h2 class="category__title">Оберіть вікову категорію</h2>
            <div class="category__cards">

                <div class="category__card-wrap">
                    <button class="card__link-btn">
                        <h3 class="category__card-title">Малята</h3>
                        <div class="category__card-old">
                           <span>0-3 роки</span>
                        </div>
                    </button>
                </div>
                <div class="category__card-wrap">
                    <button class="card__link-btn">
                        <h3 class="category__card-title">Молодший дошкільний вік</h3>
                        <div class="category__card-old">
                           <span>3-6 років</span>
                        </div>
                    </button>
                </div>
                <div class="category__card-wrap">
                    <button class="card__link-btn">
                        <h3 class="category__card-title">Молодший шкільний вік</h3>
                        <div class="category__card-old">
                           <span>6-10 років</span>
                        </div>
                    </button>
                </div>
                <div class="category__card-wrap">
                    <button class="card__link-btn">
                        <h3 class="category__card-title">Молодші підлітки</h3>
                        <div class="category__card-old">
                           <span>10-15 років</span>
                        </div>
                    </button>
                </div>
                <div class="category__card-wrap">
                    <button class="card__link-btn">
                        <h3 class="category__card-title">Старші підлітки</h3>
                        <div class="category__card-old">
                           <span>15-18 років</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>