<section class="choice">
    <div class="choice__container container">
        <div class="choice__body">
            <div class="choice__block-title">
                <h2 class="choice__title">З нами працюють <span>лише кваліфіковані</span> психологи
                    <svg class="choice-section__icon-heart" width="14" height="12">
                        <use href="./images/symbol-defs.svg#icon-heart"></use>
                    </svg>
                </h2>
                <div class="choice__right-block">
                    <div class="choice__number">15<span>%</span></div>
                    <p>спеціалістів проходять відбір і стають частиною нашої команди</p>
                </div>
            </div>

            <h3 class="choice__subtitle">Критерії відбору</h3>
            <div class="criteria__wrapper">
                <div class="criteria__row">
                    <div class="criteria__num">01</div>
                    <div class="criteria__info-block">
                        <div class="criteria__name">Вища освіта та підвищення кваліфікації</div>
                        <div class="criteria__descr">Усі спеціалісти мають вищу психологічну/ медичну освіту, 
                            а також сертифіковані у визнаних підходах терапії.
                        </div>
                    </div>
                </div>
                <div class="criteria__row">
                    <div class="criteria__num">02</div>
                    <div class="criteria__info-block">
                        <div class="criteria__name">Психологічна практика  від 3-х років</div>
                        <div class="criteria__descr">З Вами працюють досвічені психологи, що проходять обовʼязкову особисту 
                            терапію та супервізію.
                        </div>
                    </div>
                </div>
                <div class="criteria__row">
                    <div class="criteria__num">03</div>
                    <div class="criteria__info-block">
                        <div class="criteria__name">Успішне проходження співбесіди</div>
                        <div class="criteria__descr">Ретельно перевіряємо професійні та особисті 
                            якості психологів.
                        </div>
                    </div>
                </div>
            </div>
            <div class="criteria__block-btn">
                <div class="criteria__arrow">
                    <svg class="icon-arrow-r-grey" width="16" height="16">
                        <use href="./images/symbol-defs.svg#icon-arrow-r-grey"></use>
                    </svg>
                </div>
                <button type="button" class="criteria__btn">Обрати свого психолога</button>
            </div>
        </div>
    </div>
</section>