<section class="consern visually-hidden">
  <div class="consern__container container">
    <div class="consern__body">
      <h2 class="consern__title">Оберіть запити, які вас турбують</h2>
      <div class="consern__cards">
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">
              Наші стосунки зайшли у глухий кут
            </h3>
            <div class="consern__card__icon">
              <svg class="icon__crds" width="44" height="43">
                <use href="./images/symbol-defs.svg#icon-back"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">
              Розлучаємося. Потребуємо підтримки
            </h3>
            <div class="consern__card__ico consern_cart-2">
              <!-- <svg class="icon__crds icon-cloudsunrain" width="44" height="43">
                                <use href="./images/symbol-defs.svg#icon-cloudsunrain"></use>
                            </svg> -->
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">У наших стосунках зрада</h3>
            <div class="consern__card__icon consern_cart-3">
              <!-- <svg class="icon__crds icon-cloudsunrain" width="44" height="43">
                                <use href="./images/symbol-defs.svg#icon-cloudsunrain"></use>
                            </svg> -->
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">Я ревную/мене ревнують</h3>
            <div class="consern__card__icon">
              <svg class="icon__crds icon-cloudsunrain" width="44" height="43">
                <use href="./images/symbol-defs.svg#icon-yeas"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">
              Маємо проблему у сексуальному житті
            </h3>
            <div class="consern__card__icon consern_cart-5">
              <!-- <svg class="icon__crds icon-cloudsunrain" width="44" height="43">
                                <use href="./images/symbol-defs.svg#icon-cloudsunrain"></use>
                            </svg> -->
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">У нас фінансові труднощі</h3>
            <div class="consern__card__icon consern_cart-6">
              <!-- <svg class="icon__crds icon-cloudsunrain" width="44" height="43">
                                <use href="./images/symbol-defs.svg#icon-cloudsunrain"></use>
                            </svg> -->
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">
              Сперечаємося щодо виховання дітей
            </h3>
            <div class="consern__card__icon">
              <svg class="icon__crds" width="36" height="34">
                <use href="./images/symbol-defs.svg#icon-face-child"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">
              Стосунки на відстані. Маємо складнощі
            </h3>
            <div class="consern__card__icon">
              <svg class="icon__crds" width="44" height="43">
                <use href="./images/symbol-defs.svg#icon-family-cart-8"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="consern__card-wrap">
          <button class="card__link-btn">
            <h3 class="consern__card-title">Плануємо вагітність/ пологи</h3>
            <div class="consern__card__icon">
              <svg class="icon__crds icon-cloudsunrain" width="48" height="48">
                <use href="./images/symbol-defs.svg#icon-family-cart-9"></use>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
