<section class="cooperation-with-us-section">
  <div class="container">
    <h2 class="cooperation-with-us-section__title">Співпраця з нами це:</h2>
  </div>

  <div class="cooperation-with-us-section__container container">
    <ul class="advantages">
      <li class="advantages__item">
        <h3 class="advantages__title--numeric">1495</h3>
        <p class="advantages__description">
          усього потенційних клієнтів на нашій платформі
        </p>
      </li>
    
      <li class="advantages__item">
        <h3 class="advantages__title--numeric">≈ 30</h3>
        <p class="advantages__description">
          Нових користувачів щодня реєструються на нашій платформі
        </p>
      </li>
    
      <li class="advantages__item">
        <h3 class="advantages__title--numeric">84%</h3>
        <p class="advantages__description">
          Психологів повністю завантажені клієнтами з нашої платформи
        </p>
      </li>
    
      <li class="advantages__item">
        <h3 class="advantages__title">Розвиток <br> особистого бренду</h3>
        <p class="advantages__description advantages__description--mobile-tablet">
          Можливість розвивати особистий бренд без вкладень в рекламу
        </p>
        <p class="advantages__description advantages__description--desktop">
          Допомагаємо розвивати імідж спеціаліста, створювати професійний контент для блогу <br> із можливістю поширювати у власні
          соцмережі.
        </p>
      </li>
    
      <li class="advantages__item">
        <h3 class="advantages__title advantages__title--mobile-tablet">Підтримка психологів</h3>
        <h3 class="advantages__title advantages__title--desktop">Підтримка <br> команди my sense</h3>

        <p class="advantages__description advantages__description--mobile-tablet">
          Все що треба від вас — якісна робота, про все інше подбаємо ми
        </p>
        <p class="advantages__description advantages__description--desktop">
          Партнерські відносини та захист прав кожного члена команди. Повна автоматизація процесу обслуговування клієнта. Допомога із веденням фінансових операцій.
        </p>
      </li>
    </ul>
  </div>

</section>
