<section class="cooperation-with-us-section">
  <div class="container">
    <h2 class="cooperation-with-us-section__title">Співпраця з нами це:</h2>

    <ul class="cooperation-with-us-section__advantages advantages">
      <li class="advantages__item">
        <h3 class="advantages__title">1495</h3>
        <p class="advantages__description">
          усього потенційних клієнтів на нашій платформі
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">≈ 30</h3>
        <p class="advantages__description">
          Нових користувачів щодня реєструються на нашій платформі
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">84%</h3>
        <p class="advantages__description">
          Психологів повністю завантажені клієнтами з нашої платформи
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Розвиток особистого бренду</h3>
        <p class="advantages__description">
          Можливість розвивати особистий бренд без вкладень в рекламу
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title">Підтримка психологів</h3>
        <p class="advantages__description">
          Все що треба від вас — якісна робота, про все інше подбаємо ми
        </p>
      </li>
    </ul>
  </div>
</section>
