<section class="cost visually-hidden">
  <!-- visually-hidden -->
  <div class="category__container container">
    <div class="category__body">
      <h2 class="category__title">Оберіть прийнятну вартість консультації</h2>
      <div class="category__cards cost__cards">
        <div class="category__card-wrap">
          <button class="card__link-btn" data-button-cost="До 1 000 грн">
            <h3 class="cost__card-title">До 1 000 грн</h3>
            <div class="cost__card__icon cost__card__icon_1"></div>
          </button>
        </div>
        <div class="category__card-wrap">
          <button class="card__link-btn" data-button-cost="До 2 000 грн">
            <h3 class="cost__card-title">До 2 000 грн</h3>
            <div class="cost__card__icon cost__card__icon_2"></div>
          </button>
        </div>
        <div class="category__card-wrap">
          <button class="card__link-btn" data-button-cost="2 000 грн і більше">
            <h3 class="cost__card-title">2 000 грн і більше</h3>
            <div class="cost__card__icon cost__card__icon_3"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
