<section class="faq">
    <div class="faq__container container">
        <div class="faq__body">
            <h2 class="faq__title">Відповіді на запитання, <br>які можуть у вас виникнути
                <!-- <svg class="faq-section__icon-heart" width="14" height="12"> 
                    <use href="/mysense/symbol-defs.f153562a.svg#icon-heart"></use> 
                </svg> -->
            </h2>
            <div class="faq__items item">
                <div class="item__content">
                    <div class="item__wrap">
                        <div class="item__number">01</div>
                        <div class="item__title">Як сформулювати запит до психолога?</div>
                    </div>
                    <div class="item__text">
                        <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                            та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                            психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                            нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                            процесів, видає висновки для психіатра.
                        </p>
                        <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                            можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                            працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                            більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                            наприклад когнітивно-поведінкова терапія.‍
                        </p>
                        <p>
                            Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                            та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                            медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                            труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                            розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                            виконувати щоденні завдання, загрожують життю людини або її близьким.
                        </p>
                    </div>
                </div>
                <div class="item__content">
                    <div class="item__wrap">
                        <div class="item__number">02</div>
                        <div class="item__title">У чому різниця між психологом, психотерапевтом та психіатром?</div>
                    </div>
                    <div class="item__text">
                        <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                            та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                            психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                            нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                            процесів, видає висновки для психіатра.
                        </p>
                        <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                            можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                            працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                            більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                            наприклад когнітивно-поведінкова терапія.‍
                        </p>
                        <p>
                            Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                            та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                            медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                            труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                            розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                            виконувати щоденні завдання, загрожують життю людини або її близьким.
                        </p>
                    </div>
                </div>
                <div class="item__content">
                    <div class="item__wrap">
                        <div class="item__number">03</div>
                        <div class="item__title">Як відбувається оплата та формат сесії?</div>
                    </div>
                    <div class="item__text">
                        <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                            та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                            психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                            нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                            процесів, видає висновки для психіатра.
                        </p>
                        <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                            можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                            працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                            більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                            наприклад когнітивно-поведінкова терапія.‍
                        </p>
                        <p>
                            Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                            та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                            медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                            труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                            розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                            виконувати щоденні завдання, загрожують життю людини або її близьким.
                        </p>
                    </div>
                </div>
                <div class="item__content">
                    <div class="item__wrap">
                        <div class="item__number">04</div>
                        <div class="item__title">Як обрати спеціаліста?</div>
                    </div>
                    <div class="item__text">
                        <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                            та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                            психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                            нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                            процесів, видає висновки для психіатра.
                        </p>
                        <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                            можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                            працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                            більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                            наприклад когнітивно-поведінкова терапія.‍
                        </p>
                        <p>
                            Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                            та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                            медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                            труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                            розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                            виконувати щоденні завдання, загрожують життю людини або її близьким.
                        </p>
                    </div>
                </div>
                <div class="item__content">
                    <div class="item__wrap">
                        <div class="item__number">05</div>
                        <div class="item__title">Скільки коштує сесія з фахівцем?</div>
                    </div>
                    <div class="item__text">
                        <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                            та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                            психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                            нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                            процесів, видає висновки для психіатра.
                        </p>
                        <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                            можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                            працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                            більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                            наприклад когнітивно-поведінкова терапія.‍
                        </p>
                        <p>
                            Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                            та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                            медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                            труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                            розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                            виконувати щоденні завдання, загрожують життю людини або її близьким.
                        </p>
                    </div>
                </div>
                <div class="item__content">
                    <div class="item__wrap">
                        <div class="item__number">06</div>
                        <div class="item__title">Як відбувається перша сесія?</div>
                    </div>
                    <div class="item__text">
                        <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                            та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                            психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                            нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                            процесів, видає висновки для психіатра.
                        </p>
                        <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                            можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                            працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                            більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                            наприклад когнітивно-поведінкова терапія.‍
                        </p>
                        <p>
                            Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                            та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                            медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                            труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                            розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                            виконувати щоденні завдання, загрожують життю людини або її близьким.
                        </p>
                    </div>
                </div>
                <div class="item__content">
                    <div class="item__wrap">
                        <div class="item__number">07</div>
                        <div class="item__title">Скільки сесій мені потрібно і який результат я отримаю?</div>
                    </div>
                    <div class="item__text">
                        <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                            та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                            психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                            нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                            процесів, видає висновки для психіатра.
                        </p>
                        <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                            можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                            працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                            більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                            наприклад когнітивно-поведінкова терапія.‍
                        </p>
                        <p>
                            Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                            та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                            медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                            труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                            розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                            виконувати щоденні завдання, загрожують життю людини або її близьким.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq__article">
                <p>Психолог — фахівець, який має вищу психологічну освіту. Зазвичай робота з психологом короткострокова 
                    та займає кілька зустрічей, щоб розібратися з конкретною проблемою чи ситуацією.‍Існують також клінічні 
                    психологи: це фахівці, які мають вищу психологічну освіту, які знають не тільки про розвиток психіки в 
                    нормі, а й про її патології-психічні хвороби. Клінічний психолог оцінює функціонування психічних 
                    процесів, видає висновки для психіатра.
                </p>
                <p>Психотерапевт — спеціаліст з медичною освітою або з вищою/додатковою психологічною освітою. Перші 
                    можуть виписувати медикаментозне лікування та доповнювати його деякими видами психотерапії. Другі 
                    працюють з тим, що ми зазвичай маємо на увазі під психотерапією, таких терапевтів на нашій платформі 
                    більшість. Вони використовують довгострокові, наприклад, психоаналіз, і короткострокові методи, 
                    наприклад когнітивно-поведінкова терапія.‍
                </p>
                <p>
                    Психіатр — спеціаліст, який має вищу медичну освіту. Психіатр займається діагностикою, профілактикою 
                    та лікуванням психічних хвороб, спираючись на фізіологію. У більшості випадків йдеться про 
                    медикаментозне лікування.Людині без виражених ментальних розладів, яка переживає певні життєві 
                    труднощі та відповідні психологічні проблеми, достатньо отримати допомогу психолога. Під ментальними 
                    розладами можна розуміти певні стани або дії людини, які суттєво знижують якість життя, заважають 
                    виконувати щоденні завдання, загрожують життю людини або її близьким.
                </p>
            </div>
        </div>
    </div>
</section>
