<section class="filter">
    <div class="filter__container container">
        <div class="filter__body">
            <div class="filter__title">
                <h1>Статті</h1>
            </div>
            <div class="filter__inputs">
                <div class="input__search">
                    <input type="search" placeholder="Знайти статтю або автора" id="site-search" name="search">
                </div>
                <div class="input__select">
                      <form>
                        <div class="__select" data-state="">
                            <div class="__select__title"></div>
                          <div class="__select__content">
                            <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                            <label for="singleSelect0" tabindex="0" class="__select__label" data-value="Найновіші"></label>
                            <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect1" tabindex="0" class="__select__label" data-value="Давні статті"></label>
                            <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect2" tabindex="0" class="__select__label" data-value="За алфавітом"></label>
                          </div>
                        </div>
                      </form>
                      <div class="select-block">
                        <div class="__select" data-state="">
                            <div class="__select__title"></div>
                          <div class="__select__content">
                            <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
                            <label for="singleSelect0" tabindex="0" class="__select__label" data-value="Усі статті"></label>
                            <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect1" tabindex="0" class="__select__label" data-value="Фільтрувати по автору"></label>
                            <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect2" tabindex="0" class="__select__label" data-value="Фільтрувати по даті"></label>
                            <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
                            <label for="singleSelect2" tabindex="0" class="__select__label" data-value="Фільтрувати по темі"></label>
                          </div>
                        </div>
                      </form>
                      
                </div>
                </div>
            </div>
        </div>
    </div>
</section>


