<footer class="footer">
    <div class="footer__container container">
        <div class="footer__body">

            <div class="footer__left">
                <a class="footer__logo" href="./index.html">
                    <svg class="logo__footer-icon" width="142" height="24.11">
                      <use href="./images/symbol-defs.svg#Layer_1"></use>
                    </svg>
                </a>
               <div class="footer__block-links">
                    <ul class="footer__list">
                        <li class="footer__link"><a href="#">Психологи</a></li>
                        <li class="footer__link"><a href="#">Психологічні тести</a></li>
                        <li class="footer__link"><a href="./articlespage.html">Статті</a></li>
                        <li class="footer__link"><a href="#">Онлайн-сеанси</a></li>
                    </ul>
                    <a href="./cooperation.html" class="link-psiholog">Психологам</a>
                    <button class="footer_sign-in" type="button">
                        <svg class="sign-in-icon" width="11" height="14">
                            <use href="./images/symbol-defs.svg#icon-sign-in"></use>
                        </svg>Вхід для психологів
                    </button>
               </div>
                <div class="copyright">
                    <span>© 2023 Mysense. All rights reserved. Design by Fooror</span>
                </div> 
            </div>

            <div class="footer__right">
                <button class="footer__support" type="button">Відділ підтримки</button>
                <a href="#" class="footer__mail">hello@mysense.com</a>
                <div class="footer__social">
                    <a href="#" class="social__icon">
                        <svg class="footer-icon" width="18" height="18">
                            <use href="./images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="social__icon">
                        <svg class="footer-icon" width="18" height="18">
                            <use href="./images/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                    <a href="#" class="social__icon">
                        <svg class="footer-icon" width="18" height="15">
                            <use href="./images/symbol-defs.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>

        </div>
    </div>
</footer>
