<section class="category ">
	<!-- visually-hidden -->
	<div class="category__container container">
		<div class="category__body">
			<h2 class="category__title">Оберіть стать психолога</h2>
			<div class="category__cards gender__cards">
				<div class="category__card-wrap">
					<button class="card__link-btn">
						<h3 class="gender__card-title">Чоловік</h3>
						<div class="gender__card__icon gender__card__icon_1"></div>
					</button>
				</div>
				<div class="category__card-wrap">
					<button class="card__link-btn">
						<h3 class="gender__card-title">Жінка</h3>
						<div class="gender__card__icon gender__card__icon_2"></div>
					</button>
				</div>
				<div class="category__card-wrap">
					<button class="card__link-btn">
						<h3 class="gender__card-title">Не важливо</h3>
						<div class="gender__card__icon gender__card__icon_3"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
