<!--верхняя линия хедер-->
<header class="page-header">
  <div class="container page-header__conteiner">
    <!--раздел основной навигации-->
    <nav class="main-nav">
      <!--логотип хедер-->
      <a class="logo__link link" href="./index.html">
        <svg class="logo__header-icon" width="142" height="24.11">
          <use href="./images/symbol-defs.svg#Layer_1"></use>
        </svg>
      </a>
      <!-- навигация по сайту -->
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Психологи</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Статті</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Вебінари</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Тести</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Психологам</a>
        </li>
      </ul>
    </nav>

    <div class="language-menu">
      <button class="language-toggle">ua</button>
      <ul class="language-list">
        <li><a href="#" lang="en">en</a></li>
        <li><a href="#" lang="ua">ua</a></li>
      </ul>
    </div>
  </div>
</header>
