<!--верхняя линия хедер-->
<header class="page-header">
  <div class="container page-header__conteiner">
    <!--раздел основной навигации-->
    <nav class="main-nav">
      <!--логотип хедер-->
      <a class="logo__link link" href="./index.html">
        <svg class="logo__header-icon" width="142" height="24.11">
          <use href="./images/symbol-defs.svg#Layer_1"></use>
        </svg>
      </a>
      <!-- навигация по сайту -->
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Психологи</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Статті</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Вебінари</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Тести</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav__link">Психологам</a>
        </li>
      </ul>
    </nav>

    <div class="language-menu">
      <div class="language-toggle">
        <span class="language">UA</span>
        <svg class="icon-arrow" width="9" height="4">
          <use href="./images/symbol-defs.svg#Arrow"></use>
        </svg>
      </div>
      <ul class="language-list">
        <li><a href="#" lang="en">EN</a></li>
        <li><a href="#" lang="ua">UA</a></li>
      </ul>
    </div>

    <button class="page-header__button login">Вхід</button>

    <button class="page-header__button choose-person">Обрати психолога</button>

    <!-- menu-toggle variant1 -->
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle__icon-menu" width="40" height="40">
        <use href="./images/symbol-defs.svg#menu_40px"></use>
      </svg>
    </button>

    <div class="menu-container js-menu-container" id="mobile-menu">
      <div class="cont">
        <button class="menu-toggle js-close-menu">
          <svg class="menu-toggle__icon-close" width="40" height="40">
            <use href="./images/symbol-defs.svg#close_40px"></use>
          </svg>
        </button>

        <!-- <div class="navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a
                class="navigation__link navigation__link--current"
                href="./index.html"
                >Студия</a
              >
            </li>

            <li class="navigation__item">
              <a class="navigation__link" href="#">Портфолио</a>
            </li>

            <li class="navigation__item">
              <a class="navigation__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>

        <div class="contacts">
          <ul class="contacts__list">
            <li class="contacts__item">
              <a class="contacts__link" href="">+38 096 111 11 11</a>
            </li>

            <li class="contacts__item">
              <a class="contacts__link" href="">info@devstudio.com</a>
            </li>
          </ul>
        </div>

        <div class="social-networks">
          <ul class="social-networks__list">
            <li class="social-networks__item">
              <a class="social-networks__link" href="">Instagram</a>
            </li>

            <li class="social-networks__item">
              <a class="social-networks__link" href="">Twitter</a>
            </li>

            <li class="social-networks__item">
              <a class="social-networks__link" href="">Facebook</a>
            </li>

            <li class="social-networks__item">
              <a class="social-networks__link" href="">LinkedIn</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
</header>
