<section class="hero-section">
    <div class="container hero-section-container">
        <h1 class="hero-section__title">
            Оберіть свого психолога
            <svg class="hero-section__icon-love-heart" width="14" height="12">
                <use href="./images/symbol-defs.svg#icon-love-heart"></use>
            </svg>
        </h1>
        <p class="hero-section__text">My Sense — онлайн-платформа психологічної турботи</p>
    </div>
    <div class="hero-section__content-container">
        <div class="hero-section__content">
            <p class="hero-section__content-text"><span>Пройдіть короткий тест</span>, щоб підбір спеціаліста був
                максимально
                точним до Вашого запиту</p>
            <button class="hero-section__content-button">
                Пройти тест
                <svg class="hero-section__content-button-icon" width="14" height="14">
                    <use href="./images/symbol-defs.svg#test"></use>
                </svg>
            </button>
            <ul class="list hero-section__content-list">
                <li class="hero-section__content-list-item">
                    <p class="hero-section__content-list-item-span">Ai</p>
                    <p class="hero-section__content-list-item-text">Розумні алгоритми</p>
                </li>
                <li class="hero-section__content-list-item">
                    <p class="hero-section__content-list-item-span">1<span>хв</span></p>
                    <p class="hero-section__content-list-item-text">Швидкий підбір спеціалістів</p>
                </li>
            </ul>
        </div>
    </div>
</section>