<section class="hero-section">
  <div class="container hero-section__container">
    <h1 class="hero-section__title">
      Знайдіть свого клієнта
      <svg class="hero-section__icon-love-heart">
        <use href="./images/symbol-defs.svg#icon-love-heart"></use>
      </svg>
    </h1>
    <p class="hero-section__text">
      My Sense — це онлайн-платформа психологічної турботи
    </p>
  </div>

  <div class="hero-section__content-container">
    <div class="hero-section__content">
      <p class="hero-section__content-text">
        Зосередьтесь на психологічній практиці, а про все інше подбаємо ми
      </p>
      <button type="button" class="hero-section__content-button">
        Подати заявку на співпрацю
        <svg class="hero-section__content-button-icon" width="14" height="14">
          <use href="./images/symbol-defs.svg#test"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
