<section class="choice">
    <div class="choice__container container">
        <div class="choice__body">
            <div class="choice__block-title">
                <h2 class="choice__title">Запрошуємо психологів до співпраці
                    <svg class="choice-section__icon-heart" width="14" height="12">
                        <use href="./images/symbol-defs.svg#icon-heart"></use>
                    </svg>
                </h2>
                <div class="choice__right-block">
                    <p>Цінність my sense — надання якісних психологічих послуг.</p>
                </div>
            </div>

            <h3 class="choice__subtitle">Критерії відбору</h3>
            <div class="criteria__wrapper">
                <div class="criteria__row">
                    <div class="criteria__num">01</div>
                    <div class="criteria__info-block">
                        <div class="criteria__name">Вища освіта та підвищення кваліфікації</div>
                        <div class="criteria__descr">Підготуйте Ваші дипломи про вищу психологічну/ медичну освіту та додаткові сертифікати 
                            з обраних Вами підходів терапії.
                        </div>
                    </div>
                </div>
                <div class="criteria__row">
                    <div class="criteria__num">02</div>
                    <div class="criteria__info-block">
                        <div class="criteria__name">Психологічна практика  від 3-х років</div>
                        <div class="criteria__descr">Безперервний досвід роботи, проходження особистої терапії та 
                            супервізії — обовʼязкові для співпраці з нами.
                        </div>
                    </div>
                </div>
                <div class="criteria__row">
                    <div class="criteria__num">03</div>
                    <div class="criteria__info-block">
                        <div class="criteria__name">Успішне проходження співбесіди</div>
                        <div class="criteria__descr">Дружня розмова двох психологів, яка допоможе зрозуміти наскільки 
                            ми підходимо один одному.
                        </div>
                    </div>
                </div>
            </div>
            <div class="criteria__block-btn">
                <div class="criteria__arrow">
                    <svg class="icon-arrow-r-grey" width="16" height="16">
                        <use href="./images/symbol-defs.svg#icon-arrow-r-grey"></use>
                    </svg>
                </div>
                <button type="button" class="criteria__btn">Подати заявку на співбесіду</button>
            </div>
        </div>
    </div>
</section>