<section class="category ">
	<!-- visually-hidden -->
	<div class="category__container container">
		<div class="category__body">
			<h2 class="category__title">Оберіть мову спілкування</h2>
			<div class="category__cards lang__cards">
				<div class="category__card-wrap">
					<button class="card__link-btn">
						<h3 class="lang__card-title">Українська</h3>
						<div class="lang__card__icon lang__card__icon_1"></div>
					</button>
				</div>
				<div class="category__card-wrap">
					<button class="card__link-btn">
						<h3 class="lang__card-title">Російська</h3>
						<div class="lang__card__icon lang__card__icon_2"></div>
					</button>
				</div>
				<div class="category__card-wrap">
					<button class="card__link-btn">
						<h3 class="lang__card-title">Не важливо</h3>
						<div class="lang__card__icon lang__card__icon_3"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>
