<section class="our-team">
    <div class="container our-team__container">

        <div class="our-team__header">
            <h2 class="our-team__title">
                Наші спеціалісти
                <br>
                готові Вам допомогти
                <svg class="our-team__icon" width="10" height="8">
                    <use href="./images/symbol-defs.svg#icon-love-heart"></use>
                </svg>
            </h2>

            <div class="all-specialists all-specialists--hidden-desktop">
                <h3 class="all-specialists__title"><span>Понад </span><span>50 психологів</span></h3>
                
                <div class="all-specialists__gallery">
                    <span class="small-image">
                        <img src="./images/vebinar-mini-img1.png" alt="Фото Іван Виговський" />
                    </span>
                    <span class="small-image">
                        <img src="./images/vebinar-mini-img2.png" alt="Фото Іван Виговський" />
                    </span>
                    <span class="small-image">
                        <img src="./images/vebinar-mini-img3.png" alt="Фото Іван Виговський" />
                    </span>
                    <div class="all-specialists__button-wrapper">
                        <button class="all-specialists__button-show-more">Усі психологи</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="our-team__list-cards">
            <div class="our-team__list-container">
                <ul class="our-team__list"></ul>
            </div>
        </div>

        <div class="all-specialists all-specialists--hidden-mobile-tablet">

            <h3 class="all-specialists__title"><span>Понад </span><span>50 психологів</span></h3>

            <div class="all-specialists__gallery">
                <span class="small-image">
                    <img src="./images/vebinar-mini-img1.png" alt="Фото Іван Виговський" />
                </span>
                <span class="small-image">
                    <img src="./images/vebinar-mini-img2.png" alt="Фото Іван Виговський" />
                </span>
                <span class="small-image">
                    <img src="./images/vebinar-mini-img3.png" alt="Фото Іван Виговський" />
                </span>
                <div class="all-specialists__button-wrapper">
                    <button class="all-specialists__button-show-more">Усі психологи</button>
                </div>
            </div>

        </div>
    </div>
</section>
