<section class="our-team">
    <div class="container our-team__container">
        <div class="our-team__header">
            <h2 class="our-team__title">
                Наші спеціалісти
                <br>
                готові Вам допомогти
                <svg class="our-team__icon" width="10" height="8">
                    <use href="./images/symbol-defs.svg#icon-love-heart"></use>
                </svg>
            </h2>
            <div class="our-team__all-specialists">
                
            </div>
        </div>

        <div class="our-team__list-container">
            <ul class="our-team__list">
                <li>Элемент 1</li>
                <li>Элемент 2</li>
                <li>Элемент 3</li>
                <li>Элемент 4</li>
                <li>Элемент 5</li>
                <li>Элемент 6</li>
                <li>Элемент 7</li>
                <li>Элемент 8</li>
            </ul>
        </div>
    </div>
</div>