<section class="our-team">
    <div class="container our-team__container">
        <div class="our-team__header">
            <h2 class="our-team__title">
                Наші спеціалісти
                <br>
                готові Вам допомогти
                <svg class="our-team__icon" width="10" height="8">
                    <use href="./images/symbol-defs.svg#icon-love-heart"></use>
                </svg>
            </h2>
            <div class="our-team__all-specialists">
                
            </div>
        </div>
        <div class="our-team__list-scroll">
            <div class="our-team__list-container">
                <ul class="our-team__list">
                    <li class="our-team__item">Элемент 1</li>
                    <li class="our-team__item">Элемент 2</li>
                    <li class="our-team__item">Элемент 3</li>
                    <li class="our-team__item">Элемент 4</li>
                    <li class="our-team__item">Элемент 5</li>
                    <li class="our-team__item">Элемент 6</li>
                    <li class="our-team__item">Элемент 7</li>
                    <li class="our-team__member">
                        <picture>
                            <!-- <source
                                srcset="./images/imgMarketing270.jpg 1x, ./images/imgMarketing270@2x.jpg 2x, ./images/imgMarketing270@3x.jpg 3x"
                                media="(min-width: 1200px)" type="image/jpeg" />
                            <source
                                srcset="./images/imgMarketing354.jpg 1x, ./images/imgMarketing354@2x.jpg 2x, ./images/imgMarketing354@3x.jpg 3x"
                                media="(min-width: 768px)" type="image/jpeg" />
                            <source
                                srcset="./images/imgMarketing450.jpg 1x, ./images/imgMarketing450@2x.jpg 2x, ./images/imgMarketing450@3x.jpg 3x"
                                media="(min-width: 480px)" type="image/jpeg" />
                    
                            <img srcset="./images/imgMarketing270.jpg 270w, ./images/imgMarketing354.jpg 354w, ./images/imgMarketing450.jpg 450w"
                                sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, 100vw" src="/images/imgMarketing450.jpg"
                                alt="Описание изображения для всех версий" />
                        </picture> -->
                        <div class="team-member__bottom-description">
                            <h3 class="team-member__title">Николай Тарасов</h3>
                            <p class="team-member__text">Marketing</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
