<section class="psychologists-section">
  <div class="container psychologists-section-container">
    <div class="flex-wrapper">

      <h1 class="psychologists-section__title">Психологи</h1>
      <div class="search-filter-wrapper">

        <input
          class="search-input"
          type="text"
          name="filter"
          placeholder="Знайти психолога по імені"
        />

        <div class="sort-filter-wrapper">
          <div class="sort-menu">
            <div class="sort-toggle">
              <span class="sort-value">Сортувати</span>
              <svg class="sort-icon-arrow" width="11" height="6">
                <use href="./images/symbol-defs.svg#Arrow"></use>
              </svg>
            </div>
            <!-- <ul class="sort-list">
              <li class="sort-item likes">за лайками</li>
              <li class="sort-item date">за датою</li>
            </ul> -->
          </div>

          <div class="filter-menu">
            <div class="filter-toggle">
              <span class="filter-value">Фільтри</span>
              <svg class="filter-icon-arrow" width="11" height="6">
                <use href="./images/symbol-defs.svg#Arrow"></use>
              </svg>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
