<section class="psychologists-section">
  <div class="container">
    <!-- psychologists-section__search  -->
    <div class="flex-wrapper">
      <h1 class="psychologists-section__title">Психологи</h1>

      <div class="psychologists-section__search">
        <input
          class="psychologists-section__search-input"
          type="text"
          name="filter"
          placeholder="Пошук"
        />

        <div class="sort-filter-wrapper">
          <div class="sort-menu">
            <button type="button" class="sort-toggle">
              <span class="sort-value">Сортувати</span>
              <svg class="sort-icon-arrow" width="11" height="6">
                <use href="./images/symbol-defs.svg#Arrow"></use>
              </svg>
            </button>
            <ul class="sort-list">
              <li class="sort-item">
                <button class="sort-button" type="button" data-sort="price">
                  за ціною
                </button>
              </li>
              <li class="sort-item">
                <button
                  class="sort-button"
                  type="button"
                  data-sort="experience"
                >
                  за досвідом
                </button>
              </li>
            </ul>
          </div>

          <div class="filter-menu">
            <button
              type="button"
              class="filter-toggle js-open-menu-filter"
              aria-expanded="false"
              aria-controls="mobile-menu-filter"
            >
              <span class="filter-value">Фільтри</span>
              <svg class="filter-icon-arrow" width="11" height="6">
                <use href="./images/symbol-defs.svg#Arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="psychologists-section__gallery">
      <div class="psychologists-section__beckdrop js-menu-container-filter">
        <div class="psychologists-modal-wrap">
          <div
            class="psychologists-section__filter-menu"
            id="mobile-menu-filter"
          >
            <h2>
              Фільтри
              <button type="button" class="js-close-menu-filter">
                <svg width="26" height="26">
                  <use href="./images/symbol-defs.svg#close_40px"></use>
                </svg>
              </button>
            </h2>

            <div class="psychologists-section__filter-themes">
              <h3 class="psychologists-section__filter-themes-title">
                Тип терапії
                <button
                  type="button"
                  class="psychologists-section__filter-themes-button"
                >
                  <svg width="16" height="7">
                    <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
                </button>
              </h3>

              <ul class="psychologists-section__filter-list">
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-therapy="Для себе"
                  >
                    <svg
                      class="psychologists-section__filter-icon-state"
                      width="24"
                      height="24"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-1"
                      ></use>
                    </svg>
                    Для себе
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-therapy="Для сімʼї (пари)"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-2"
                      ></use>
                    </svg>
                    Для сімʼї (пари)
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-therapy="Для дитини"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-3"
                      ></use>
                    </svg>
                    Для дитини
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <div class="psychologists-section__filter-themes">
              <h3 class="psychologists-section__filter-themes-title">
                Оберіть напрямок
                <button
                  type="button"
                  class="psychologists-section__filter-themes-button"
                >
                  <svg width="16" height="7">
                    <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
                </button>
              </h3>

              <ul class="psychologists-section__filter-list">
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Гештальт-терапія"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Гештальт-терапія
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="КПТ"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    КПТ
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Психоаналіз"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Психоаналіз
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Позитивна терапія"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Позитивна терапія
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Системна терапія"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Системна терапія
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="НЛП"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    НЛП
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Травматерапія"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Травматерапія
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="EMDR"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    EMDR
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Психодрама"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Психодрама
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Символдрама"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Символдрама
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Транзактний аналіз"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Транзактний аналіз
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Арт-терапія"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Арт-терапія
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Клінічний психолог"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Клінічний психолог
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value="Сімейна терапія"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-6"
                      ></use>
                    </svg>
                    Сімейна терапія
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <div class="psychologists-section__filter-themes">
              <h3 class="psychologists-section__filter-themes-title">
                Мова
                <button
                  type="button"
                  class="psychologists-section__filter-themes-button"
                >
                  <svg width="16" height="7">
                    <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
                </button>
              </h3>
              <ul class="psychologists-section__filter-list">
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-language="українська"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use href="./images/symbol-defs.svg#icon-filter-ua"></use>
                    </svg>
                    Українська
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-language="англійська"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use href="./images/symbol-defs.svg#icon-filter-en"></use>
                    </svg>
                    Англійська
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-language="російська"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use href="./images/symbol-defs.svg#icon-filter-ru"></use>
                    </svg>
                    Російська
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <div class="psychologists-section__filter-themes">
              <h3 class="psychologists-section__filter-themes-title">
                Стать
                <button
                  type="button"
                  class="psychologists-section__filter-themes-button"
                >
                  <svg width="16" height="7">
                    <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
                </button>
              </h3>
              <ul class="psychologists-section__filter-list">
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-gender="male"
                  >
                    <svg
                      class="psychologists-section__filter-icon-state"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M13.9623 10.0377L19 5M19 5L13.8563 5M19 5L19 10.0377M5 13.75C5 10.8505 7.3505 8.5 10.25 8.5C13.1495 8.5 15.5 10.8505 15.5 13.75C15.5 16.6495 13.1495 19 10.25 19C7.3505 19 5 16.6495 5 13.75Z"
                        stroke="#222B40"
                        stroke-width="1.5"
                      />
                    </svg>
                    Чоловіча
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-gender="female"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-9"
                      ></use>
                    </svg>
                    Жіноча
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <div class="psychologists-section__filter-themes">
              <h3 class="psychologists-section__filter-themes-title">
                Ціна
                <button
                  type="button"
                  class="psychologists-section__filter-themes-button"
                >
                  <svg width="16" height="7">
                    <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
                </button>
              </h3>
              <ul class="psychologists-section__filter-list">
                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-price="До 1 000 грн"
                  >
                    <svg
                      class="psychologists-section__filter-icon-state"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M13.9623 10.0377L19 5M19 5L13.8563 5M19 5L19 10.0377M5 13.75C5 10.8505 7.3505 8.5 10.25 8.5C13.1495 8.5 15.5 10.8505 15.5 13.75C15.5 16.6495 13.1495 19 10.25 19C7.3505 19 5 16.6495 5 13.75Z"
                        stroke="#222B40"
                        stroke-width="1.5"
                      />
                    </svg>
                    До 1 000 грн
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-price="До 2 000 грн"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-9"
                      ></use>
                    </svg>
                    До 2 000 грн
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>

                <li class="psychologists-section__filter-item">
                  <button
                    class="button psychologists-section__filter-btn"
                    type="button"
                    data-button-value-price="2 000 грн і більше"
                  >
                    <svg
                      width="24"
                      height="24"
                      class="psychologists-section__filter-icon-state"
                    >
                      <use
                        href="./images/symbol-defs.svg#icon-filter-Icons-9"
                      ></use>
                    </svg>
                    2 000 грн і більше
                    <svg
                      class="psychologists-section__filter-icon-chose"
                      width="16"
                      height="16"
                      viewBox="0 0 16 16"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M4 6.5L7.2 10.5L12 4.5" stroke="#795BDA" />
                    </svg>
                  </button>
                </li>
              </ul>
            </div>

            <div class="psychologists-section__checkbox">
              <input
                class="checkbox"
                type="checkbox"
                name="mailing"
                value="mailing"
                id="agreement"
              />
              <label class="checkbox__label" for="agreement">
                <svg class="checkbox__icon-check" width="16" height="16">
                  <use
                    class="checkbox__icon"
                    href="./images/symbol-defs.svg#icon-check"
                  ></use>
                </svg>
                <span
                  >Не показувати психологів зі швидким знайомством (15хв)</span
                >
              </label>
            </div>
          </div>
        </div>

        <div
          class="psychologists-filtered-query psychologists-filtered-query--mobile"
        >
          <div class="filtered-query__buttons">
            <button
              class="filtered-query__button filtered-query__button--reset"
              type="button"
              data-button-reset
            >
              <svg class="filtered-query__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#reset-filter"></use>
              </svg>
            </button>
            <button
              class="filtered-query__button filtered-query__button--done"
              type="button"
            >
              Готово
            </button>
          </div>

          <div class="filtered-query__content">
            <div class="filtered-query__images">
              <span class="small-image">
                <img
                  src="./images/vebinar-mini-img1.png"
                  alt="Фото Іван Виговський"
                />
              </span>
              <span class="small-image">
                <img
                  src="./images/vebinar-mini-img2.png"
                  alt="Фото Іван Виговський"
                />
              </span>
              <span class="small-image">
                <img
                  src="./images/vebinar-mini-img3.png"
                  alt="Фото Іван Виговський"
                />
              </span>
            </div>

            <div class="filtered-query__paragraphs">
              <p
                class="filtered-query__paragraph filtered-query__paragraph--number"
              >
                26 психлогів
              </p>
              <p class="filtered-query__paragraph">знайдено для вас</p>
            </div>
          </div>
        </div>
      </div>

      <ul class="our-team__list">
        <!-- our-team-card.js -->
      </ul>

      <button type="button" class="load-more">Показати ще</button>

      <div
        class="psychologists-filtered-query psychologists-filtered-query--decktop"
      >
        <div class="filtered-query__buttons">
          <!-- <button
            class="filtered-query__button filtered-query__button--reset"
            type="button"
            data-button-reset
          >
            <svg class="filtered-query__icon" width="24" height="24">
              <use href="./images/symbol-defs.svg#reset-filter"></use>
            </svg>
          </button> -->
          <button
            class="filtered-query__button filtered-query__button--done"
            type="button"
          >
            Готово
          </button>
        </div>

        <div class="filtered-query__content">
          <button type="button" class="filtered-query__button">
            <svg width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-fixed-arrow-prew"></use>
            </svg>
          </button>

          <p>Назад до відібраних психологів</p>

          <div class="filtered-query__images">
            <span class="small-image">
              <img
                src="./images/vebinar-mini-img1.png"
                alt="Фото Іван Виговський"
              />
            </span>
            <span class="small-image">
              <img
                src="./images/vebinar-mini-img2.png"
                alt="Фото Іван Виговський"
              />
            </span>
            <span class="small-image">
              <img
                src="./images/vebinar-mini-img3.png"
                alt="Фото Іван Виговський"
              />
            </span>
          </div>

          <!-- <div class="filtered-query__paragraphs">
            <p
              class="filtered-query__paragraph filtered-query__paragraph--number"
            >
              0 психлогів
            </p>
            <p class="filtered-query__paragraph">знайдено для вас</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
