<section class="purple_offer">
    <div class="container">
        <div class="purple-offer_body">
            <div class="purple-offer_text">
                <h2 class="purple-offer_title">
                    Бажаєте отримати <br>нашу допомогу в підборі психотерапевта?
                </h2>
                <p>Відправте нам запит і ми із задоволенням це зробимо.</p>
            </div>
            <div class="purple-offer_btn">
                <a class="leave_request" href="">Залишити заявку</a>
            </div>
        </div>
    </div>
</section>
    