<section class="purple_offer">
    <div class="container">
        <div class="purple-offer_body">
            <div class="purple-offer_text">
                <h2 class="purple-offer_title">
                    Бажаєте отримати <br>нашу допомогу в підборі психотерапевта?
                </h2>
                <p>Відправте нам запит і ми із задоволенням це зробимо.</p>
            </div>
            <div class="purple-offer_btn">
                <a class="leave_request" href="">Залишити заявку</a>
            </div>
        </div>
    </div>


    <!-- form popup -->
    <div class="form_wrapper">
        <form action="" class="request__session">
            <a href="#" class="close js-close-menu-psycholog"><img src="images/svg-mysense/close.svg" alt=""></a>
            <div class="request__session-title">Запит на підбір психотерапевта</div>
            
            <div class="form">
                <label for="username">Імʼя</label> 
                <input class="form__input" type="text" placeholder="Введіть ім'я" id="username" />
    
                <label for="usertel">Номер телефону</label> 
                <input class="form__input" type="tel" placeholder="Введіть телефон" id="usertel" />
    
                <label for="useremail">Електронна адреса</label> 
                <input class="form__input" type="email" placeholder="Введіть email" id="useremail" />
            </div>
    
            <div class="format_therapy">
                <h3 class="therapy__title">Оберіть формат терапії</h3>
                <div class="therapy__body">
                    <button class="therapy__item therapy__item-offline">
                        <div class="box_icon"></div>
                        <span>Очно</span>
                    </button>
                    <button class="therapy__item therapy__item-online">
                        <div class="box_icon"></div>
                        <span>Онлайн</span>
                    </button>
                </div>
    
                <select class="cities"  name="select">
                    <option value="value1" selected>Оберіть місто</option>
                    <option value="value2">Київ</option>
                    <option value="value3">Дніпро</option>
                    <option value="value3">Харків</option>
                    <option value="value3">Одеса</option>
                </select>
                <select class="cities type"  name="select">
                    <option value="value1" selected>Оберіть місто</option>
                    <option value="value2">Індивідуальна</option>
                    <option value="value3">Парна</option>
                    <option value="value3">Дітяча</option>
                </select>
                
            </div>
    
            <div class="call_us">
                <h3 class="call_us-title">Оберіть формат терапії</h3>
                <div class="call_us-body">
                <button class="call_us-item item_phone">
                    <div class="box_icon"></div>
                    <span>Зателефонувати</span>
                </button>
                <button class="call_us-item item_messenger">
                    <div class="box_icon"></div>
                    <span>Написати в месенжер</span>
                </button>
                </div>
            </div>  
            
            <select class="cities messenger"  name="select">
                <option value="value1" selected>Оберіть місто</option>
                <option value="value2">Телеграм</option>
                <option value="value3">Вайбер</option>
            </select>
    
            <button type="submit" class="submit_btn">Домовитись про сесію</button>
    
        </form>
    </div>

</section>
    