<section class="purple">
    <div class="purple__container container">
        <div class="purple__body">
            <div class="purple__left-block">
                <h2 class="purple__title">Не можете обрати психолога? Не хвилюйтеся, ми допоможемо
                    <svg class="purple-section__icon-heart" width="14" height="12"> 
                        <use href="./images/symbol-defs.svg#icon-heart"></use> 
                    </svg>
                </h2>
            </div>
            <div class="purple__center-block">
                <div class="purple__subtitle">Познайомтесь із психологом за 15 хвилин</div>
                <p>щоб зрозуміти як можна вирішити вашу проблему</p>
                <button type="button" class="purple__btn">Подати заявку на співпрацю</button>
            </div>
            <div class="purple__right-block">
                <div class="right-block__subtitle">Більше 20 психологів</div>
                <p>готові провести зустріч-знайомство безкоштовно</p>
                <ul class="purple__images">
                    <li><img class="one" src="./images/doc1.png" alt=""></li>
                    <li><img class="two" src="./images/doc2.png" alt=""></li>
                    <li><img class="three" src="./images/doc3.png" alt=""></li>
                </ul>
            </div>
        </div>
        <button type="button" class="purple__btn-390">Подати заявку на співпрацю</button>
    </div>
</section>