<section class="step">
    <div class="step__container container">
        <div class="step__body">
            <div class="step__info">
                <h2 class="step__title">2 кроки, і ви на платформі
                    <svg class="step-section__icon-heart" width="14" height="12">
                        <use href="./images/symbol-defs.svg#icon-heart"></use>
                    </svg>
                </h2>
                <div class="step_block">
                    <div class="step__one step-item">
                        <div class="span__block">
                            <span>Крок</span>
                            <span>№1</span>
                        </div>
                        <div class="step_action">Надішліть заявку</div>
                    </div>
                    <div class="step__two step-item">
                        <div class="span__block">
                            <span>Крок</span>
                            <span>№2</span>
                        </div>
                        <div class="step_action">Пройдіть співбесіду</div>
                    </div>
                </div>
                <div class="step__text">
                    Вам не потрібно заповнювати ваш профіль на платформі — наш контент-менеджер подбає 
                    про це після проходження співбесіди.
                </div>
            </div>
            <div class="form-wrapper">
                <div class="send-box">
                    <p>Почати співпрацю</p>
                    <form>
                        <div class="user-box">
                            <input required="true" name="" type="text">
                            <label>Імʼя та прізвище</label>
                        </div>
                        <div class="user-box">
                            <input required="true" name="" type="email">
                            <label>Email</label>
                        </div>
                        <div class="user-box">
                            <input required="true" name="" type="tel">
                            <label>Номер телефону</label>
                        </div>
                        <button type="submit" class="user-btn" >Надіслати</button>
                    </form>
                </div>
            </div>
            <div class="step__text-mobile">
                Вам не потрібно заповнювати ваш профіль на платформі — наш контент-менеджер подбає 
                про це після проходження співбесіди.
            </div>
        </div>
    </div>
</section>   