<section class="requests">
    <div class="requests__container container">
        <div class="requests__body">
            <h2 class="requests__title">Оберіть до 10 запитів, які вас турбують</h2>
            <div class="requests__items item">
                <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="31" height="31">
                                <use href="./images/symbol-defs.svg#icon-crosscircle"></use>
                            </svg>
                        </div>
                        <div class="item__title">Здоров‘я <span>(фізичне та емоційне)</span></div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Депресія, стрес</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-1" width="38" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-1"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Панічні атаки</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-2" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-2"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Підвищена тривожність</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-3" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-3"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми зі сном</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-4" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-4"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Емоційне вигорання</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-5" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-5"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Залежність (алкогольна, наркотична, ігрова і т.д.)</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-6" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-6"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Тяжке захворювання</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-7" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-7"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Розлад харчової поведінки</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-8" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-8"></use>
                                    </svg>
                                </div>
                            </button>
                                <button class="card__link-btn">
                                <h3 class="state__card-title">Хронічні болі</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-9" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-9"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Психосоматика</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-10" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-10"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>    
                <!-- ================================================ -->
                <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="31" height="31">
                                <use href="./images/symbol-defs.svg#icon-crosscircle"></use>
                            </svg>
                        </div>
                        <div class="item__title">Сім‘я</div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Депресія, стрес</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-1" width="38" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-1"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Панічні атаки</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-2" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-2"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Підвищена тривожність</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-3" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-3"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми зі сном</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-4" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-4"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Емоційне вигорання</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-5" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-5"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Залежність (алкогольна, наркотична, ігрова і т.д.)</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-6" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-6"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Тяжке захворювання</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-7" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-7"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Розлад харчової поведінки</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-8" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-8"></use>
                                    </svg>
                                </div>
                            </button>
                                <button class="card__link-btn">
                                <h3 class="state__card-title">Хронічні болі</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-9" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-9"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Психосоматика</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-10" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-10"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
  