<section class="requests visually-hidden">
    <div class="requests__container container">
        <div class="requests__body">
            <h2 class="requests__title">Оберіть до 10 запитів, які вас турбують</h2>
                 <!-- ================================================ -->
                <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-plus"></use>
                            </svg>
                        </div>
                        <div class="item__title">Здоров‘я <span>(фізичне та емоційне)</span></div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Депресія, стрес</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-1" width="38" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-1"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Панічні атаки</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-2" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-2"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Підвищена тривожність</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-3" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-3"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми зі сном</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-4" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-4"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Емоційне вигорання</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-5" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-5"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Залежність (алкогольна, наркотична, ігрова і т.д.)</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-6" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-6"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Тяжке захворювання</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-7" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-7"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Розлад харчової поведінки</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-8" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-8"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Хронічні болі</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-9" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-9"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Психосоматика</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds icon-card-10" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-card-10"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>    
                <!-- ================================================ -->
                <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-test-person-purple"></use>
                            </svg>
                        </div>
                        <div class="item__title">Сім‘я</div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Постійні конфлікти/охолодження стосунків</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="38" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-1"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Розлучення</h3>
                                <div class="state__card__icon family-cart-2">
                                    <!-- <svg class="icon__crds icon-family-cart-2" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-2"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Зрада</h3>
                                <div class="state__card__icon family-cart-3">
                                    <!-- <svg class="icon__crds icon-family-cart-3" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-3"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Фізичне або емоційне насилля</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-4"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Тяжка хвороба близької людини</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-5"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми у відносинах з дітьми</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="34" height="34">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-6"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми у відносинах з батьками/родичами</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-7"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Відносини на відстані</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-8"></use>
                                    </svg>
                                </div>
                            </button>
                                <button class="card__link-btn">
                                <h3 class="state__card-title">Планування/супровід вагітності, пологи</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-family-cart-9"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>  
                <!-- ================================================ -->
                <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-person-circle"></use>
                            </svg>
                        </div>
                        <div class="item__title">Відносини із собою</div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Життєві кризи</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-1"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Втрата та пошук сенсу життя</h3>
                                <div class="state__card__icon relations-cart-2">
                                    <!-- <svg class="icon__crds icon-family-cart-2" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-2"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми із мотивацією та самореалізацією</h3>
                                <div class="state__card__icon relations-cart-3">
                                    <!-- <svg class="icon__crds icon-family-cart-3" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-3"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми із самооцінкою</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-4"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Нав‘язливі думки, фобії</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-5"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Самопізнання, саморозвиток</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="34" height="34">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-6"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Думки про самогубство</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-7"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Гендерна ідентичність та сексуальна орієнтація</h3>
                                <div class="state__card__icon relations-cart-8">
                                    <!-- <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-8"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Внутрішні конфлікти</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-9"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Профорієнтація</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-relations-cart-10"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- ================================================ -->
                <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-others"></use>
                            </svg>
                        </div>
                        <div class="item__title">Відносини з іншими</div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Робочі стосунки</h3>
                                <div class="state__card__icon others-cart-1">
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Стосунки з родичами/друзями</h3>
                                <div class="state__card__icon others-cart-2">
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Романтичні стосунки</h3>
                                <div class="state__card__icon others-cart-3">
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Сексуальні стосунки</h3>
                                <div class="state__card__icon others-cart-4">
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">ЛГБТКІ+ стосунки</h3>
                                <div class="state__card__icon others-cart-5">
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Проблеми у спілкуванні</h3>
                                <div class="state__card__icon others-cart-6">
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Залежність від думок і бажань інших людей</h3>
                                <div class="state__card__icon others-cart-7">
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Завершення стосунків</h3>
                                <div class="state__card__icon others-cart-8">  
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Страх нових стосунків</h3>
                                <div class="state__card__icon others-cart-9">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- ================================================ -->
                <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-life"></use>
                            </svg>
                        </div>
                        <div class="item__title">Повсякденне життя</div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Адаптація до нових умов життя, еміграція</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-1"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Складно прийняти важливе рішення</h3>
                                <div class="state__card__icon life-cart-2">
                                    <!-- <svg class="icon__crds icon-family-cart-2" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-2"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Фінансові проблеми</h3>
                                <div class="state__card__icon life-cart-3">
                                    <!-- <svg class="icon__crds icon-family-cart-3" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-3"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Кар‘єрна невизначеність</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-4"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Прокрастинація</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-5"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Втрата та горювання</h3>
                                <div class="state__card__icon life-cart-6">
                                    <!-- <svg class="icon__crds" width="34" height="34">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-6"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Почуття самотності</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-7"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Способи самопідтримки та самозаспокоєння</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-8"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Відчуття незахищеності</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-9"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
                 <!-- ================================================ -->
                 <div class="item__content">
                    <div class="request-item__wrap">
                        <div class="item__img">
                            <svg class="icon-crosscircle" width="48" height="48">
                                <use href="./images/symbol-defs.svg#icon-war"></use>
                            </svg>
                        </div>
                        <div class="item__title">Наслідки війни</div>
                    </div>
                    <div class="item__card">
                        <div class="state__cards">
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Адаптація до нових умов життя</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-1"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Еміграція</h3>
                                <div class="state__card__icon war-cart-2">
                                    <!-- <svg class="icon__crds icon-family-cart-2" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-war-cart-1"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Невизначеність з майбутнім</h3>
                                <div class="state__card__icon war-cart-3">
                                    <!-- <svg class="icon__crds icon-family-cart-3" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-war-cart-2"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Травматичний досвід</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-4"></use>
                                    </svg>
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Втрата близької людини/втрата житла</h3>
                                <div class="state__card__icon life-cart-6">
                                    <!-- <svg class="icon__crds" width="48" height="48">
                                        <use href="./images/symbol-defs.svg#icon-life-cart-6"></use>
                                    </svg> -->
                                </div>
                            </button>
                            <button class="card__link-btn">
                                <h3 class="state__card-title">Втрата здоров‘я, інвалідність</h3>
                                <div class="state__card__icon">
                                    <svg class="icon__crds" width="34" height="34">
                                        <use href="./images/symbol-defs.svg#icon-cross-case"></use>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  