<section class="section-form-restore-password">
  <div class="section-form-restore-password__container">
    <div class="section-form-restore-password__content">
      <h1 class="section-form-restore-password__title">Відновлення паролю</h1>
      <p class="section-form-restore-password__text">Згадали пароль?</p>
      <a class="section-form-restore-password__link" href="./login-form.html"
        >Увійти</a
      >
    </div>

    <div class="section-form-restore-password__content">
      <form class="form-restore-password">
        <div class="form-restore-password__field">
          <input
            class="form-restore-password__input"
            type="email"
            name="mail"
            id="email"
            placeholder=" "
          />
          <label class="form-restore-password__label" for="email"
            >Логін (Email)</label
          >
        </div>

        <p class="form-restore-password__text">
          Новий пароль надійде на вашу електронну адресу, яку ви вказали при
          реєстрації
        </p>

        <div class="flex-wrapper">
          <button type="button" class="form-restore-password__button-submit">
            Відновити пароль
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
