<section class="sign-for-session visually-hidden">
  <div class="sign-for-session__container container">
    <div class="sign-for-session__psychologist hidden-desktop">
      <div class="sign-for-session__image-wrapper">
        <div class="sign-for-session__image-wrapper-border">
          <img
            src="./images/our-team-desktop.jpg"
            class="sign-for-session__image"
            alt="Фото Іван Виговський"
          />
        </div>
      </div>
      <div class="sign-for-session__info">
        <h2 class="sign-for-session__name">Іван Виговський</h2>
        <p class="sign-for-session__experience">5 років практики</p>
      </div>
    </div>

    <div class="sign-for-session__booking-section">
      <h1 class="sign-for-session__title">Запис до психолога</h1>

      <div class="sign-for-session__session-type">
        <h3 class="sign-for-session__subtitle">Оберіть тип сесії</h3>
        <div class="sign-for-session__session-type-list">
          <ul class="sign-for-session__session-type-items">
            <li class="sign-for-session__session-type-item">
              <svg class="sign-for-session__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#personal"></use>
              </svg>
              Особиста
            </li>
            <li class="sign-for-session__session-type-item">
              <svg class="sign-for-session__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#couple"></use>
              </svg>
              Парна
            </li>
            <li class="sign-for-session__session-type-item">
              <svg class="sign-for-session__icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#Children"></use>
              </svg>
              Дитяча
            </li>
          </ul>
          <p class="sign-for-session__session-type-note">
            Оберіть, для кого теба провести психологічну сесію
          </p>
        </div>
      </div>

      <div class="sign-for-session__session-date">
        <h3 class="sign-for-session__subtitle">Виберіть дату сесії</h3>
        <p class="sign-for-session__session-date-note">Не обовʼязково</p>
        <div class="sign-for-session__session-date-calendar">
          <div class="sign-for-session__session-date-calendar-placeholder">
            календарь
          </div>
          <ul class="sign-for-session__session-date-status-list">
            <li
              class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--chosen"
            >
              Обрана вами дата
            </li>
            <li
              class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--available"
            >
              Доступна дата для бронювання
            </li>
            <li
              class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--day-off"
            >
              Вихідні дні психолога
            </li>
            <li
              class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--busy"
            >
              Весь день зайнятий
            </li>
          </ul>
        </div>
      </div>

      <div class="sign-for-session__time">
        <h3 class="sign-for-session__subtitle">Оберіть зручний час</h3>
        <p class="sign-for-session__optional">Не обовʼязково</p>
        <div class="sign-for-session__time-list">
          <ul class="sign-for-session__time-options">
            <li class="sign-for-session__time-option">9:00-9:50</li>
            <li class="sign-for-session__time-option">10:00-10:50</li>
            <li class="sign-for-session__time-option">11:00-11:50</li>
            <li class="sign-for-session__time-option">12:00-12:50</li>
            <li class="sign-for-session__time-option">11:00-11:50</li>
            <li class="sign-for-session__time-option">9:00-9:50</li>
            <li class="sign-for-session__time-option">10:00-10:50</li>
            <li class="sign-for-session__time-option">11:00-11:50</li>
            <li class="sign-for-session__time-option">12:00-12:50</li>
            <li class="sign-for-session__time-option">11:00-11:50</li>
            <li class="sign-for-session__time-option">9:00-9:50</li>
          </ul>
          <p class="sign-for-session__time-info">
            Бажаний час за Київським часом (UTC +03:00)
          </p>
        </div>
      </div>
    </div>

    <div class="session-info">
      
        <div class="sign-for-session__psychologist hidden-mobile">
          <div class="sign-for-session__image-wrapper">
            <div class="sign-for-session__image-wrapper-border">
              <img
                src="./images/our-team-desktop.jpg"
                class="sign-for-session__image"
                alt="Фото Іван Виговський"
              />
            </div>
          </div>
          <div class="sign-for-session__info">
            <h2 class="sign-for-session__name">Іван Виговський</h2>
            <p class="sign-for-session__experience">5 років практики</p>
          </div>
        </div>

        <h2 class="session-info__title">Інформація про сесію</h2>
        <div class="flex-wrapper">
            <ul class="session-info__list">
                <li class="session-info__item">
                    <p class="session-info__label">Тривалість</p>
                    <p class="session-info__value">50 хв</p>
                </li>
                <li class="session-info__item">
                    <p class="session-info__label">Тип</p>
                    <p class="session-info__value">Особиста</p>
                </li>
                <li class="session-info__item">
                    <p class="session-info__label">Дата</p>
                    <p class="session-info__value">13 березня</p>
                </li>
                <li class="session-info__item">
                    <p class="session-info__label">Час</p>
                    <p class="session-info__value">9:00-9:50</p>
                </li>
                <li class="session-info__item session-info__item--is-hidden">
                    <p class="session-info__label">Вартість</p>
                    <p class="session-info__value"><span>300</span> грн</p>
                </li>
            </ul>

            <Form class="form">

              <input class="form__input" type="text" name="promo" id="promo" placeholder="Введіть промокод">
              
              <button type="button" class="form__payment-method">
                <p class="form__payment-text">Спосіб оплати</p>

                <div class="payment-card">
                  <img class="payment-card__visa" src="./images/visa.png" alt="visa">
                  <span class="payment-card__value">Карта Monobank</span>
                  <svg class="payment-card__icon">
                    <use href="./images/symbol-defs.svg#Arrow"></use>
                  </svg>
                </div>
              </button>
            
              <ul class="payment-card-list">
                <li class="payment-card-item">
                  <button class="payment-card-button" type="button">
                    Карта Monobank
                  </button>
                </li>
                <li class="payment-card-item">
                  <button class="payment-card-button" type="button">
                    Карта Privatbank
                  </button>
                </li>
              </ul>
                
              <button class="button form__button-payment" type="submit">Перейти до оплати</button>
            </Form>

            <div class="session-info__item session-info__item--is-hidden">
                <p class="session-info__label">Вартість</p>
                <p class="session-info__value"><span>300</span> грн</p>
            </div>

        </div>
    </div>
    </div>
  </div>
</section>
