<section class="sign-for-session">
    <div class="sign-for-session__container container">
        <div class="sign-for-session__psychologist hidden-desktop">
            <div class="sign-for-session__image-wrapper">
                <div class="sign-for-session__image-wrapper-border">
                    <img src="./images/our-team-desktop.jpg" class="sign-for-session__image" alt="Фото Іван Виговський"/>
                </div>
            </div>
            <div class="sign-for-session__info">
                <h2 class="sign-for-session__name">Іван Виговський</h2>
                <p class="sign-for-session__experience">5 років практики</p>
            </div>
        </div>

        <div class="sign-for-session__booking-section">
            <h1 class="sign-for-session__title">Запис до психолога</h1>

            <div class="sign-for-session__session-type">
                <h3 class="sign-for-session__subtitle">Оберіть тип сесії</h3>
                <div class="sign-for-session__session-type-list">
                    <ul class="sign-for-session__session-type-items">
                        <li class="sign-for-session__session-type-item">Особиста</li>
                        <li class="sign-for-session__session-type-item">Парна</li>
                        <li class="sign-for-session__session-type-item">Дитяча</li>
                    </ul>
                    <p class="sign-for-session__session-type-note">Оберіть, для кого теба провести психологічну сесію</p>
                </div>
            </div>

            <!-- <div class="sign-for-session__session-date">
                <h3 class="sign-for-session__subtitle">Виберіть дату сесії</h3>
                <p class="sign-for-session__session-date-note">Не обовʼязково</p>
                <div class="sign-for-session__session-date-calendar">
                    <div class="sign-for-session__session-date-calendar-placeholder">сдесь будет колендарь</div>
                    <ul class="sign-for-session__session-date-status-list">
                        <li class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--chosen">
                            Обрана вами дата</li>
                        <li
                            class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--available">
                            Доступна дата для бронювання</li>
                        <li class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--day-off">
                            Вихідні дні психолога</li>
                        <li class="sign-for-session__session-date-status-item sign-for-session__session-date-status-item--busy">Весь
                            день зайнятий</li>
                    </ul>
                </div>
            </div>

            <div class="sign-for-session__time">
                <h3 class="sign-for-session__subtitle">Оберіть зручний час</h3>
                <p class="sign-for-session__optional">Не обовʼязково</p>
                <div class="sign-for-session__time-list">
                    <ul class="sign-for-session__time-options">
                        <li class="sign-for-session__time-option">
                            9:00 - 9:50
                        </li>
                        <li class="sign-for-session__time-option">
                            10:00 - 10:50
                        </li>
                        <li class="sign-for-session__time-option">
                            11:00 - 11:50
                        </li>
                        <li class="sign-for-session__time-option">
                            12:00 - 12:50
                        </li>
                        <li class="sign-for-session__time-option">
                            11:00 - 11:50
                        </li>
                    </ul>
                    <p class="sign-for-session__time-info">Бажаний час за Київським часом (UTC +03:00)</p>
                </div>
            </div> -->

        </div>

    </div>
</section>
