<section class="state visually-hidden">
  <div class="state__container container">
    <div class="state__body">
      <h2 class="state__title">
        Чи перебуваєте ви останнім часом в якихось із цих станів?
      </h2>
      <div class="state__cards">
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Мій настрій різко змінюється</h3>
            <div class="state__card__icon">
              <svg class="icon__crds icon-cloudsunrain" width="44" height="43">
                <use href="./images/symbol-defs.svg#icon-cloudsunrain"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я швидко втомлююся</h3>
            <div class="state__card__icon">
              <svg class="icon__crds icon-bolt_heart" width="31" height="29">
                <use href="./images/symbol-defs.svg#icon-bolt_heart"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Мене нічого не радує</h3>
            <div class="state__card__icon">
              <svg
                class="icon__crds icon-cloud-moon-rain"
                width="40"
                height="38"
              >
                <use href="./images/symbol-defs.svg#icon-cloud-moon-rain"></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я не можу/не хочу нічого робити</h3>
            <div class="state__card__icon">
              <svg class="icon__crds icon-cloud-drizzle" width="36" height="35">
                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
              </svg>
            </div>
          </button>
        </div>

        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Мені важко зосередитися</h3>
            <div class="state__card__icon">
              <svg
                class="icon__crds icon-eye-trianglebadgeexclamationmark"
                width="42"
                height="23"
              >
                <use
                  href="./images/symbol-defs.svg#icon-eye-trianglebadgeexclamationmark"
                ></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">
              Я постійно перебуваю у напруженому стані
            </h3>
            <div class="state__card__icon">
              <svg
                class="icon__crds icon-wave-formpathecg"
                width="32"
                height="31"
              >
                <use
                  href="./images/symbol-defs.svg#icon-wave-formpathecg"
                ></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">
              У мене часто з‘являються тривожні думки
            </h3>
            <div class="state__card__icon">
              <svg
                class="icon__crds icon-brain-head-profile"
                width="33"
                height="39"
              >
                <use
                  href="./images/symbol-defs.svg#icon-brain-head-profile"
                ></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я погано себе почуваю</h3>
            <div class="state__card__icon">
              <svg class="icon__crds icon-cross-case" width="36" height="30">
                <use href="./images/symbol-defs.svg#icon-cross-case"></use>
              </svg>
            </div>
          </button>
        </div>

        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">
              Мені складно спілкуватися з іншими людьми
            </h3>
            <div class="state__card__icon">
              <svg
                class="icon__crds icon-bubble-left-and-bubbleright"
                width="44"
                height="35"
              >
                <use
                  href="./images/symbol-defs.svg#icon-bubble-left-and-bubbleright"
                ></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я не задоволений(на) собою</h3>
            <div class="state__card__icon">
              <svg
                class="icon__crds icon-person-cropcirclebadgexmark"
                width="37"
                height="32"
              >
                <use
                  href="./images/symbol-defs.svg#icon-person-cropcirclebadgexmark"
                ></use>
              </svg>
            </div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я відчуваю себе нещасним(ою)</h3>
            <div class="state__card__icon">
              <svg
                class="icon__crds icon-cloud-heavyrain"
                width="35"
                height="36"
              >
                <use href="./images/symbol-defs.svg#icon-cloud-heavyrain"></use>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
