<section class="tests">
    <div class="tests__container container">
        <div class="tests__body">
           <div class="tests__block-title">
                <h2 class="tests__title">Психологічні тести
                    <svg class="tests-section__icon-love-heart" width="14" height="12">
                        <use href="./images/symbol-defs.svg#icon-pink-heart"></use>
                    </svg>
                </h2>
                <button type="button" class="test__btn">Усі тести
                    <svg class="tests-icon-btn-arrow" width="14" height="12">
                        <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                </button>
           </div>
           <div class="tests__type-cards">
                <a href="#" class="card__link">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест на рівень стресу</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-clouddrizzle"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="card__link">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест з діагностики дипресії</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-waveformpathecg"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="card__link">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест на тривожний розлад</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-tornado"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="card__link">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест на ОКР</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-cloudmoonrain"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="card__link card__link-744">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест на ОКР</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-bolt"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="card__link card__link-744">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест на рівень стресу</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-flame"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="card__link card__link-390">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест на тривожний розлад</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-boltheart"></use>
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#" class="card__link card__link-390">
                    <div class="card-type__wrapper">
                        <div class="card-title">Тест з діагностики дипресії</div>
                        <div class="card-icon">
                            <svg class="icon__card" width="34.96" height="35.35">
                                <use href="./images/symbol-defs.svg#icon-personicloud"></use>
                            </svg>
                        </div>
                    </div>
                </a>
           </div>
           <button type="button" class="test__btn mobile-test__btn">Усі тести
            <svg class="tests-icon-btn-arrow" width="14" height="12">
                <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
            </svg>
        </button>
        </div>
    </div>
</section>