<section class="testpage">
  <div class="testpage__container container">
    <div class="testpage__title-block">
      <h1 class="testpage__title">Для кого ви шукаєте <br>психолога?</h1>
      <p>Оберіть тип консультації та пройдіть тест за 1 хвилину</p>
    </div>
    <div class="testpage__cards">

      <button class="test__card-wrap" data-for="myself">
        <div class="card__link">
          <h3 class="test__card-title">
            Для себе
            <svg class="icon-arrow-top-right" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-arrow-top-right"></use>
            </svg>
          </h3>
          <div class="test__card__icon">
            <div class="icon__bg_1"></div>
            <span><b>9 психологів</b><br />
              працюють з цим</span>
          </div>
        </div>
      </button>

      <button class="test__card-wrap" data-for="family">
        <div class="card__link">
          <h3 class="test__card-title card-title__center">
            Для сімʼї (пари)
            <svg class="icon-arrow-top-right" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-arrow-top-right"></use>
            </svg>
          </h3>
          <div class="test__card__icon">
            <div class="icon__bg_2"></div>
            <span><b>9 психологів</b><br />
              працюють з цим</span>
          </div>
        </div>
      </button>

      <button class="test__card-wrap" data-for="child">
        <div class="card__link">
          <h3 class="test__card-title">
            Для дитини
            <svg class="icon-arrow-top-right" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-arrow-top-right"></use>
            </svg>
          </h3>
          <div class="test__card__icon">
            <div class="icon__bg_3"></div>
            <span><b>9 психологів</b><br>
              працюють з цим</span
            >
          </div>
        </div>
      </button>
    </div>
  </div>
 
</section>
