<section class="state visually-hidden">
  <div class="state__container container">
    <div class="state__body">
      <h2 class="state__title">
        Чи перебуваєте ви останнім часом в якихось із цих станів?
      </h2>
      <div class="state__cards">
        <div class="state__card-wrap">
          <button class="card__link-btn">
            <h3 class="state__card-title">Мій настрій різко змінюється</h3>
            <div class="state__card__icon state__icon_1"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я швидко втомлююся</h3>
            <div class="state__card__icon state__icon_2"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn">
            <h3 class="state__card-title">Мене нічого не радує</h3>
            <div class="state__card__icon state__icon_3"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я не можу/не хочу нічого робити</h3>
            <div class="state__card__icon state__icon_4"></div>
          </button>
        </div>

        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Мені важко зосередитися</h3>
            <div class="state__card__icon state__icon_5"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">
              Я постійно перебуваю у напруженому стані
            </h3>
            <div class="state__card__icon state__icon_6"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">
              У мене часто з‘являються тривожні думки
            </h3>
            <div class="state__card__icon state__icon_7"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я погано себе почуваю</h3>
            <div class="state__card__icon state__icon_8"></div>
          </button>
        </div>

        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">
              Мені складно спілкуватися з іншими людьми
            </h3>
            <div class="state__card__icon state__icon_9"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я не задоволений(на) собою</h3>
            <div class="state__card__icon state__icon_10"></div>
          </button>
        </div>
        <div class="state__card-wrap">
          <button
            class="card__link-btn"
          >
            <h3 class="state__card-title">Я відчуваю себе нещасним(ою)</h3>
            <div class="state__card__icon state__icon_11"></div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
