<section class="testpage">
  <div class="testpage__container container">
    <div class="testpage__lines-block">
      <div class="test__line active">
        <span>Тест</span>
      </div>
      <div class="test__line">
        <span>Тест</span>
      </div>
      <div class="test__line">
        <span>Тест</span>
      </div>
    </div>
    <h1 class="testpage__title">Для кого ви шукаєте психолога?</h1>
    <div class="testpage__cards">
      <button class="test__card-wrap" data-for="myself">
        <div class="card__link">
          <h3 class="test__card-title">
            Для себе
            <svg class="icon-arrow-top-right" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-arrow-top-right"></use>
            </svg>
          </h3>
          <div class="test__card__icon">
            <svg class="person-purple" width="31" height="31">
              <use href="./images/symbol-defs.svg#icon-user-circle"></use>
            </svg>
            <span
              ><b>9 психологів</b><br />
              працюють з цим</span
            >
          </div>
        </div>
      </button>

      <button class="test__card-wrap" data-for="family">
        <div class="card__link">
          <h3 class="test__card-title card-title__center">
            Для сімʼї (пари)
            <svg class="icon-arrow-top-right" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-arrow-top-right"></use>
            </svg>
          </h3>
          <div class="test__card__icon">
            <svg class="person-purple" width="38" height="24">
              <use
                href="./images/symbol-defs.svg#icon-test-person-purple"
              ></use>
            </svg>
            <span
              ><b>9 психологів</b><br />
              працюють з цим</span
            >
          </div>
        </div>
      </button>

      <button class="test__card-wrap" data-for="child">
        <div class="card__link">
          <h3 class="test__card-title">
            Для дитини
            <svg class="icon-arrow-top-right" width="12" height="12">
              <use href="./images/symbol-defs.svg#icon-arrow-top-right"></use>
            </svg>
          </h3>
          <div class="test__card__icon">
            <svg class="person-purple" width="36" height="34">
              <use href="./images/symbol-defs.svg#icon-face-child"></use>
            </svg>
            <span
              ><b>9 психологів</b><br />
              працюють з цим</span
            >
          </div>
        </div>
      </button>
    </div>
  </div>

  <div class="fixed__box">
    <div class="fixed__left-block">
      <div class="fixed__ai-wrap">
        <div class="fixed__ai">Ai</div>
        <span
          >Алгоритми індивідуального підбору психолога на основі штучного
          інтелекту</span
        >
      </div>
    </div>
    <div class="fixed__center-block">
      <button class="fixed__button-prew fixed__btn">
        <svg class="icon-fixed-arrow-prew" width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-fixed-arrow-prew"></use>
        </svg>
        <span>Назад</span>
      </button>
      <button class="fixed__button-next fixed__btn">
        Далі
        <svg class="icon-fixed-arrow-next" width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-fixed-arrow-next"></use>
        </svg>
      </button>
    </div>
    <div class="fixed__right-block">
      <ul class="fixed__images">
        <li>
          <img
            src="./images/vebinar-mini-img1.png"
            alt="Фото Іван Виговський"
          />
        </li>
        <li>
          <img
            class="two"
            src="./images/vebinar-mini-img2.png"
            alt="Фото Іван Виговський"
          />
        </li>
        <li>
          <img
            class="three"
            src="./images/vebinar-mini-img3.png"
            alt="Фото Іван Виговський"
          />
        </li>
      </ul>
      <div class="fixed__wrap">
        <div class="right-block__subtitle">26 психологів</div>
        <p>знайдено для вас</p>
      </div>
    </div>
  </div>
</section>
