<section class="Upcoming-webinars-section">
    <div class="container">
    <!-- Заплановані зустрічі -->
    <h2 class="meeting-title">Найближчі вебінари</h2>
    <div class="meeting__cards-wrap">
        <div class="card__meeting">
            <div class="meeting__left-block">
                <div class="meeting__info-block">
                    <div class="meeting__date">
                        <span>24 лютого</span>
                        <span>о 18:00</span>
                    </div>
                    <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                    </h3>
                    <button type="button" class="meeting-card__btn">
                        Зареєструватися
                    </button>
                </div>

                <div class="meeting__spicer-block">
                    <div class="meeting__spicer">
                        <span>Спікер</span>
                    </div>
                    <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                    </div>
                </div>
            </div>
            <div class="meeting__image">
                <img src="./images/man-350.jpg" alt="" />
            </div>
            <button type="button" class="vebinars__btn-390">
                Усі вебінари
                <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                </svg>
            </button>
        </div>

        <div class="card__meeting card__meeting-women">
            <div class="meeting__left-block">
                <div class="meeting__info-block">
                    <div class="meeting__date">
                        <span>24 лютого</span>
                        <span>о 18:00</span>
                    </div>
                    <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                    </h3>
                    <button type="button" class="meeting-card__btn">
                        Зареєструватися
                    </button>
                </div>

                <div class="meeting__spicer-block">
                    <div class="meeting__spicer">
                        <span>Спікер</span>
                    </div>
                    <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                    </div>
                </div>
            </div>

            <div class="meeting__image">
                <img src="./images/women-350.jpg" alt="" />
            </div>
            
            <button type="button" class="vebinars__btn-390">
                Усі вебінари
                <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                    <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
  <div>
</section>
