<section class="user-manual">
    <div class="container user-manual__container">

        <div class="user-manual__thumb">
            <h2 class="user-manual__title">
                Користуватись платформою просто
                <svg class="user-manual__icon-love-heart" width="10" height="8">
                    <use href="./images/symbol-defs.svg#icon-love-heart"></use>
                </svg>
            </h2>

            <button class="user-manual__button">
                <svg class="user-manual__icon-next" width="14" height="14">
                    <use href="./images/symbol-defs.svg#next"></use>
                </svg>
            </button>
        </div>

        <ul class="user-manual__list">
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <span class="user-manual__step">Крок</span>
                        <span class="user-manual__number">01</span>
                    </div>
                    <h3 class="card__title">Пройдіть тест</h3>
                    <p class="card__text">Запитання допоможуть Вам виявити проблему, а це вже 50% успіху</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/user-manual-desktop.jpg 1x, ./images/user-manual-desktop@2x.jpg 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/user-manual-tablet.jpg 1x, ./images/user-manual-tablet@2x.jpg 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/user-manual-mobile.jpg 1x, ./images/user-manual-mobile@2x.jpg 2x" />
                    
                        <img alt="" src="./images/user-manual-mobile.jpg" />
                    </picture>
                </div>
            </li>
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <span class="user-manual__step">Крок</span>
                        <span class="user-manual__number">01</span>
                    </div>
                    <h3 class="card__title">Пройдіть тест</h3>
                    <p class="card__text">Запитання допоможуть Вам виявити проблему, а це вже 50% успіху</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/user-manual-desktop.jpg 1x, ./images/user-manual-desktop@2x.jpg 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/user-manual-tablet.jpg 1x, ./images/user-manual-tablet@2x.jpg 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/user-manual-mobile.jpg 1x, ./images/user-manual-mobile@2x.jpg 2x" />
                
                        <img alt="" src="./images/user-manual-mobile.jpg" />
                    </picture>
                </div>
            </li>
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <span class="user-manual__step">Крок</span>
                        <span class="user-manual__number">01</span>
                    </div>
                    <h3 class="card__title">Пройдіть тест</h3>
                    <p class="card__text">Запитання допоможуть Вам виявити проблему, а це вже 50% успіху</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/user-manual-desktop.jpg 1x, ./images/user-manual-desktop@2x.jpg 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/user-manual-tablet.jpg 1x, ./images/user-manual-tablet@2x.jpg 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/user-manual-mobile.jpg 1x, ./images/user-manual-mobile@2x.jpg 2x" />
                
                        <img alt="" src="./images/user-manual-mobile.jpg" />
                    </picture>
                </div>
            </li>
            <li class="user-manual__item">
                <div class="user-manual__card">
                    <div class="user-manual__step-number">
                        <span class="user-manual__step">Крок</span>
                        <span class="user-manual__number">01</span>
                    </div>
                    <h3 class="card__title">Пройдіть тест</h3>
                    <p class="card__text">Запитання допоможуть Вам виявити проблему, а це вже 50% успіху</p>
                </div>
                <div class="user-manual__image">
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./images/user-manual-desktop.jpg 1x, ./images/user-manual-desktop@2x.jpg 2x" />
                        <source media="(min-width: 744px)"
                            srcset="./images/user-manual-tablet.jpg 1x, ./images/user-manual-tablet@2x.jpg 2x" />
                        <source media="(max-width: 743px)"
                            srcset="./images/user-manual-mobile.jpg 1x, ./images/user-manual-mobile@2x.jpg 2x" />
                
                        <img alt="" src="./images/user-manual-mobile.jpg" />
                    </picture>
                </div>
            </li>
        </ul>
    </div>
</div>
