<section class="vebinars">
    <div class="vebinars__container container">
        <h2 class="vebinars-title">Вебінари у записі</h2>
    <div class="vebinars__body">
        <div class="vebinars__cards-wrap">      
            <div class="vebinar__card-column">
                <div class="card__block-top">
                    <img src="./images/vebinar-mini-img1.png" alt="">
                    <div class="card__name">
                        <h4>Імʼя Прізвище</h4>
                        <p>ХХ років практики</p>
                    </div>
                </div>
                <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="">
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                </div>
                <div class="card__block-statistic">
                    <div class="statistic_left">
                        <div class="card__view">
                            <span>
                                <svg class="vebinar-section__icon-subtract" width="16" height="12">
                                    <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                </svg>
                                12К
                            </span>
                        </div>
                        <div class="card__likes">
                            <span>
                                <svg class="vebinar-section__icon-black-heart" width="16" height="12">
                                    <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                </svg>
                                3К
                            </span>
                        </div>
                    </div>
                    <div class="card__date">
                        <span>20.02.2023</span>
                    </div>
                </div>
            </div>
        
            <div class="vebinar__card-column">
                <div class="card__block-top">
                    <img src="./images/vebinar-mini-img2.png" alt="">
                    <div class="card__name">
                        <h4>Імʼя Прізвище</h4>
                        <p>ХХ років практики</p>
                    </div>
                </div>
                <div class="card__block-title">
                    <img src="./images/vebinar-2.jpg" alt="">
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                </div>
                <div class="card__block-statistic">
                    <div class="statistic_left">
                        <div class="card__view">
                            <span>
                                <svg class="vebinar-section__icon-subtract" width="16" height="12">
                                    <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                </svg>
                                12К
                            </span>
                        </div>
                        <div class="card__likes">
                            <span>
                                <svg class="vebinar-section__icon-black-heart" width="16" height="12">
                                    <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                </svg>
                                3К
                            </span>
                        </div>
                    </div>
                    <div class="card__date">
                        <span>20.02.2023</span>
                    </div>
                </div>
            </div>
        
            <div class="vebinar__card-column">
                <div class="card__block-top">
                    <img src="./images/vebinar-mini-img3.png" alt="">
                    <div class="card__name">
                        <h4>Імʼя Прізвище</h4>
                        <p>ХХ років практики</p>
                    </div>
                </div>
                <div class="card__block-title">
                    <img src="./images/vebinar-3.jpg" alt="">
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                </div>
                <div class="card__block-statistic">
                    <div class="statistic_left">
                        <div class="card__view">
                            <span>
                                <svg class="vebinar-section__icon-subtract" width="16" height="12">
                                    <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                </svg>
                                12К
                            </span>
                        </div>
                        <div class="card__likes">
                            <span>
                                <svg class="vebinar-section__icon-black-heart" width="16" height="12">
                                    <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                </svg>
                                3К
                            </span>
                        </div>
                    </div>
                    <div class="card__date">
                        <span>20.02.2023</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>