<section class="vebinars">
    <div class="vebinars__container container">
        <div class="vebinars__body">
            <div class="vebinar__block-title">
                <h2 class="vebinars-title-h2">Безкоштовні вебінари
                    <svg class="vebinars-section__icon-heart" width="14" height="12"> 
                        <use href="./images/symbol-defs.svg#icon-heart"></use> 
                    </svg>
                </h2>
                <button type="button" class="vebinars__btn">Усі вебінари
                    <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                        <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                </button>
            </div>
            <!-- Заплановані зустрічі -->
            <h3 class="meeting-title">Заплановані зустрічі</h3>
            <div class="meeting__cards-wrap">
                
                <div class="card__meeting">
                    <div class="meeting__left-block">
                        <div class="meeting__info-block">
                            <div class="meeting__date">
                                <span>24 лютого</span>
                                <span>о 18:00</span>
                            </div>
                            <h3 class="meeting__title">Як позбутися панічних атак вагітним жінкам?</h3>
                            <button type="button" class="meeting-card__btn">Зареєструватися</button>    
                        </div>
                        <div class="meeting__spicer-block">
                            <div class="meeting__spicer">
                                <span>Спікер</span>
                            </div>
                            <div class="meeting__spicer-name">
                                <div class="spicer-name">Імʼя Прізвище</div>
                                <div class="experience__spicer">12 років практики</div>
                            </div>
                        </div>
                    </div>
                    <div class="meeting__image">
                        <img src="./images/man-350.jpg" alt="">
                    </div>
                    <button type="button" class="vebinars__btn-390">Зареєструватися
                        <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                            <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                        </svg>
                    </button>
                </div>

                <div class="card__meeting card__meeting-women">
                    <div class="meeting__left-block">
                        <div class="meeting__info-block">
                            <div class="meeting__date">
                                <span>24 лютого</span>
                                <span>о 18:00</span>
                            </div>
                            <h3 class="meeting__title">Як позбутися панічних атак вагітним жінкам?</h3>
                            <button type="button" class="meeting-card__btn">Зареєструватися</button>    
                        </div>

                        <div class="meeting__spicer-block">
                            <div class="meeting__spicer">
                                <span>Спікер</span>
                            </div>
                            <div class="meeting__spicer-name">
                                <div class="spicer-name">Імʼя Прізвище</div>
                                <div class="experience__spicer">12 років практики</div>
                            </div>
                        </div>
                    </div>
                    <div class="meeting__image">
                        <img src="./images/women-350.jpg" alt="">
                    </div>
                    <button type="button" class="vebinars__btn-390">Зареєструватися
                        <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                            <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <!-- Вебінари у записі -->
            <h3 class="vebinars-title">Вебінари у записі</h3>
            <div class="vebinars__cards-wrap">      
                <div class="vebinar__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-mini-img1.png" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-1.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="vebinar-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="vebinar-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>
            
                <div class="vebinar__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-mini-img2.png" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-2.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="vebinar-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="vebinar-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>
            
                <div class="vebinar__card-column">
                    <div class="card__block-top">
                        <img src="./images/vebinar-mini-img3.png" alt="">
                        <div class="card__name">
                            <h4>Імʼя Прізвище</h4>
                            <p>ХХ років практики</p>
                        </div>
                    </div>
                    <div class="card__block-title">
                        <img src="./images/vebinar-3.jpg" alt="">
                        <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    </div>
                    <div class="card__block-statistic">
                        <div class="statistic_left">
                            <div class="card__view">
                                <span>
                                    <svg class="vebinar-section__icon-subtract" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                    </svg>
                                    12К
                                </span>
                            </div>
                            <div class="card__likes">
                                <span>
                                    <svg class="vebinar-section__icon-black-heart" width="16" height="12">
                                        <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                    </svg>
                                    3К
                                </span>
                            </div>
                        </div>
                        <div class="card__date">
                            <span>20.02.2023</span>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>