<section class="filter">
  <div class="filter__container container">
    <div class="filter__body">
      <h1 class="filter__title">Вебінари</h1>

      <div class="filter__inputs">
        <div class="input__search">
          <input
            type="text"
            placeholder="Знайти статтю або автора"
            id="textInput"
            name="filter"
          />
        </div>

        <div class="filter-menu">
          <div class="filter-toggle">
            <span class="filter-value">Всі вебінари</span>
            <svg class="filter-icon-arrow" width="11" height="6">
              <use href="./images/symbol-defs.svg#Arrow"></use>
            </svg>
          </div>
          <ul class="list-filter">
            <li class="item-filter">Всі вебінари</li>
            <li class="item-filter">Як позбутися</li>
            <li class="item-filter">Як розвинути</li>
            <li class="item-filter">Як спілкуватися</li>
            <li class="item-filter">Як навчитися</li>
            <li class="item-filter">Як перестати</li>
          </ul>
        </div>

        <div class="sort-menu">
          <div class="sort-toggle">
            <span class="sort-value">Сортувати</span>
            <svg class="sort-icon-arrow" width="11" height="6">
              <use href="./images/symbol-defs.svg#Arrow"></use>
            </svg>
          </div>
          <ul class="sort-section">
            <li class="item-sort sort-likes">За лайками</li>
            <li class="item-sort sort-date">За датою</li>
          </ul>
        </div>
        <!-- ! -->
      </div>
    </div>
  </div>
</section>
