.consern {
    // margin-top: 30px;
    // padding-top: 40px;
}
.consern__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #222B40;
    max-width: 640px;
}
.consern__cards {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    gap: 20px;
    margin-top: 40px;
}
.card__link-btn {
    border: none;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
    transition: all 0.3s ease 0s;
    &:hover {
        cursor: pointer;
        background: #795BDA;
        .consern__card-title {
            color: #fff;
        }
    }
}
.consern__card__icon {
    display: flex;
    align-items: center;
    width: 48px;
    height: 48px;
}

.consern_cart-1 {
    background: url('../images/test-icons/arrow.uturn.down.square.svg');
}
.consern_cart-2 {
    background: url('../images/test-icons/Human.BokenHear.svg');
}
.consern_cart-3 {
    background: url('../images/test-icons/Heart.Broken.svg');
}
.consern_cart-4 {
    background: url('../images/test-icons/eyes.svg');
}
.consern_cart-5 {
    background: url('../images/test-icons/male.female.svg');
}
.consern_cart-6 {
    background: url('../images/test-icons/dollar.svg');
}
.consern_cart-7 {
    background: url('../images/test-icons/baby.svg');
}
.consern_cart-8 {
    background: url('../images/test-icons/Human.Conect.svg');
}
.consern_cart-9 {
    background: url('../images/test-icons/pegancy.svg');
}
.card__link-btn:hover .consern_cart-1,
.card__link-btn:focus .consern_cart-1 {
    background: url('../images/test-icons/arrow.uturn.down.square-pink.svg');
}
.card__link-btn:hover .consern_cart-2,
.card__link-btn:focus .consern_cart-2 {
    background: url('../images/test-icons/HumanBokenHear-pink.svg');
}
.card__link-btn:hover .consern_cart-3,
.card__link-btn:focus .consern_cart-3 {
    background: url('../images/test-icons/Heart.Broken-pink.svg');
}
.card__link-btn:hover .consern_cart-4,
.card__link-btn:focus .consern_cart-4 {
    background: url('../images/test-icons/eyes-pink.svg');
}
.card__link-btn:hover .consern_cart-5,
.card__link-btn:focus .consern_cart-5 {
    background: url('../images/test-icons/male.female-pink.svg');
}
.card__link-btn:hover .consern_cart-6,
.card__link-btn:focus .consern_cart-6 {
    background: url('../images/test-icons/dollar-pink.svg');
}
.card__link-btn:hover .consern_cart-7,
.card__link-btn:focus .consern_cart-7 {
    background: url('../images/test-icons/baby-pink.svg');
}
.card__link-btn:hover .consern_cart-8,
.card__link-btn:focus .consern_cart-8 {
    background: url('../images/test-icons/HumanConect-pink.svg');
}
.card__link-btn:hover .consern_cart-9,
.card__link-btn:focus .consern_cart-9 {
    background: url('../images/test-icons/pegancy-pink.svg');
}



.consern__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: #222B40;
    text-align: left;
    margin-right: 10px;
}








@media screen and (max-width: 1279px) {
    .consern__cards {
        grid-template-columns: 208px 208px 208px;
    }
    .consern__card-title {
        margin-right: 0; 
        font-size: 22px;
    }
}

@media screen and (max-width: 744px) {
    .consern__title {
        font-size: 32px;
    }
    .consern__cards {
        grid-template-columns: 170px 170px;
        gap: 10px;
    }
    .consern__card-title {
        font-size: 16px;
    }
    .card__link-btn {
        min-height: 180px;
    }
}