.cooperation-with-us-section{
    padding-top: 80px;
    padding-bottom: 89px;
    @media screen and (min-width: 744px) {
        padding-bottom: 86px;
    }
    @media screen and (min-width: 1280px) {
        padding-bottom: 66px;
    }
}

.cooperation-with-us-section__title {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: var(--text-color);
    margin-bottom: 30px;

    @media screen and (min-width: 744px) {
        font-size: 42px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 56px;
        margin-bottom: 60px;
    }
}

.cooperation-with-us-section__container{
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 1280px) {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    @media screen and (min-width: 744px) {
        margin-top: -20px;
        margin-left: -20px;
    }
}

.advantages__item{
    width: 100%;
    margin-top: 10px;
    background-color: var(--text-color-card);
    border-radius: 8px;
    padding: 20px 0 20px 20px;
    @media screen and (min-width: 744px) {
        margin-top: 20px;
        margin-left: 20px;
    }
}


.advantages__item:nth-child(1) {
    .advantages__description{
        max-width: 282px;
        @media screen and (min-width: 744px) {
            max-width: 200px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 307px;
        }
    }
}

.advantages__item:nth-child(2) {
    .advantages__description {
        max-width: 295px;
        @media screen and (min-width: 744px) {
            max-width: 209px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 320px;
        }
    }
}

.advantages__item:nth-child(3) {
    .advantages__description {
        max-width: 250px;
        @media screen and (min-width: 744px) {
            max-width: 177px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 320px;
        }
    }
}

.advantages__item:nth-child(4) {
    .advantages__description {
        max-width: 255px;
        @media screen and (min-width: 744px) {
            max-width: 290px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 392px;
        }
    }
}

.advantages__item:nth-child(5) {
    .advantages__description {
        max-width: 285px;
        @media screen and (min-width: 744px) {
            max-width: 320px;
        }
        @media screen and (min-width: 1280px) {
            max-width: 469px;
        }
    }
    .advantages__title--mobile-tablet {
        @media screen and (min-width: 744px) {
            max-width: 158px;
        }
    }
}


@media screen and (min-width: 744px) {
    .advantages__item:nth-child(1) {
        max-width: 232px;
        padding: 20px 0 11px 20px;
    }
    .advantages__item:nth-child(2) {
        max-width: 225px;
        padding: 20px 0 11px 20px;
    }
    .advantages__item:nth-child(3) {
        max-width: 215px;
        padding: 20px 0 11px 20px;
    }
    .advantages__item:nth-child(4) {
        max-width: 348px;
    }
    .advantages__item:nth-child(5) {
        max-width: 346px;
    }
}

@media screen and (min-width: 1280px) {
    .advantages__item:nth-child(1) {
        max-width: 360px;
        padding: 20px 0 20px 20px;
    }
    .advantages__item:nth-child(2) {
        max-width: 360px;
        padding: 20px 0 20px 20px;
    }
    .advantages__item:nth-child(3) {
        max-width: 360px;
        padding: 20px 0 20px 20px;
    }
    .advantages__item:nth-child(4) {
        max-width: 550px;
    }
    .advantages__item:nth-child(5) {
        max-width: 550px;
    }
}

.advantages__title{
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: var(--accent-color);
    margin-bottom: 40px;

    @media screen and (min-width: 744px) {
        font-size: 32px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 40px;
        margin-bottom: 50px;
    }
}

.advantages__title--mobile-tablet,
.advantages__description--mobile-tablet {
    display: block;

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.advantages__title--desktop,
.advantages__description--desktop {
    display: none;

    @media screen and (min-width: 1280px) {
        display: block;
    }
}


.advantages__title--numeric {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: var(--accent-color);
    margin-bottom: 40px;

    @media screen and (min-width: 744px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 64px;
        margin-bottom: 50px;
    }
}

.advantages__description {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--text-color);
    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.advantages__item:nth-child(4) .advantages__description,
.advantages__item:nth-child(5) .advantages__description {
    font-size: 12px;
    @media screen and (min-width: 744px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}
