.cooperation-with-us-section{
    padding-top: 80px;
    padding-bottom: 89px;
    outline: 1px solid red;
}

.cooperation-with-us-section__title {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: var(--text-color);
    margin-bottom: 30px;

    @media screen and (min-width: 744px) {
        font-size: 42px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 56px;
        margin-bottom: 60px;
    }
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
}

.advantages__item{
    width: 100%;
    margin-top: 10px;
    background-color: var(--text-color-card);
    border-radius: 8px;
}
