.page-header{
    padding: 16px 0;
    border: 1px solid;
}

.page-header__conteiner{
    display: flex;
    align-items: center;
}

.container{
    border: 1px solid;
}

.logo__header-icon{
    display: block;
}

.main-nav{
    display: flex;
}

.site-nav {
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 268px;

        &__item:not(:last-child) {
            margin-right: 30px;
        }

        &__link {
            font-family: 'Golos Text', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -0.05em;
            display: block;
            color: var(--text-color-nav);
            text-decoration: none;
        }
    }
}

.page-header__button{
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.06em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    margin: 0;
    border-radius: 100px;
}

.page-header__button.login{
    color: #795BDA;
    width: 84px;
    height: 32px;
    background-color: rgba(121, 91, 218, 0.1);
}

.page-header__button.choose-person{
    @media screen and (max-width: 743px) {
        display: none;
    }
    
    color: #FFFFFF;
    width: 146px;
    height: 32px;
    background-color: #795BDA;
    margin-left: 8px;
}
