.hero-section {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;

    @media screen and (min-width: 744px) {
        padding: 80px 0 0 0;
    }
}

.hero-section {
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/ImgCooperation/heroMobile@2x.jpg);
    background-repeat: no-repeat;
    background-position: 50% 220px;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/ImgCooperation/heroMobile@2x.jpg);
    }

    @media screen and (min-width: 744px) {
        background-image: url(../images/ImgCooperation/heroTablet@2x.jpg);
        background-position: 50% top;
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/ImgCooperation/heroTablet@2x.jpg);
        }
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/ImgCooperation/heroDesktop@2x.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/ImgCooperation/heroDesktop@2x.jpg);
        }
    }
}

.hero-section__container {
    margin-bottom: 416px;

    @media screen and (min-width: 744px) {
        margin-bottom: 609px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 175px;
    }
}

.hero-section__title {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: var(--text-color);
    margin-bottom: 20px;

    @media screen and (min-width: 744px) {
        position: relative;
        width: 455px;
        font-size: 64px;
        line-height: 100%;
        margin-bottom: 30px;
    }
}

.hero-section__icon-love-heart {
    width: 12px;
    height: 10px;
    margin-left: -5px;
    margin-bottom: -5px;
    @media screen and (min-width: 744px) {
        width: 14px;
        height: 12px;
    }
}

.hero-section__text {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--text-color);

    @media screen and (min-width: 744px) {
        width: 314px;
    }
}

//hero-section__content-container
.hero-section__content-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 744px) {
        padding-left: 40px;
        padding-right: 40px;
        width: 744px;
    }

    @media screen and (min-width: 1280px) {
        padding-left: 80px;
        padding-right: 80px;
        width: 1280px;
    }
}

.hero-section__content {
    max-width: 370px;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.hero-section__content-text {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--text-color);
    margin-bottom: 20px;

    @media screen and (min-width: 744px) {
        font-weight: 400;
    }
    @media screen and (min-width: 1280) {
        font-weight: 400;
    }
}

.hero-section__content-button {
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: var(--text-color-white);

    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #795BDA;
    border: 1px solid transparent;
    border-radius: 150px;
    cursor: pointer;

    &:hover {
        background-color: #694fbf;
    }
}

.hero-section__content-button-icon {
    margin-left: 12px;
}
