.language-menu{
    margin-left: auto;
    position: relative;
    margin-right: 16px;
    display: none;
}

.language-toggle{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language{
    margin-right: 4px;
    font-family: 'Golos Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    color: var(--text-color-nav);
}

.language-menu .language-list {
    display: none;
}

.language-menu.open .language-list {
    display: block;
}

.language-list{
    position: absolute;
    padding: 8px 8px 4px;
    background: #f3f3f3;
    li {
        margin: 5px 0;
        a {
            text-decoration: none;
            color: var(--text-color-nav);;
        }
    }
}

.icon-arrow{
    transition: transform 0.3s ease-in-out;
}

.icon-arrow.rotate {
    transform: rotate(180deg);
}
