.filter-menu {
    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.psychologists-section__beckdrop {

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    overflow: hidden;
    overflow-y: scroll;
    
    padding: 60px 20px;
    background-color: rgba(34, 43, 64, 0.2);
    backdrop-filter: blur(10px);
    z-index: 999;
    
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;


    @media screen and (min-width: 1280px) {
        position: static;
        overflow-y: visible;
        width: auto;
        width: 260px;
        height: auto;
        padding: 0;
        background-color: transparent;
        transform: translateX(0);
        margin-right: 20px;
    }

    .psychologists-modal-wrap{
        width: 100%;
        min-height: 100%;
        margin: auto;
    }
}

.psychologists-section__beckdrop.is-open {
    transform: translateX(0);
}

.modal-is-open {
    overflow: hidden;
}
