
.result__lines-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}
.result__line {
    height: 3px;
    border-top: 3px solid rgba(34, 43, 64, 0.1);
    margin: 40px 0;
    span {
        display: none;
        padding-top: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        color: #795BDA;
    }
}
.active {
    border-top: 3px solid rgba(121, 91, 218, 1);
    span {
        display: block;
    }
}
.result__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #222B40;
    max-width: 642px;
}
.result__cards {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    margin-top: 40px;
}
.result__card-wrap {
    border: none;
    background: #fff;
    border-radius: 8px;
    height: 150px;
    display: flex;
    padding: 0;
    text-align: left;
    &:hover,
    &:focus {
        cursor: pointer;
        background: #795BDA;
        .card__info {
            h3,
            p,
            .card__price {
                color: #fff;
            }
        }
    }
}
.card__img {
    max-width: 200px;
    img {
        object-fit: cover;
        height: 150px;
        border-radius: 8px 0 0 8px;
    }
}
.card__info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    h3 {
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.06em;
        color: #222B40;
        margin-bottom: 8px;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        margin-bottom: 24px;
    }
}
.card__price {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    span {
        font-size: 16px;
        margin-left: 5px;
    }
}





/*----------------------------------------------------*/
.fixed__box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98%;
    margin: 0 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px -4px 20px -10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  
}
.fixed__left-block {
    flex: 0 1 33.333%;
}
.fixed__ai-wrap {
    display: flex;
    align-items: center;
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        max-width: 340px;
    }
}
.fixed__ai {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    border: 1px solid #222B40;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    flex: 0 0 46px;
}
.fixed__center-block {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
}
// .fixed__btn {
//     border: none;
//     padding: 16px 24px;
//     width: 140px;
//     height: 46px;
//     background: rgba(121, 91, 218, 0.1);
//     border-radius: 23px;
//     color: #795BDA;
//     margin: 0 5px;
// }

// .fixed__button-prew {
//     &:hover {
//         cursor: pointer;
//         background: rgba(121, 91, 218, 0.2);
//     }
// }

// .fixed__button-next {
//     background: rgba(121, 91, 218, 1);
//     color: #fff;
//     &:hover {
//         cursor: pointer;
//         background: rgb(107, 80, 194);
//     }
// }

// .icon-fixed-arrow-prew {
//     margin-right: 9px;
// }
// .icon-fixed-arrow-next {
//     margin-left: 9px;
// }
.fixed__right-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 33.333%;
}
.fixed__wrap {
    .right-block__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
    }
}
.fixed__images {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    li {
        img {
            width: 46px;
            border: 2px solid #F3F3F3;
            border-radius: 50%;
        }
        .two {
            transform: translateX(-10px);
        }
        .three {
            transform: translateX(-20px);
        }
    }
}



@media screen and (max-width:1280px) {
    .result__card-wrap {
        height: 360px;
        flex-direction: column;
    }
    .card__img {
        max-width: 100%;
        img {
            height: 227px;
            border-radius: 8px 8px 0 0;
        }
    }
    .card__info p {
        margin-bottom: 10px;
    }
    .fixed__box {
        width: 95%;
    }
    .fixed__left-block {
        display: none;
    }
    .fixed__center-block {
        flex: 0 50%;
        justify-content: flex-start;
    }
    .fixed__right-block {
        flex: 0 50%;
        justify-content: flex-end;
    }
    
}
@media screen and (max-width: 744px) {
    .result__lines-block {
        margin-bottom: 10px;
    }
    .result__line span {
        font-size: 10px;
    }
    .result__title {
        font-size: 34px;
    }
    .result__cards {
        gap: 5px;
    }
    .result__card-wrap {
        width: 170px;
        height: 234px;
        flex-direction: column;
    }
    .card__img {
        img {
            height: 120px;
        }
    }
    .card__info{
        margin: 16px;
        h3 {
            font-size: 18px;
        }
    }
    .card__price {
        font-size: 20px;
    }

    .fixed__box {
        width: 100%;
        margin: 0;
    }
    .fixed__images {
        display: none;
    }
    .fixed__button-prew {
        width: 46px;
        span {
            display: none;
        }
    }
    
}

//fixed__button-load-more
.fixed__button-load-more {
    width: 140px;
    background: rgba(121, 91, 218, 1);
    color: #fff;
    cursor: pointer;

    &:hover {
        background: rgb(107, 80, 194);
    }

    @media screen and (min-width:1280px) {
        width: 186px;
    }
}

//js
.result__container {
    position: relative;
    padding-bottom: 500px;
    overflow: hidden;
    @media screen and (min-width: 744px) {
        padding-bottom: 780px;
    }
    @media screen and (min-width: 1280px) {
        padding-bottom: 360px;
    }
}

.user-manual__list {
    display: flex;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 300ms ease-in-out;

    @media screen and (min-width: 744px) {
        padding: 0 40px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0 80px;
    }
}

.user-manual__item {
    width: 350px;

    @media screen and (min-width: 744px) {
        width: 644px;
    }

    @media screen and (min-width: 1280px) {
        width: 1100px;
    }
}

.user-manual__item:not(:last-child) {
    margin-right: 20px;

    @media screen and (min-width: 744px) {
        margin-right: 60px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 120px;
    }
}
