.section-form-restore-password__container {
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 350px) {
        width: 350px;
    }

    @media screen and (min-width: 744px) {
        width: 420px;
    }

    @media screen and (min-width: 1280px) {
        width: 420px;
    }
}

.section-form-restore-password__content {
    padding: 30px;
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
}

.section-form-restore-password__title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    margin-bottom: 10px;
}

.section-form-restore-password__text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    color: #222B40;
    display: inline;
}

.section-form-restore-password__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    text-decoration-line: underline;
    color: #795BDA;
    margin-left: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: #6849cc;
        ;
    }
}

.form-restore-password__field {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30px;

    .form-restore-password__label {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: rgba(34, 43, 64, 0.4);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form-restore-password__input {
        outline: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #222B40;
        padding: 8px 0 14px 0;
        border: none;
        border-bottom: 1px solid #222B40;
        cursor: pointer;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-bottom: 1px solid #795BDA;
        }

        &:focus+.form-restore-password__label,
        &:hover+.form-restore-password__label {
            color: #795BDA;
        }
    }
}

.form-restore-password__text {
    max-width: 281px;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: rgba(34, 43, 64, 0.4);
    margin-bottom: 30px;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-restore-password__button-submit {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    width: 194px;
    height: 46px;
    background-color: #795BDA;
    border-radius: 150px;
    border: transparent;
    outline: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        background-color: #6849cc;
    }
}

//JS 
.form-restore-password__input.is-not-valid {
    border-bottom: 1px solid #ff5549;

    &:hover,
    &:focus {
        border-bottom: 1px solid #ff5549;
    }

    &:hover+.form-restore-password__label,
    &:focus+.form-restore-password__label {
        color: #ff5549;
    }
}

.form-restore-password__input.is-not-valid+.form-restore-password__label {
    color: #ff5549;
}