.sign-for-session {
    margin-top: 20px;
}
//block sign-for-session__psychologist
.sign-for-session__psychologist {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;

    @media screen and (min-width: 744px) {
        padding: 30px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0;
        margin: 0;
    }

    &.hidden-desktop {
        @media screen and (min-width: 1280px) {
            display: none;
        }
    }

    &.hidden-mobile {
        @media screen and (max-width: 1279px) {
            display: none;
        }
    }
}

.sign-for-session__image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 84px;
    min-height: 84px;
    border: 2px solid #795BDA;
    margin-right: 16px;
}

.sign-for-session__image-wrapper-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #795BDA;
    overflow: hidden;
}

.sign-for-session__image{
    width: 98px;
}

.sign-for-session__name{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #795BDA;
    margin-bottom: 3px;

    @media screen and (min-width: 744px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.sign-for-session__experience{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: rgba(34, 43, 64, 0.4);
}

//sign-for-session__booking-section
.sign-for-session__booking-section {
    background-color: #FFFFFF;
}