.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    visibility: hidden;
    pointer-events: none;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

//testpage
.testpage .test__card-wrap.is-active {
    background: #795bda;

    & .test__card-title {
        color: #fff;
    }

    & .person-purple {
        fill: #ff5c8d;}
}

//state
.state .card__link-btn.is-active {
    background: #795bda;

    & .state__card-title {
        color: #fff;
    }

    & .icon__crds {
        fill: #ff5c8d;
    }
}

//consern
.requests .card__link-btn.is-active {
    background: #795bda;

    & .state__card-title {
        color: #fff;
    }

    & .icon__crds {
        fill: #ff5c8d;
    }
}

//consern
.consern .card__link-btn.is-active {
    background: #795bda;

    & .consern__card-title {
        color: #fff;
    }

    & .icon__crds {
        fill: #ff5c8d;
    }
}

//child
.category .card__link-btn.is-active {
    background: #795bda;

    & .category__card-title {
        color: #fff;
    }

    & .category__card-old span {
        color: #ff5c8d;
    }
}
