
.testpage__lines-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 30px;
}
.test__line {
    height: 3px;
    border-top: 3px solid rgba(34, 43, 64, 0.1);
    margin: 40px 0;
    span {
        display: none;
        padding-top: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        color: #795BDA;
    }
}
.active {
    border-top: 3px solid rgba(121, 91, 218, 1);
    span {
        display: block;
    }
}
.testpage__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #222B40;
    margin-bottom: 40px;
}
.testpage__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.test__card-wrap {
    border: none;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    min-height: 160px;
    max-height: 200px;
    transition: all 0.3s ease 0s;
    &:hover {
        cursor: pointer;
        background: rgba(121, 91, 218, 1);
        .card__link {
            .test__card-title {
                color: #fff;
            }
            .person-purple {
                fill: #FF5C8D;
            }
    }
    }
}
.card__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.test__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.05em;
    color: #222B40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 99px;
}
.test__card__icon {
    display: flex;
    align-items: center;
    span {
        font-family: 'Inter Tight';
        // font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.01em;
        max-width: 104px;
        color: #fff;
        text-align: left;
    }
}
.person-purple {
    margin-right: 9px;
    fill: #795BDA;
}

.fixed__box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98%;
    margin: 0 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px -4px 20px -10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
  
}
.fixed__left-block {
    flex: 0 1 33.333%;
}
.fixed__ai-wrap {
    display: flex;
    align-items: center;
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        max-width: 340px;
    }
}
.fixed__ai {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    border: 1px solid #222B40;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    flex: 0 0 46px;
}
.fixed__center-block {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fixed__btn {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 140px;
    height: 46px;
    background: rgba(121, 91, 218, 0.1);
    border-radius: 23px;
    color: #795BDA;
    margin: 0 5px;
}
.fixed__button-prew {
    &:hover {
        cursor: pointer;
        background: rgba(121, 91, 218, 0.2);
    }
}
.fixed__button-next {
    background: rgba(121, 91, 218, 1);
    color: #fff;
    &:hover {
        cursor: pointer;
        background: rgb(107, 80, 194);
    }
}

.icon-fixed-arrow-prew,
.icon-fixed-arrow-next,
.icon-fixed-arrow-load-more {
    margin-left: 9px;
}
.fixed__right-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 33.333%;
}
.fixed__wrap {
    .right-block__subtitle {
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
    }
}
.fixed__images {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    li {
        img {
            width: 46px;
            border: 2px solid #F3F3F3;
            border-radius: 50%;
        }
        .two {
            transform: translateX(-10px);
        }
        .three {
            transform: translateX(-20px);
        }
    }
}



@media screen and (max-width:1280px) {
    .test__card-title {
        font-size: 22px;
    }
    .fixed__box {
        width: 95%;
    }
    .fixed__left-block {
        display: none;
    }
    .fixed__center-block {
        flex: 0 50%;
        justify-content: flex-start;
    }
    .fixed__right-block {
        flex: 0 50%;
        justify-content: flex-end;
    }
    
}
@media screen and (max-width: 744px) {
    .test__card-title {
        font-size: 22px;
    }
    .testpage__cards {
        grid-template-columns: 1fr;
        gap: 20px;
        display: grid;
    }
    .testpage__title {
        font-size: 34px;
    }
    .test__card-title {
        margin-bottom: 62px;
    }
    .fixed__box {
        width: 100%;
        margin: 0;
    }
    .fixed__images {
        display: none;
    }
    .fixed__button-prew {
        width: 46px;
        span {
            display: none;
        }
    }
    
}

//fixed__button-load-more
.fixed__button-load-more {
    width: 140px;
    background: rgba(121, 91, 218, 1);
    color: #fff;
    cursor: pointer;

    &:hover {
        background: rgb(107, 80, 194);
    }

    @media screen and (min-width:1280px) {
        width: 186px;
    }
}


.icon-fixed-arrow-prew {
    margin: 0;
    padding: 0;
    @media screen and (min-width:744px) {
        margin-right: 9px;
    }
}
