.user-manual{
    padding: 80px 0 140px;
    overflow: hidden;
}

.user-manual__container{
    height: 616px;
    position: relative;

    @media screen and (min-width: 744px) {
        height: 480px;
        padding-left: 40px;
        padding-right: 40px;
    }
    @media screen and (min-width: 1280px) {
        height: 580px;
        padding-left: 80px;
        padding-right: 80px;
    }
}

.user-manual__thumb{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
    @media screen and (min-width: 744px) {
        margin-bottom: 40px;
    }
}

.user-manual__title{
    position: relative;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: var(--text-color);
    width: 273px;

    @media screen and (min-width: 744px) {
        font-size: 42px;
        width: 407px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 56px;
        width: 540px;
    }
}

.user-manual__icon-love-heart{
    width: 10px;
    height: 8px;
    margin-left: -3px;
    margin-bottom: -1px;
    @media screen and (min-width: 744px) {
        width: 14px;
        height: 12px;
        margin-left: -2px;
        margin-bottom: -2px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: -9px;
        margin-bottom: -5px;
    }
}

.user-manual__icon-next{
    @media screen and (min-width: 1280px) {
        width: 18.78px;
        height: 18.78px;
    }
}
.user-manual-section__icon-heart {
    display: block;
    position: absolute;
    bottom: 5px;
    right: -4px;
    @media screen and (max-width: 1280px) {
        bottom: 5px;
        right: 11px;
    }
    @media screen and (max-width: 744px) {
        bottom: 3px;
        right: 155px;
        width: 10px;
        height: 8px;
    }
}
.user-manual__button{
    width: 46px;
    height: 46px;
    background-color: rgba(121, 91, 218, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    margin-bottom: 6px;
    cursor: pointer;
    @media screen and (min-width: 1280px) {
        width: 72px;
        height: 72px;
        margin-bottom: 12px;
    }
    
    &:hover {
        background-color: #795bda33;
    }
}



.user-manual__list{
    padding: 0 20px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
    @media screen and (min-width: 744px) {
        padding: 0 40px;
    }
    @media screen and (min-width: 1280px) {
        padding: 0 80px;
    }
}

.user-manual__item {
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    height: 478px;
    width: 350px;   
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 744px) {
        flex-direction: row;
        height: 347px;
        width: 664px;
    }
    @media screen and (min-width: 1280px) {
        height: 420px;
        width: 1120px;
    }
}

.user-manual__item:not(:last-child){
    margin-right: 20px;
    @media screen and (min-width: 744px) {
        margin-right: 40px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 20px;
    }
}

.user-manual__card{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    @media screen and (min-width: 744px) {
        margin: 0;
        width: 304px;
        padding: 20px 0 20px 20px;
    }
    @media screen and (min-width: 1280px) {
        width: 440px;
        padding: 30px 0 30px 30px;
    }
}

.user-manual__step-number{
    @media screen and (min-width: 744px) {
    }
    @media screen and (min-width: 1280px) {
    }
}

.user-manual__step,
.user-manual__number {
    display: inline-flex;
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: var(--text-color);
    border: 1px solid;
    padding: 10px 10px;
    border-radius: 100px;
}

.card__title{
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: var(--text-color);
    margin-bottom: 10px;
    margin-top: 30px;
    @media screen and (min-width: 744px) {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.05em;
        margin-bottom: 25px;
        margin-top: auto;
    }
    @media screen and (min-width: 744px) {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.05em;
        margin-top: auto;
        margin-bottom: 20px;
    }
}

.card__text{
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--text-color);
    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.user-manual__image{
    position: relative;
    margin-top: auto;
    @media screen and (min-width: 744px) {
        width: 340px;
        height: 270px;
        margin-left: auto;
        margin-bottom: auto;
    }
    @media screen and (min-width: 1280px) {
        width: 530px;
        height: 420px;
        margin-left: auto;
    }
}

.user-manual__image--img-top {
    position: absolute;
    width: 178px;
    top: 122px;
    left: 152px;
    overflow: hidden;
    border-radius: 8px;

    @media screen and (min-width: 744px) {
        width: 174px;
        top: 126px;
        left: 136px;
    }
    
    @media screen and (min-width: 1280px) {
        width: 270px;
        top: 186px;
        left: 230px;
    }
}

.card__text.card__text--width {
    @media screen and (min-width: 1280px) {
            width: 375px;
        }
}
