
.requests__body {
    // margin-top: 40px;
}
.requests__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #222B40;
    margin-bottom: 60px;
}

.item__content {
    margin-top: 20px;
}
.request-item__wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: 32px 25px;
    background: rgba(34, 43, 64, 0.05);
    border-radius: 8px;
    &:hover {
        cursor: pointer;
    }
}
.request-item__wrap::before,
.request-item__wrap::after {
    content: '';
    width: 19px;
    height: 2px;
    background: #222B40;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
}
.request-item__wrap::before {
    transform: rotate(90deg);
    right: 25px;
}
.request-item__wrap::after {
    transform: rotate(0deg);
    right: 25px;
}
.block__title.active::before {
    background: transparent;
}

.block__title.active::after {
    transform: rotate(45deg);
}

.item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #795BDA;
}
.item__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;   
    color: #222B40;
    margin-left: 29px;
}

.state__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
}
.card__link-btn {
    border: none;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 200px;
    transition: all 0.3s ease 0s;
    &:hover {
        cursor: pointer;
        background: #795BDA;
        .state__card-title {
            color: #fff;
        }
    }
}
.state__card__icon {
    width: 48px;
    height: 48px;
}
.health__icon_1 {
    background: url('../images/test-icons/Depresion.svg');
}
.health__icon_2 {
    background: url('../images/test-icons/Panic-attacks.svg');
}
.health__icon_3 {
    background: url('../images/test-icons/HeadAlarm.svg');
}
.health__icon_4 {
    background: url('../images/test-icons/moon.stars.svg');
}
.health__icon_5 {
    background: url('../images/test-icons/HeadFire.svg');
}
.health__icon_6 {
    background: url('../images/test-icons/alco.svg');
}
.health__icon_7 {
    background: url('../images/test-icons/cross.case.svg');
}
.health__icon_8 {
    background: url('../images/test-icons/pizza.svg');
}
.health__icon_9 {
    background: url('../images/test-icons/person.wave.2.svg');
}
.health__icon_10 {
    background: url('../images/test-icons/brain.svg');
}
.card__link-btn:hover .health__icon_1,
.card__link-btn:focus .health__icon_1 {
    background: url('../images/test-icons/Depresion-pink.svg');
}
.card__link-btn:hover .health__icon_2,
.card__link-btn:focus .health__icon_2 {
    background: url('../images/test-icons/Panic-attacks-pink.svg');
}
.card__link-btn:hover .health__icon_3,
.card__link-btn:focus .health__icon_3 {
    background: url('../images/test-icons/HeadAlarm-pink.svg');
}
.card__link-btn:hover .health__icon_4,
.card__link-btn:focus .health__icon_4 {
    background: url('../images/test-icons/moon.stars-pink.svg');
}
.card__link-btn:hover .health__icon_5,
.card__link-btn:focus .health__icon_5 {
    background: url('../images/test-icons/HeadFire-pink.svg');
}
.card__link-btn:hover .health__icon_6,
.card__link-btn:focus .health__icon_6 {
    background: url('../images/test-icons/alco-pink.svg');
}
.card__link-btn:hover .health__icon_7,
.card__link-btn:focus .health__icon_7 {
    background: url('../images/test-icons/cross.case-pink.svg');
}
.card__link-btn:hover .health__icon_8,
.card__link-btn:focus .health__icon_8 {
    background: url('../images/test-icons/pizza-pink.svg');
}
.card__link-btn:hover .health__icon_9,
.card__link-btn:focus .health__icon_9 {
    background: url('../images/test-icons/person.wave.2-pink.svg');
}
.card__link-btn:hover .health__icon_10,
.card__link-btn:focus .health__icon_10 {
    background: url('../images/test-icons/brain-pink.svg');
}

.family-cart-1 {
    background: url('../images/test-icons/Heart.Snow.svg');
}
.family-cart-2 {
    background: url('../images/test-icons/Human.BokenHear.svg');
}
.family-cart-3 {
    background: url('../images/test-icons/Heart.Broken.svg');
}
.family-cart-4 {
    background: url('../images/test-icons/Fist.svg');
}
.family-cart-5 {
    background: url('../images/test-icons/person.crop.circle.svg');
}
.family-cart-6 {
    background: url('../images/test-icons/baby.svg');
}
.family-cart-7 {
    background: url('../images/test-icons/person.2.circle.svg');
}
.family-cart-8 {
    background: url('../images/test-icons/Human.Conect.svg');
}
.family-cart-9 {
    background: url('../images/test-icons/pegancy.svg');
}
.card__link-btn:hover .family-cart-1,
.card__link-btn:focus .family-cart-1 {
    background: url('../images/test-icons/Heart.Snow-pink.svg');
}
.card__link-btn:hover .family-cart-2,
.card__link-btn:focus .family-cart-2 {
    background: url('../images/test-icons//HumanBokenHear-pink.svg');
}
.card__link-btn:hover .family-cart-3,
.card__link-btn:focus .family-cart-3 {
    background: url('../images/test-icons/Heart.Broken-pink.svg');
}
.card__link-btn:hover .family-cart-4,
.card__link-btn:focus .family-cart-4 {
    background: url('../images/test-icons/Fist-pink.svg');
}
.card__link-btn:hover .family-cart-5,
.card__link-btn:focus .family-cart-5 {
    background: url('../images/test-icons/person.crop.circle-pink.svg');
}
.card__link-btn:hover .family-cart-6,
.card__link-btn:focus .family-cart-6 {
    background: url('../images/test-icons/baby-pink.svg');
}
.card__link-btn:hover .family-cart-7,
.card__link-btn:focus .family-cart-7 {
    background: url('../images/test-icons/person.2.circle-pink.svg');
}
.card__link-btn:hover .family-cart-8,
.card__link-btn:focus .family-cart-8 {
    background: url('../images/test-icons/HumanConect-pink.svg');
}
.card__link-btn:hover .family-cart-9,
.card__link-btn:focus .family-cart-9 {
    background: url('../images/test-icons/pegancy-pink.svg');
}

.relations-cart-1 {
    background: url('../images/test-icons/Person.Cloud.svg');
}
.relations-cart-2 {
    background: url('../images/test-icons/shareplay.svg');
}
.relations-cart-3 {
    background: url('../images/test-icons/battery.low.svg');
}
.relations-cart-4 {
    background: url('../images/test-icons/hand.thumbsdown.svg');
}
.relations-cart-5 {
    background: url('../images/test-icons/head.minds.svg');
}
.relations-cart-6 {
    background: url('../images/test-icons/chart.line.uptrend.xyaxis.svg');
}
.relations-cart-7 {
    background: url('../images/test-icons/Lasso.svg');
}
.relations-cart-8 {
    background: url('../images/test-icons/LGBT.svg');
}
.relations-cart-9 {
    background: url('../images/test-icons/exclamationmark.bubble.svg');
}
.relations-cart-10 {
    background: url('../images/test-icons/laptopcomputer.svg');
}
.card__link-btn:hover .relations-cart-1,
.card__link-btn:focus .relations-cart-1 {
    background: url('../images/test-icons/Person.Cloud-pink.svg');
}
.card__link-btn:hover .relations-cart-2,
.card__link-btn:focus .relations-cart-2 {
    background: url('../images/test-icons/shareplay-pink.svg');
}
.card__link-btn:hover .relations-cart-3,
.card__link-btn:focus .relations-cart-3 {
    background: url('../images/test-icons/battery.low-pink.svg');
}
.card__link-btn:hover .relations-cart-4,
.card__link-btn:focus .relations-cart-4 {
    background: url('../images/test-icons/hand.thumbsdown-pink.svg');
}
.card__link-btn:hover .relations-cart-5,
.card__link-btn:focus .relations-cart-5 {
    background: url('../images/test-icons/head.minds-pink.svg');
}
.card__link-btn:hover .relations-cart-6,
.card__link-btn:focus .relations-cart-6 {
    background: url('../images/test-icons/chart.line.uptrend.xyaxis-pink.svg');
}
.card__link-btn:hover .relations-cart-7,
.card__link-btn:focus .relations-cart-7 {
    background: url('../images/test-icons/Lasso-pink.svg');
}
.card__link-btn:hover .relations-cart-8,
.card__link-btn:focus .relations-cart-8 {
    background: url('../images/test-icons/LGBT-pink.svg');
}
.card__link-btn:hover .relations-cart-9,
.card__link-btn:focus .relations-cart-9 {
    background: url('../images/test-icons/exclamationmark.bubble-pink.svg');
}
.card__link-btn:hover .relations-cart-10,
.card__link-btn:focus .relations-cart-10 {
    background: url('../images/test-icons/laptopcomputer-pink.svg');
}

.others-cart-1 {
    background: url('../images/test-icons/Handshake.svg');
}
.others-cart-2 {
    background: url('../images/test-icons/person.2.circle.svg');
}
.others-cart-3 {
    background: url('../images/test-icons/rose.svg');
}
.others-cart-4 {
    background: url('../images/test-icons/male.female.svg');
}
.others-cart-5 {
    background: url('../images/test-icons/LGBT.svg');
}
.others-cart-6 {
    background: url('../images/test-icons/bubble.left.and.bubble.right.svg');
}
.others-cart-7 {
    background: url('../images/test-icons/quote.bubble.svg');
}
.others-cart-8 {
    background: url('../images/test-icons/Human.arrows.svg');
}
.others-cart-9 {
    background: url('../images/test-icons/Humans.Cross.svg');
}
.card__link-btn:hover .others-cart-1,
.card__link-btn:focus .others-cart-1 {
    background: url('../images/test-icons/Handshake-pink.svg');
}
.card__link-btn:hover .others-cart-2,
.card__link-btn:focus .others-cart-2 {
    background: url('../images/test-icons/person.2.circle-pink.svg');
}
.card__link-btn:hover .others-cart-3,
.card__link-btn:focus .others-cart-3 {
    background: url('../images/test-icons/rose-pink.svg');
}
.card__link-btn:hover .others-cart-4,
.card__link-btn:focus .others-cart-4 {
    background: url('../images/test-icons/male.female-pink.svg');
}
.card__link-btn:hover .others-cart-5,
.card__link-btn:focus .others-cart-5 {
    background: url('../images/test-icons/LGBT-pink.svg');
}
.card__link-btn:hover .others-cart-6,
.card__link-btn:focus .others-cart-6 {
    background: url('../images/test-icons/bubble.left.and.bubble.right-pink.svg');
}
.card__link-btn:hover .others-cart-7,
.card__link-btn:focus .others-cart-7 {
    background: url('../images/test-icons/quote.bubble-pink.svg');
}
.card__link-btn:hover .others-cart-8,
.card__link-btn:focus .others-cart-8 {
    background: url('../images/test-icons/Human.arrows-pink.svg');
}
.card__link-btn:hover .others-cart-9,
.card__link-btn:focus .others-cart-9 {
    background: url('../images/test-icons/Humans.Cross-pink.svg');
}

.life-cart-1 {
    background: url('../images/test-icons/arrow.2.squarepath.svg');
}
.life-cart-2 {
    background: url('../images/test-icons/person.and.arrow.left.and.arrow.right.svg');
}
.life-cart-3 {
    background: url('../images/test-icons/money.svg');
}
.life-cart-4 {
    background: url('../images/test-icons/move.svg');
}
.life-cart-5 {
    background: url('../images/test-icons/calendar.Clock.svg');
}
.life-cart-6 {
    background: url('../images/test-icons/RIP.svg');
}
.life-cart-7 {
    background: url('../images/test-icons/Person.Cloud.svg');
}
.life-cart-8 {
    background: url('../images/test-icons/person.crop.circle.badge.svg');
}
.life-cart-9 {
    background: url('../images/test-icons/person.crop.circle.badge.exclamationmark.svg');
}
.card__link-btn:hover .life-cart-1,
.card__link-btn:focus .life-cart-1 {
    background: url('../images/test-icons/arrow.2.squarepath-pink.svg');
}
.card__link-btn:hover .life-cart-2,
.card__link-btn:focus .life-cart-2 {
    background: url('../images/test-icons/person.and.arrow.left.and.arrow.right-pink.svg');
}
.card__link-btn:hover .life-cart-3,
.card__link-btn:focus .life-cart-3 {
    background: url('../images/test-icons/money-pink.svg');
}
.card__link-btn:hover .life-cart-4,
.card__link-btn:focus .life-cart-4 {
    background: url('../images/test-icons/move-pink.svg');
}
.card__link-btn:hover .life-cart-5,
.card__link-btn:focus .life-cart-5 {
    background: url('../images/test-icons/calendar.Clock-pink.svg');
}
.card__link-btn:hover .life-cart-6,
.card__link-btn:focus .life-cart-6 {
    background: url('../images/test-icons/RIP-pink.svg');
}
.card__link-btn:hover .life-cart-7,
.card__link-btn:focus .life-cart-7 {
    background: url('../images/test-icons/Person.Cloud-pink.svg');
}
.card__link-btn:hover .life-cart-8,
.card__link-btn:focus .life-cart-8 {
    background: url('../images/test-icons/person.crop.circle.badge-pink.svg');
}
.card__link-btn:hover .life-cart-9,
.card__link-btn:focus .life-cart-9 {
    background: url('../images/test-icons/person.crop.circle.badge.exclamationmark-pink.svg');
}

.war-cart-1 {
    background: url('../images/test-icons/arrow.2.squarepath.svg');
}
.war-cart-2 {
    background: url('../images/test-icons/location.circle.svg');
}
.war-cart-3 {
    background: url('../images/test-icons/person.fill.questionmark.svg');
}
.war-cart-4 {
    background: url('../images/test-icons/move.svg');
}
.war-cart-5 {
    background: url('../images/test-icons/RIP.svg');
}
.war-cart-6 {
    background: url('../images/test-icons/cross.case.svg');
}
.card__link-btn:hover .war-cart-1,
.card__link-btn:focus .war-cart-1 {
    background: url('../images/test-icons/arrow.2.squarepath-pink.svg');
}
.card__link-btn:hover .war-cart-2,
.card__link-btn:focus .war-cart-2 {
    background: url('../images/test-icons/location.circle-pink.svg');
}
.card__link-btn:hover .war-cart-3,
.card__link-btn:focus .war-cart-3 {
    background: url('../images/test-icons/person.fill.questionmark-pink.svg');
}
.card__link-btn:hover .war-cart-4,
.card__link-btn:focus .war-cart-4 {
    background: url('../images/test-icons/move-pink.svg');
}
.card__link-btn:hover .war-cart-5,
.card__link-btn:focus .war-cart-5 {
    background: url('../images/test-icons/RIP-pink.svg');
}
.card__link-btn:hover .war-cart-6,
.card__link-btn:focus .war-cart-6 {
    background: url('../images/test-icons/cross.case-pink.svg');
}

.state__card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: #222B40;
    text-align: left;
    margin-right: 10px;
}
.state__card__icon {
    display: flex;
    align-items: center;
    .icon__crds  {
        fill: #795BDA;
    }
    .icon-family-cart-2,
    .icon-family-cart-3 {
        stroke: #795BDA;
        fill: #fff;
    }
    .icon-life-cart-2,
    .icon-life-cart-3 {
        stroke-width: 0.3px;
    }
}

  //анимация для контента блока <div class="item__card">
.item__card {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.item__card.active {
    max-height: 1200px;
    /* здесь может быть любое достаточно большое значение */
}

.request-item__wrap.rotated::before {
    transform: rotate(0deg);
    background: transparent;
}
.request-item__wrap.rotated {
    background: #fff;
    border-radius: 8px;
    padding: 32px 25px;
}

@media screen and (max-width: 1280px) {
    .item__title {
        span {
            display: none;
        }
    }
    .requests__title {
        font-size: 32px;
    }
    .state__cards {
        grid-template-columns: 208px 208px 208px;
    }
    .state__card-title {
        margin-right: 0; 
        font-size: 22px;
    }
}

@media screen and (max-width: 744px) {
    .state__title {
        font-size: 32px;
    }
    .item__img {
        display: none;
    }
    .item__title {
        font-size: 24px;
        margin-left: 0;
    }
    .state__cards {
        grid-template-columns: 170px 170px;
        gap: 10px;
    }
    .state__card-title {
        font-size: 16px;
    }
    .card__link-btn {
        min-height: 180px;
    }
    .request-item__wrap {
        padding: 21px 25px;
    }
    .request-item__wrap.rotated {
        padding: 21px 25px;
    }
}