.psycholog {
    // padding-top: 40px;
    padding-bottom: 40px;
}
.wrap__main {
    display: grid;
    grid-template-columns: 265px 1fr;
    gap: 20px;
}
.psycholog__side-bar {
    height: 100%;
}
.psycholog__card-wrap {
    background: #ffffff;
    border-radius: 8px;
    position: sticky;
    top: 0;
    height: 560px;
}
.card__img {
    overflow: hidden;
    height: 200px;
    img {
        border-radius: 8px 8px 0 0;    
        object-fit: cover;
        object-position: top;
        width: 100%;
    }
}
.card__info {
    padding: 20px;
    h3 {
        position: relative;
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.06em;
        color: #222B40;
        margin-bottom: 8px;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        margin-bottom: 10px;
    }
    .grey__skills {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.7);

        background: rgba(34, 43, 64, 0.05);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
    }
}
.card__price {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    margin-bottom: 15px;
    span {
        font-size: 16px;
        margin-left: 4px;
    }
}
.write-btn {
    display: flex;
    border: none;
    background: transparent;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    width: 100%;
    .button {
        background: #795BDA;
        padding: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #FFFFFF;
        border-radius: 25px;
        width: 100%;
        &:hover {
            background: #694ebe;
            cursor: pointer;
        }
    }
    .acquaintance {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #795BDA;
        background: rgba(121, 91, 218, 0.1);
        border-radius: 25px;
        margin-top: 10px;
        cursor: pointer;
        &:hover {
            background: rgba(121, 91, 218, 0.2);
        }
    }
    .hello {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #795BDA;
        padding: 10px;
        border-radius: 50%;
        margin-left: 4px;
        width: 56px;
        &:hover {
            background: #694ebe;
            cursor: pointer;
        }
    }
}
/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    text-align: center;
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    width: 110px;
    height: 47px;
    font-size: 10px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06), 0px 10px 20px -8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    color: #222B40;
    z-index: 1000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
      opacity: 1;
      transform: translate( 0, 100%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }




/*------------------------------*/
.psycholog__content {
    h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
}
.psycholog__video {
    display: flex;
    position: relative;
    background: #fff;
    border-radius: 8px;
    height: 465px;
    img {
        max-width: 417px;
        width: 100%;
        border-radius: 8px 0 0 8px;
        object-fit: cover;
        object-position: top;
    }
}
.info_video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 90px 0 90px 90px;
}
.head-video {
    max-width: 134px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #222B40;
    padding: 9px 18px 10px;
    border: 1px solid #222B40;
    border-radius: 20px;
}
.name-doc {
    font-weight: 500;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: -0.05em;
    color: #222B40;
}
.year-work {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: rgba(34, 43, 64, 0.4);
}
.play__video {
    position: absolute;
    background: none;
    border: none;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    &:hover {
        cursor: pointer;
    }
}
.hidden {
    visibility: hidden;
}
.psycholog__content-wrapper {
    margin-top: 60px;
    overflow: hidden;
}
.psycholog__skills {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.skill-box {
    background: #fff;
    width: 194px;
    height: 147px;
    border-radius: 8px;
    padding: 30px;
    span {
        font-weight: 500;
        font-size: 48px;
        line-height: 90%;
        letter-spacing: -0.05em;
        color: #795BDA;
        margin-bottom: 10px;
        display: block;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #222B40;
    }
}
.psycholog__head {
    margin-top: 40px;
}
.psycholog__descr {
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    .moreText {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40; 
        height: 100px;
        overflow: hidden;
    }
}
.three__dots {
    position: absolute;
    background-color: #fff;
    padding: 10px 5px;
    font-size: 16px;
    bottom: -7px;
    right: 3px;
}
.viewMore_open.moreText > .three__dots {
    display: none;
}
.viewMore {
    position: relative;
    background: transparent;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    float: right;
    transition: all 0.2s ease 0s;
    .viewMore__icon {
        width: 16px;
        height: 10px;
    }
}
.viewMore_rotate {
    transform: rotate(180deg);
}
.viewMore_open.moreText {
    overflow: visible;
    height: 100%;

}


.education {
    margin-top: 60px;
    h2 {
        margin-bottom: 20px;
    }
}
.education__items {
    background: #fff;
    padding: 15px 30px;
    border-radius: 8px;
}
.item__wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;

    &:hover {
        cursor: pointer;
    }
}
.item__wrap::before,
.item__wrap::after {
    content: '';
    width: 19px;
    height: 2px;
    background: #222B40;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
}
.item__wrap::before {
    transform: rotate(90deg);
    right: 0;
}
.item__wrap::after {
    transform: rotate(0deg);
    right: 0px;
}
.block__title.active::before {
    background: transparent;
}

.block__title.active::after {
    transform: rotate(45deg);
}

.item__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: #222B40;
}
.allowed {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #6843D1;
}


.item__content {
    border-radius: 8px;
}

.edu__list {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    li {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #222B40;
        display: flex;
        .edu-date {
            width: 70px;
        }
        span {
            font-weight: 500;
            margin-left: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}
.seans-block {
    margin-bottom: 50px;
}
.person-seans {
    fill: #795BDA;
}
.edu__wrap {
    display: flex;
    padding: 20px 0;
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        max-width: 334px;
    }
}
.send-info {
    white-space: nowrap;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: #795BDA;
    padding: 16px 24px;
    background: rgba(121, 91, 218, 0.1);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    height: 46px;
    &:hover {
        background: rgba(121, 91, 218, 0.15);
    }
}

//анимация для контента блока <div class="item__text">
.item__text {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.item__text.active {
    max-height: 1000px;
    /* здесь может быть любое достаточно большое значение */
}

/*---------------------------------------*/
.item__wrap.rotated::before {
    transform: rotate(0deg);
    right: 0;
}
.item__wrap.rotated::after {
    background: #795BDA;
}

.item__wrap.rotated {
    .item__title {
        color: #795BDA;
    }
}
/*---------------------------------------*/


.edu__state {
    margin-top: 60px;
    h2 {
        margin-bottom: 20px;
    }
}

.state__item {
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 4px 2px;
    img {
        width: 30px;
        height: 30px;
    }
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #222B40;
        margin-left: 12px;
        margin-bottom: 2px;
    }
}

.icon-cloud-drizzle {
    fill: #795BDA;
}
#more {
    display: none;
}
#myReadBtn {
    border: none;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 9px 16px 7px;
    margin-top: 5px;
    .myReadBtn__icon {
        width: 16px;
        height: 10px;
    }
}

.platform__content {
    margin-top: 60px;
}
.platform__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls__block {
    display: flex;
    align-items: center;
}
.switch_btns {
    display: flex;
    align-items: center;
    height: 46px;
    background: rgba(121, 91, 218, 0.1);
    border-radius: 23px;
    padding: 5px;
    margin-right: 189px;
}
.vebinars-btn {
    background: transparent;
    color: #795BDA;
    padding: 9px 18px 10px;
    border-radius: 20px;
    border: none;
    &:hover {
        cursor: pointer;
        background: #6c52c4;
        color: #fff;
    }
}
.posts {
    background: transparent;
    color: #795BDA;
    padding: 9px 18px 10px;
    border-radius: 20px;
    display: block;
    border: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.05em;
    &:hover {
        cursor: pointer;
        background: #6c52c4;
        color: #fff;
    }
}
.arrow__btns,
.arrow__btns-meeting {
    display: flex;
    align-items: center;
    .arrow-prew,
    .arrow-next,
    .arrow-prew-meeting,
    .arrow-next-meeting {
        border: none;
        padding: 0;
        margin: 2px;
        background: transparent;
        cursor: pointer;

        &:hover {
            border-radius: 50%;
            background-color:  rgba(34, 43, 64, 0.1);
        }

        img {
            padding: 17px;
            border: 1.5px solid #222B40;
            border-radius: 50%;
        }
    }
}
.articles__cards-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
.articles__card-column {
    flex: 1 1 360px;
    background: #fff;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    &:hover {
        box-shadow: 0 2 10 2 rgba(34, 43, 64, 0.1);
        transform: translateY(-3px);
    }
}
.card__name {
    h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #222B40;
        margin-bottom: 4px;
    }
    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
    }
}
.card__block-title {
    a {
        display: block;
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.06em;
        color: #222B40;
        padding: 20px;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        // letter-spacing: -0.05em;
        color: #222B40;
        padding: 0 20px 20px;
    }
    img  {
        border-radius: 8px 8px 0 0 ;
    }
}
.card__block-statistic {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.statistic_left {
    display: flex;
    align-items: center;
    .card__likes {
        margin-left: 20px;
    }
}

.card__date {
    text-align: right;
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        color: rgba(34, 43, 64, 0.4);
    }
}
/*------------webinars--------------*/
.meeting__cards-wrap {
    margin-bottom: 60px;
}
.card__meeting {
    background: #FFFFFF;                  
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.meeting__left-block {
    padding: 30px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
}
.meeting__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.meeting__date {
    margin-bottom: 74px;
    span {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: #222B40;
        border: 1px solid #222B40;
        padding: 9px 18px;
        border-radius: 18px;
    }
}
.meeting__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    max-width: 350px;
    margin-bottom: 20px;
}
.meeting-card__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    background: #795BDA;
    padding: 16px 36px;
    border-radius: 25px;
    border: none;
    max-width: 200px;
    cursor: pointer;
    &:hover {
        background: #6c52c3;
    }
}
.meeting__spicer-block {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(34, 43, 64, 0.1);
    margin-left: 30px;
}
.meeting__spicer {
    span {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: #222B40;
        border: 1px solid #222B40;
        padding: 9px 18px;
        border-radius: 18px;
    }
}
.spicer-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
}
.experience__spicer {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: rgba(34, 43, 64, 0.4);
}
.meeting__image {
    max-width: 266px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0 8px 8px 0;
    }

}
.vebinars__btn-390 {
    display: none;
}

/*----------- work__schedule --------------*/

.work__schedule {
    margin-top: 50px;
    max-width: 836px;
}
.work__schedule-wrapper {
    background: #fff;
    margin-top: 20px;
}
.work__schedule-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 32px 10px;
}
.work__schedule-date {
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #222B40;
    }
}
.work__schedule-arrows {
    display: flex;
    margin-left: 20px;
    .btn__schedule {
        background: rgba(34, 43, 64, 0.05);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        border: none;
        &:hover {
            cursor: pointer;
            background: rgba(34, 43, 64, 0.1);
        }
    }
    img {
        width: 12px;
        height: 12px;
    }
}
.work__schedule-weeks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 10px;
    overflow-x: scroll;
}
.days {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
    background: rgba(34, 43, 64, 0.05);
    padding: 8px 32px;
    border-radius: 15px;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &:focus {
        background: #795BDA;
        color: #fff;
        padding: 8px 16px;
        .num__day, .day__week {
            color: #fff;
        }
        .show-month {
            display: block;
        }
    }
}
.day__week {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.06em;
    margin-right: 8px;
    color: rgba(34, 43, 64, 0.4);
}

.num__day {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    span {
        display: none;
    }
    .show-month {
        display: none;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.06em;
        margin-left: 3px;
    }
}
.hours__work {
    padding: 30px;
}
.hours__work-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #222B40;
    margin-bottom: 20px;
}

.hour-btn {
    border: none;
    background: #F3F3F3;
    border-radius: 20px;
    margin: 2px;
    width: 120px;
    padding: 6px 0;
    span {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
        cursor: pointer;
    }
    &:focus {
        background: rgba(121, 91, 218, 0.1);
        span {
            color: #795BDA;
        }
    }
}
/*----- not hours -----*/
.not__hours {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    display: none;
}
.not__hours-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #222B40;
    max-width: 435px;
}
.not__hours-btn {
    button {
        letter-spacing: -.06em;
        color: #fff;
        width: 100%;
        background: #795bda;
        border-radius: 25px;
        padding: 16px 55px;
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        border: none;
    }
}
/*----- end not hours -----*/


.designations {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.available, .busy {
    background: #fff;
    border-radius: 8px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.05em;
    color: #222B40;
    span {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        vertical-align: middle;
    }
}
.busy {
    span {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid rgba(34, 43, 64, 0.05);
        background: #E7E9ED;
        vertical-align: middle;
    }
}

/*--------- rewiev ---------------*/
.rewiev {
    margin-top: 40px;
}
.rewiev__title-block {
    display: flex;
    align-items: center;
    h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
}
.rewiev-count {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #222B40;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    width: 36px;
    height: 36px;
    border: 1px solid #222B40;
    border-radius: 50%;
}
.rewiev__box {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}
.rewievs__img {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    img {
        width: 46px;
        height: 46px;
    }
    .rewiev__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #222B40;
        margin-left: 10px;
    }
}
.rewiev__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    color: #000000;
}
.more__rewievs {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: #795BDA;

    margin-top: 20px;
    background: rgba(121, 91, 218, 0.1);
    padding: 16px 24px;
    border: none;
    border-radius: 23px;
    &:hover {
        cursor: pointer;
        background: rgba(121, 91, 218, 0.2);
    }
}

.session__registration {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background: rgba(34, 43, 64, 0.2);
    // backdrop-filter: blur(10px);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow-y: scroll;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);


    z-index: 999;
    background-color: #222b4033;
    padding: 40px 20px 0;
    transition: transform .25s ease-in-out;
    position: fixed;
    inset: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-100%);

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow-y: scroll;

    // display: none;

}

.session__registration.is-open {
    transform: translateX(0);
}

.modal-is-open {
    overflow: hidden;
}

.reg__session {
    position: relative;
    background: #FFFFFF;
    border-radius: 8px;
    width: 520px;
    padding: 30px;
    margin: 0 auto 2%;
}
.close {
    position: absolute;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 30px;
    top: 15px;
    right: 15px;
}
.reg__session-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    margin-bottom: 30px;
}
.reg__session-name {
    border-top: 1px solid rgba(34, 43, 64, 0.1);
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    padding: 30px 0;
    display: flex;
    align-items: center;
    img {
        width: 72px;
        margin-right: 15px;
    }
}
.name__doc-body {
    span {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.9);
    }
}
.name__doc {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: #222B40;
}
.type__session {
    margin-top: 30px;
    h2 {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #222B40;
        margin-bottom: 20px;
    }

}
.type__session-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.type__session-item {
    border: none;
    background: #F3F3F3;
    border-radius: 30px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    margin: 2px;
    cursor: pointer;
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
        margin-left: 12px;
    }
    &:focus {
        background: rgba(121, 91, 218, 0.1);
        span {
            color: #795BDA;
        }
    }
}

.warning_message {
    padding: 40px 64px;
    background: #F3F3F3;
    border-radius: 10px;
    margin-top: 30px;
    display: none;
}
.no_available_dates {
    text-align: center;
    h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #222B40;
        margin-bottom: 20px;
    }
    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        margin: 0 auto 20px;
        max-width: 180px;
    }
    button {
        border: none;
        padding: 16px 24px;
        background: #795BDA;
        border-radius: 25px;

        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #FFFFFF;
    }
}
.comfortable_time {
    display: none;
}


.choose__day {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(34, 43, 64, 0.1);
    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
    }
}
.choose__day-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #222B40;
    margin-bottom: 10px;
}
.choose__day-box {
    background: #F3F3F3;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.month-controls {
    display: flex;
    justify-content: space-between;
}
.month {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.05em;
    color: #222B40;
}
.controls__arrows {
    button {
        border: none;
        background: none;
    }
}
.week__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    overflow-x: scroll;
    li {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        align-items: center;
    }
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        margin-bottom: 8px;
    }
    button {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
        border: none;
        border-radius: 20px;
        padding: 7px 10px;
        background: transparent;
    }
    .num_active {
        background: #795BDA;
        color: #fff; 
    }
    .no_active {
        color: rgba(34, 43, 64, 0.3);
    }
}


.choose__time {
    border-top: 1px solid rgba(34, 43, 64, 0.1);
    margin-top: 30px;
    padding-top: 30px;
    h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #222B40;
    }
    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        margin-top: 10px;
    }
}

.choose__time-body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
}
.choose__time-btn {
    border: none;
    background: #F3F3F3;
    border-radius: 20px;
    width: 100%;
    padding: 6px 0;
    cursor: pointer;
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
    &:focus {
        background: rgba(121, 91, 218, 0.1);
        span {
            color: #795BDA;
        }
    }

}

    
/*--------------------- payment form -----------------------*/

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @media screen and (min-width: 744px) {
       
    }

    @media screen and (min-width: 1280px) {
        
    }

    .form__input {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #222B40;
        cursor: pointer;
        transition: border-bottom 250ms ease-in-out;
    
        @media screen and (min-width: 1280px) {
            margin-bottom: 20px;
        }

        &:hover,
        &:focus {
            border-bottom: 1px solid #795BDA;
        }

        &:hover::placeholder,
        &:focus::placeholder {
            color: #795BDA;
        }
        

        &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: rgba(34, 43, 64, 0.4);
            transition: color 250ms ease-in-out;
        }
    }

    .form__payment-method {
        padding: 0;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        margin-bottom: 30px;
        background-color: transparent;
        border: none;

        &:hover .form__payment-text,
        &:focus .form__payment-text {
            color: #795BDA;
        }

        &:hover .payment-card,
        &:focus .payment-card {
            border-bottom: 1px solid #795BDA;
        }

        .form__payment-text {
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 100%;
            letter-spacing: -0.01em;
            color: rgba(34, 43, 64, 0.4);
            margin-bottom: 14px;
            transition: color 250ms ease-in-out;

            @media screen and (min-width: 1280px) {
                margin-bottom: 12px;
            }

            @media screen and (min-width: 1280px) {
                margin-bottom: 8px;
            }
        }
    }

    .form__button-payment {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #FFFFFF;

        background: #795BDA;
        border-radius: 150px;
        height: 46px;
        border: transparent;
    }
}

.session-info__item--is-hidden {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-end;

    @media screen and (min-width: 744px) {
    }

    @media screen and (min-width: 1280px) {
        display: flex;
    }

    .session-info__label,
    .session-info__value {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
        margin-right: 20px;
    }

    .session-info__value {
        font-weight: 600;

        span {
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
        }
    }
}


//payment-card
.payment-card {
width: 100%;
display: flex;
align-items: center;
border: none;
border-bottom: 1px solid rgba(34, 43, 64, 0.1);
padding: 0;
padding-bottom: 10px;
transition: border-bottom 250ms ease-in-out;

.payment-card__visa {
width: 32.86px;
height: 11.22px;
margin-right: 10px;
}

.payment-card__value {
font-family: 'Golos Text';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.01em;
color: #222B40;
}
}

.payment-card__icon {
width: 11px;
height: 6px;
transform: rotate(0deg) scale(1.0);
transition: transform 250ms ease-in-out;
margin-left: auto;
}

.payment-card.rotated .payment-card__icon {
transform: rotate(180deg) scale(1.1);
}

.payment-card-list {
z-index: 1;
width: 173px;
position: relative;
top: -30px;
overflow: hidden;
max-height: 0;
background-color: #FFFFFF;
border-radius: 8px;
transition: max-height .3s ease-in-out;
}

.payment-card-item {
padding: 0 10px;

&:not(:last-child) {
padding-top: 10px;
margin-bottom: 8px;
}

&:not(:first-child) {
padding-bottom: 10px;
}
}

.payment-card-button {
height: 32px;
width: 100%;
background-color: #FFFFFF;
border-radius: 100px;
border: 1px solid transparent;
cursor: pointer;
transition: color .3s ease-in-out, background-color .3s ease-in-out;

&:hover {
background-color: #F3F3F3;
}

&.active {
background-color: rgba(121, 91, 218, 0.1);
color: #795BDA;
}
}


.session_booked-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 43, 64, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
    
}
.session_booked {
    max-width: 412px;
    position: relative;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 30px;
    margin: 10% auto;
    h3 {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
}
.session_booked-close {
    width: 15px;
    position: absolute;
    top: 40px;
    right: 30px;
}
.session_booked-body {
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
    button {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #FFFFFF;

        background: #795BDA;
        border-radius: 30px;
        padding: 16px 24px;
        border: none;
        margin-top: 20px;
    }

}
.session_booked-list {
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    padding-bottom: 15px;
    li {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #222B40;
        margin-bottom: 5px;
        span {
            text-align: right;
            font-weight: 600;
        }
    }
}
.questionnaire_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 43, 64, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}
.questionnaire_body {
    width: 440px;
    position: relative;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 30px;
    h3  {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #222B40;
        margin-bottom: 20px;
    }
}
.questionnaire-close {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 15px;
}
.questionnaire__form {
    button {
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #FFFFFF;

        padding: 16px 24px;
        background: #795BDA;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        &:hover {
            background: #6d52c6;
        }
    }

}
.block-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.user-box {
    display: grid;
    flex-direction: column;
    margin-bottom: 20px;
    label {
        font-weight: 500;
        font-size: 10px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: rgba(34, 43, 64, 0.4);
        margin-bottom: 8px;
    }
    input, select {
        border: none;
        border-bottom: 1px solid #222B40;
        padding-bottom: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #222B40;
        &:focus {
            outline: 0;
            outline-offset: 0;
            border-bottom: 1px solid #253968;  
            
        }
    }
    input::placeholder {
        font-weight: 400;
        color: rgba(34, 43, 64, 0.5);
    }
    option {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #222B40;
    }
}



/*================================================================================================*/
/*====================================== Media queries ===========================================*/
/*================================================================================================*/


@media screen and (max-width: 1279px) {
    .psycholog__content {
        width: 100%;
        overflow: hidden;
    }
    .grey_bg {
        max-width: 192px;
        span {
            font-size: 12px;
        }
    }
    .card__info h3 {
        font-size: 18px;
    }
    .card__info h3:after {
        right: 30px;
    }
    .card__price {
        font-size: 22px;
    }
    .write-btn .button {
        padding: 10px;
        font-size: 12px;
    }
    .write-btn .hello {
        padding: 8px;
        img {
            width: 17px;
            height: 17px;
        }
    }
    .psycholog__video {
        height: 245px;
    }
    .psycholog__video img {
        max-width: 218px;
        object-fit: cover;
    }
    .info_video {
        padding: 47px 0 47px 47px;
    }
    .head-video {
        max-width: 75px;
        padding: 5px 9px 6px;
        font-size: 8px;
    }
    .name-doc {
        font-size: 20px;
    }
    .year-work {
        font-size: 12px;
    }
    .play__video {
        top: calc(50% - 26px);
        left: calc(50% - 26px);
        width: 52px;
        height: 52px;
    }
    
    .wrap__main {
        display: grid;
        grid-template-columns: 208px 1fr;
        gap: 20px;    
    }
    .psycholog__skills {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .skill-box {
        width: 100%;
    }
    .item__title {
        font-size: 20px;
    }
    .edu-date {
        width: 220px;
    }
    .edu__list {
        li {
            span {
                font-size: 14px;
                margin-left: 18px;
                align-items: flex-start;
            }
        }
    }
    .edu__wrap {
        flex-direction: column;
        p {
            margin-top: 15px;
        }
        .send-info {
            width: 100%;
        }
    }

    .platform__title-block {
        flex-wrap: wrap;
    }
    .controls__block {
        margin-top: 12px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .switch_btns {
        margin-right: 0; 
    }
    // .articles__card-last {
    //     display: none;
    // }
    .articles__cards-wrap {
        grid-template-columns: 1fr 1fr;
    }
    .card__block-title a {
        font-size: 20px;
    }
    .card__block-title p {
        font-size: 12px;
        line-height: 130%;
    }
    .rewiev__title-block {
        h2 {
            font-size: 24px;
        }
    }
    .rewiev__text {
        font-size: 12px;
    }
    /*---------webinars--------*/
    .card__meeting {
        flex-wrap: wrap;
    }
    .meeting__left-block {
        flex-direction: column;
        width: 100%;
    }
    .meeting__spicer-block {
        border-left: none;
        margin-left: 0;
        padding: 20px 0 0;
    }
    .meeting__info-block {
        border-bottom: 1px solid rgba(34, 43, 64, 0.2);
        padding-bottom: 20px;
        max-width: 100%;
    }
    .meeting__image {
        max-width: 100%;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 0 0 8px 8px;
        }
    }
    .meeting__spicer {
        margin: 8px 0 20px;
    }
    th a, td a {
        padding: 4px 12px;
    }
    th {
        font-size: 11px;
        span {
            font-size: 10px;
        }
    }
    .cell__time {
        font-size: 11px;
    }
    .work__schedule-weeks {
        overflow-x: scroll;
    }
    .states__block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .hour-btn {
        width: 116px;
    }
    .not__hours {
        align-items: start;
        flex-direction: column;
        button {
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 744px) {
    .wrap__main {
        display: flex;
        flex-direction: column;
    }
    .grey_bg {
        max-width: 80%;
    }
    .write-btn .button {
        padding: 16px;
        font-size: 14px;
    }
    .write-btn .hello {
        padding: 16px;
        img {
            width: 16px;
            height: 16px;
        }
    }
    .item__title {
        font-size: 16px;
    }
    .card__img {
        height: 250px;
    }

    .psycholog__video {
        height: 200px;
        img {
            max-width: 190px;
        }
    }

    .info_video {
        padding: 47px 0 47px 43px;
    }
    .head-video {
        max-width: 59px;
        padding: 5px 7px 5px;
        font-size: 6px;
    }
    .name-doc {
        font-size: 16px;
    }
    .year-work {
        font-size: 10px;
    }

    .edu__list {
        li {
            font-size: 14px;
            flex-direction: column;
            .edu-date {
                width: 100%;
            }
            span {
                font-size: 12px;
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
    .state__item {
        padding: 7px 14px;
        span {
            font-size: 14px;
            margin-left: 10px;
        }
    }
    .icon-cloud-drizzle {
        width: 18px;
    }
    .articles__cards-wrap {
        grid-template-columns: 1fr;
    }
    .rewiev__title-block h2 {
        font-size: 20px;
    }
    .rewiev-count {
        font-size: 11px;
        margin-left: 7px;
    
        width: 25px;
        height: 25px;
    }
    .rewievs__wpar {
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        gap: 15px;
    }
    .rewievs__img {
        img {
            width: 35px;
            height: 35px;
        }
        .rewiev__name {
            font-size: 12px;
        }
    }
    .rewiev__text {
        font-size: 10px;
    }
    .rewiev__box {
        flex: 0 0 90%;
        scroll-snap-align: center;
    }
    .schedule-block_wrap {
        overflow-x: scroll;
    }
    th {
        font-size: 12px;
        span {
            font-size: 12px;
        }
    }
    th a, td a {
        padding: 4px 22px;
    }
    .designations {
        grid-template-columns: 1fr;
    }


    .reg__session {
        width: 370px;
    }
    .type__session-body {
        grid-template-columns: 1fr 1fr;
    }
    .type__session-item {
        margin: 4px;
        padding: 10px 16px;
        justify-content: center;
    }
    .choose__time-body {
        grid-template-columns: repeat(3, 1fr);
    }
    .controls__arrows button {
        margin-left: 10px;
    }
    .session_booked {
        max-width: 370px;
        h3 {
            font-size: 28px;
        }
    }
    .session_booked-close {
        top: 39px;
    }
    .questionnaire_body {
        width: 370px;
        h3 {
            font-size: 25px;
        }
    }
    .block-input {
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .not__hours-btn {
        width: 100%;
        button {
            padding: 16px;
        }
    }

}

//js
.platform__content.show-webinars {
    .vebinars-btn {
        background: #6c52c4;
        color: #fff;    
    }
    .articles__cards-wrap,
    .arrow__btns {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        visibility: hidden;
        pointer-events: none;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

.platform__content.show-posts {
    .posts {
        background: #6c52c4;
        color: #fff;
    }
    .meeting__cards-wrap,
    .arrow__btns-meeting {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        visibility: hidden;
        pointer-events: none;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
}

//js articles
.platform__content.show-posts {
    position: relative;
    padding-bottom: 500px;
    padding-bottom: 420px;

    @media screen and (min-width: 744px) {
        overflow: hidden;
        padding-bottom: 410px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 470px;
    }
}

.articles__list {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
}

.articles__item {
    width: 290px;

    @media screen and (min-width: 744px) {
        width: 100%;
        width: 208px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        min-width: 265px;
    }
}

.articles__item:not(:last-child) {
    margin-right: 10px;

    @media screen and (min-width: 744px) {
        margin-right: 20px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 20px ;
    }
}

//js meeting
.platform__content.show-webinars {
    position: relative;
    padding-bottom: 645px;

    @media screen and (min-width: 744px) {
        overflow: hidden;
        padding-bottom: 670px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 275px;
    }
}

.meeting__list {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
}

.meeting__item {
    width: 290px;

    @media screen and (min-width: 744px) {
        width: 100%;
        width: 430px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        min-width: 835px;
    }
}

.meeting__item:not(:last-child) {
    margin-right: 10px;

    @media screen and (min-width: 744px) {
        margin-right: 20px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 20px;
    }
}
