.psycholog {
    padding-top: 40px;
}
.wrap__main {
    display: grid;
    grid-template-columns: 265px 1fr;
    gap: 20px;
}
.psycholog__card-wrap {
    background: #ffffff;
    border-radius: 8px;
}
.card__img {
    img {
        border-radius: 8px 8px 0 0;    
    }
}
.grey_bg {
    position: relative;
    background: #EDEBF2;
    border-radius: 16px;
    padding: 10px 20px;
    max-width: 225px;
    transform: translateY(-18px);
    margin: 0 auto;
    &::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        right: -6px;
        top: -6px;
        background: #EDEBF2;
    } 
    &::after {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        right: -8px;
        top: -12px;
        background: #EDEBF2;
    }
    span {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #222B40;
        max-width: 185px;
        display: block;
    }
}
.card__info {
    padding: 0 20px 20px;
    h3 {
        position: relative;
        font-weight: 500;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: -0.06em;
        color: #222B40;
        margin-bottom: 8px;
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            right: 42px;
            top: 0px;
            background: #56F08B;
        }
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: rgba(34, 43, 64, 0.4);
        margin-bottom: 20px;
    }
}
.card__price {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #222B40;
    margin-bottom: 15px;
    span {
        font-size: 16px;
        margin-left: 4px;
    }
}
button {
    display: flex;
    border: none;
    background: transparent;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    .button {
        background: #795BDA;
        padding: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.06em;
        color: #FFFFFF;
        border-radius: 25px;
        width: 100%;
        &:hover {
            background: #694ebe;
            cursor: pointer;
        }
    }
    .hello {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #795BDA;
        padding: 16px;
        border-radius: 50%;
        margin-left: 4px;
        img {
            width: 14px;
            height: 14px;
        }
        &:hover {
            background: #694ebe;
            cursor: pointer;
        }
    }
}


/*------------------------------*/
.psycholog__content {
    h2 {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.05em;
        color: #222B40;
    }
}
.psycholog__content-wrapper {
    overflow: hidden;
}
.psycholog__skills {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.skill-box {
    background: #fff;
    width: 194px;
    height: 147px;
    border-radius: 8px;
    padding: 30px;
    span {
        font-weight: 500;
        font-size: 48px;
        line-height: 90%;
        letter-spacing: -0.05em;
        color: #795BDA;
        margin-bottom: 10px;
        display: block;
    }
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: #222B40;
    }
}
.psycholog__descr {
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.05em;
        color: #222B40; 
    }
}

.education {
    margin-top: 60px;
    h2 {
        margin-bottom: 20px;
    }
}
.education__items {
    background: #fff;
    padding: 15px 30px;
    border-radius: 8px;
}
.item__wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;

    &:hover {
        cursor: pointer;
    }
}
.item__wrap::before,
.item__wrap::after {
    content: '';
    width: 19px;
    height: 2px;
    background: #222B40;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease 0s;
}
.item__wrap::before {
    transform: rotate(90deg);
    right: 0;
}
.item__wrap::after {
    transform: rotate(0deg);
    right: 0px;
}
.block__title.active::before {
    background: transparent;
}
  
.block__title.active::after {
    transform: rotate(45deg);
}
.item__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: #222B40;
}
.item__content {
    border-radius: 8px;
}

.edu__list {
    list-style: none;
    padding-left: 0;
    border-bottom: 1px solid rgba(34, 43, 64, 0.1);
    li {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #222B40;
        span {
            font-weight: 500;
            margin-left: 60px;
        }
    }
}
//фнимация для контента блока <div class="item__text">
.item__text {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.item__text.active {
    max-height: 1000px;
    /* здесь может быть любое достаточно большое значение */
}

.item__wrap.rotated::before {
    transform: rotate(0deg);
    right: 0;
}

.edu__state {
    margin-top: 60px;
    h2 {
        margin-bottom: 20px;
    }
}

.state__item {
    display: inline-flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 4px 2px;
    span {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #222B40;
        margin-left: 12px;
        margin-bottom: 2px;
    }
   
}
.icon-cloud-drizzle {
    fill: #795BDA;
}

.platform__content {
    margin-top: 60px;
}
.platform__title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls__block {
    display: flex;
    align-items: center;
}
.switch_btns {
    display: flex;
    align-items: center;
    height: 46px;
    background: rgba(121, 91, 218, 0.1);
    border-radius: 23px;
    padding: 5px;
    margin-right: 189px;
}
.vebinars-btn {
    background: #795BDA;
    color: #fff;
    padding: 9px 18px 10px;
    border-radius: 20px;
    &:hover {
        cursor: pointer;
        background: #6c52c4;
    }
}
.posts {
    background: transparent;
    color: #795BDA;
    padding: 9px 18px 10px;
    border-radius: 20px;
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.05em;
    &:hover {
        cursor: pointer;
        background: #6c52c4;
        color: #fff;
    }
}
.arrow__btns {
    display: flex;
    align-items: center;
    .arrow-prew,
    .arrow-next {
        border: none;
        padding: 0;
        margin: 2px;
        img {
            padding: 17px;
            border: 1.5px solid #222B40;
            border-radius: 50%;
        }
    }
}


@media screen and (max-width: 1280px) {
    .psycholog__content {
        width: 100%;
    }
    .grey_bg {
        max-width: 192px;
        span {
            font-size: 12px;
        }
    }
    .card__info h3 {
        font-size: 18px;
    }
    .card__info h3:after {
        right: 30px;
    }
    button .hello {
        padding: 10px;
        img {
            width: 12px;
            height: 12px;
        }
    }
    .card__price {
        font-size: 22px;
    }
    button .button {
        padding: 10px;
        font-size: 12px;
    }
    .wrap__main {
        display: grid;
        grid-template-columns: 208px 1fr;
        gap: 20px;
    }
    .psycholog__skills {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .skill-box {
        width: 100%;
    }
    .platform__title-block {
        flex-wrap: wrap;
    }
    .controls__block {
        margin-top: 12px;
    }
}
@media screen and (max-width: 744px) {
    
}