<section class="purple__anonymous">
    <div class="container">
        <div class="anonymous__body">
            <form action="" class="anonymous__form">
                <h3>Поставте анонімне питання психологу</h3>
                <p>Напишіть ваше питання, Олег отримає його до вебінару і відповість на ваш запит під час прямого ефіру.</p>
                <input type="text" class="anonymous__input" placeholder="Ваше питання">
                <button class="send__question">Відправити</button>
            </form>
    
            <div class="anonymous__right-block">
                <h4>Не хочете чекати вебінару?</h4>
                <div class="write__now">
                    <img src="./images/aren.png" alt="">
                    <span>Записуйтесь на найближчий сеанс до Олега прямо зараз</span>
                </div>
                <div class="anonymous__buttons">
                    <button class="our-team__session-button ">Записатись на cеанс</button>
                    <button tooltip="Записатись на безкоштовне знайомство 15 хв" class="our-team__details-button friendly">
                        <img class="our-team__icon-Hello" src="./images/15hv-dark.png" alt="icon Hello">
                    </button>
                    <div class="price">1 200 <span>грн/год</span></div>
                </div>
            </div>
        </div>
    </div>
</section>