
<section class="sign__webinar">
    <div class="purple__container container">
        <div class="purple__body">
            <div class="purple__left-block">
                <h2 class="purple__title">Реєструйтесь на вебінар
                    <svg class="sign-section__icon-heart" width="14" height="12">
                        <use href="./images/symbol-defs.svg#icon-heart"></use>
                    </svg>
                </h2>
            </div>
            <div class="purple__center-block">
                <div class="purple__subtitle">Для того, щоб стати учасником вебінару — просто натисніть кнопку нижче</div>
                <button type="button" class="purple__btn">Зареєструватись</button>
            </div>
            <div class="purple__common-blocks">
                <div class="purple__right-block">
                    <div class="right-block__subtitle">Вжезареєстровано <b>325</b> учасників</div>
                    <ul class="purple__images">
                        <li><img class="one" src="./images/doc1.png" alt=""></li>
                        <li><img class="two" src="./images/doc2.png" alt=""></li>
                        <li><img class="three" src="./images/doc3.png" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>