<section class="webinar__speaker">
    <div class="category__container container">
        <div class="speaker__title-block">
            <h2>Спікер вебінару
                <svg class="sign-section__icon-heart" width="14" height="12">
                    <use href="./images/symbol-defs.svg#icon-heart"></use>
                </svg>
            </h2>
            <h3>Олег Мар’яненко
                <a href=""><img src="./images/btn-sec.svg" alt=""></a>
            </h3>
        </div>

        <div class="speaker__info">
            <div class="speaker__img">
                <img src="./images/speaker.png" alt="">
                <div class="speaker__advantages-tablet">
                    <div class="advantages_item">
                        <span>23</span>
                        <p>Сеанси провів на платформі</p>
                    </div>
                    <div class="advantages_item">
                        <span>19</span>
                        <p>Позитивних відгуків</p>
                    </div>
                    <div class="advantages_item">
                        <span>3</span>
                        <p>Профільні статті</p>
                    </div>
                </div>
            </div>
            <div class="speaker__description">
                <div class="speaker__advantages">
                    <div class="advantages_item">
                        <span>23</span>
                        <p>Сеанси провів на платформі</p>
                    </div>
                    <div class="advantages_item">
                        <span>19</span>
                        <p>Позитивних відгуків</p>
                    </div>
                    <div class="advantages_item">
                        <span>3</span>
                        <p>Профільні статті</p>
                    </div>
                </div>
                <div class="work_themes">
                    <h3>Працює з темами:</h3>
                    <ul class="theme__list">
                        <li>Тривога</li>
                        <li>Страх</li>
                        <li>Мотивація</li>
                        <li>Стосунки</li>
                        <li>Вигорання</li>
                        <li>Тривога</li>
                        <li>Страх</li>
                        <li>Мотивація</li>
                    </ul>
                </div>
                <div class="about__psychlog">
                    <h3>Про психолога</h3>
                    <p>Максим працює з клієнтами, які зіткнулись з проблемами в сімейних або романтичних 
                        стосунках, втратою та горюванням, а також з депресією, тривогою та надмірним 
                        стресом. Має додаткове навчання та досвід роботи з ЛГБТК+ клієнтами. Для вирішення 
                        цих запитів Максим використовує інтегративний підхід, що дозволяє гнучко поєднувати 
                        різні терапевтичні підходи для досягнення необхідного результату.
                    </p>
                </div>
                <button class="sign-webinar" >Зареєструвтись на вебінар</button>
            </div>
        </div>
    </div>
</section>