
<section class="webinar__program">
    <div class="category__container container">
        <h2>Програма вебінару
            <svg class="sign-section__icon-heart" width="14" height="12">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg>
        </h2>
        <div class="program__items">
            <div class="item_webinar">
                <div class="webinar__num">01</div>
                <div class="webinar__theme">Тема, що розкривається</div>
                <div class="webinar__descr">Більш детальний опис теми, Більш детальний опис теми, Більш детальний опис теми, Більш детальний опис теми</div>
            </div>
            <div class="item_webinar">
                <div class="webinar__num">02</div>
                <div class="webinar__theme">Тема, що розкривається</div>
                <div class="webinar__descr">Більш детальний опис теми, Більш детальний опис теми, Більш детальний опис теми, Більш детальний опис теми</div>
            </div>
            <div class="item_webinar">
                <div class="webinar__num">03</div>
                <div class="webinar__theme">Тема, що розкривається</div>
                <div class="webinar__descr">Більш детальний опис теми, Більш детальний опис теми, Більш детальний опис теми, Більш детальний опис теми</div>
            </div>
        </div>
    </div>
</section>