<section class="psychologists-slider-section">
    <div class="container psychologists-slider-section__container">

        <ul class="psychologists-slider-section__list">
            <li class="psychologists-slider-section__item">
                <div class="psychologists-slider-section__image-wrapper">
                    <div class="psychologists-slider-section__image-wrapper-border">
                        <img src="./images/our-team-desktop.jpg" class="psychologists-slider-section__image" alt="Фото Іван Виговський" />
                    </div>
                </div>
                <div class="psychologists-slider-section__info">
                    <h2 class="psychologists-slider-section__name">Іван Виговський</h2>
                    <p class="psychologists-slider-section__price">300 грн/год</p>
                </div>
            </li>

            <li class="psychologists-slider-section__item">
                <div class="psychologists-slider-section__image-wrapper">
                    <div class="psychologists-slider-section__image-wrapper-border">
                        <img src="./images/our-team-desktop.jpg" class="psychologists-slider-section__image"
                            alt="Фото Іван Виговський" />
                    </div>
                </div>
                <div class="psychologists-slider-section__info">
                    <h2 class="psychologists-slider-section__name">Іван Виговський</h2>
                    <p class="psychologists-slider-section__price">300 грн/год</p>
                </div>
            </li>

            <li class="psychologists-slider-section__item">
                <div class="psychologists-slider-section__image-wrapper">
                    <div class="psychologists-slider-section__image-wrapper-border">
                        <img src="./images/our-team-desktop.jpg" class="psychologists-slider-section__image"
                            alt="Фото Іван Виговський" />
                    </div>
                </div>
                <div class="psychologists-slider-section__info">
                    <h2 class="psychologists-slider-section__name">Іван Виговський</h2>
                    <p class="psychologists-slider-section__price">300 грн/год</p>
                </div>
            </li>

            <li class="psychologists-slider-section__item">
                <div class="psychologists-slider-section__image-wrapper">
                    <div class="psychologists-slider-section__image-wrapper-border">
                        <img src="./images/our-team-desktop.jpg" class="psychologists-slider-section__image"
                            alt="Фото Іван Виговський" />
                    </div>
                </div>
                <div class="psychologists-slider-section__info">
                    <h2 class="psychologists-slider-section__name">Іван Виговський</h2>
                    <p class="psychologists-slider-section__price">300 грн/год</p>
                </div>
            </li>

            <li class="psychologists-slider-section__item">
                <div class="psychologists-slider-section__image-wrapper">
                    <div class="psychologists-slider-section__image-wrapper-border">
                        <img src="./images/our-team-desktop.jpg" class="psychologists-slider-section__image"
                            alt="Фото Іван Виговський" />
                    </div>
                </div>
                <div class="psychologists-slider-section__info">
                    <h2 class="psychologists-slider-section__name">Іван Виговський</h2>
                    <p class="psychologists-slider-section__price">300 грн/год</p>
                </div>
            </li>
        </ul>
        
    </div>
</section>