<section class="psycholog">
    <div class="container">
        <div class="wrap__main">
            <div class="psycholog__side-bar">

            </div>
            <div class="psycholog__content">
                <div class="psycholog__content-wrapper">
                    <h2>Про психолога</h2>
                    <div class="psycholog__skills">
                        <div class="skill-box">
                            <span>23</span>
                            <p>Сеанси провів на платформі</p>
                        </div>
                        <div class="skill-box">
                            <span>19</span>
                            <p>Позитивних відгуків</p>
                        </div>
                        <div class="skill-box">
                            <span>3</span>
                            <p>Профільні статті</p>
                        </div>
                        <div class="skill-box">
                            <span>2</span>
                            <p>Ексспертні вебінари</p>
                        </div>
                    </div>
                    <div class="psycholog__descr">
                        <p>Близько 10 років я працював управлінцем. Мені подобалася моя робота, і в мене добре виходило, 
                            але я ніколи не міг відповісти на запитання: "Чому я не запускаю своєї справи?". 
                        </p><br>
                        <p>У 2013 році 
                            я прийшов до терапевта, щоб прокачати софт-скілз. Поступово в мене з'явився інтерес, а навіщо вони 
                            мені потрібні? Навіщо мені моя робота? І ось тоді я пішов не за ідеєю стати кращим, а за інтересом 
                            "який я". І вразився тому, наскільки величезний мій світ, скільки в мені є такого, що я про себе не 
                            знаю. Я дивувався і сумував через те, скільки часу і сил можна витратити на ідею про те, яким має 
                            бути життя, а не на саме життя.Мій інтерес до психіки, її механізмів, хитросплетінь все посилювався 
                            і я вирішив пройти навчання. З роками вивчення психотерапії інтерес не зник, а став глибшим і 
                            сильнішим.
                        </p>
                    </div>
                </div>

                <div class="education">
                    <h2>Освіта</h2>
                    <div class="education__items item">
                        <div class="item__content">
                            <div class="item__wrap">
                                <div class="item__title">Вища та професійна освіта</div>
                            </div>
                            <div class="item__text">
                                <ul class="edu__list">
                                    <li>2007 — 2012<span>ДНУ ім. Олеся Гончара - диплом спеціаліста за спеціальністю "Психологія"</span></li>
                                    <li>2013 — 2014<span>Lions Quest - "Соціальні та емоційні компетентності ХХІ століття" </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item__content">
                            <div class="item__wrap">
                                <div class="item__title">Сертифікати та дипломи</div>
                            </div>
                            <div class="item__text">
                                <ul class="edu__list">
                                    <li>2007 — 2012<span>ДНУ ім. Олеся Гончара - диплом спеціаліста за спеціальністю "Психологія"</span></li>
                                    <li>2013 — 2014<span>Lions Quest - "Соціальні та емоційні компетентності ХХІ століття" </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item__content">
                            <div class="item__wrap">
                                <div class="item__title">Інший досвід</div>
                            </div>
                            <div class="item__text">
                                <ul class="edu__list">
                                    <li>2007 — 2012<span>ДНУ ім. Олеся Гончара - диплом спеціаліста за спеціальністю "Психологія"</span></li>
                                    <li>2013 — 2014<span>Lions Quest - "Соціальні та емоційні компетентності ХХІ століття" </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu__state">
                    <h2>Стани з якими працює</h2>
                    <div class="states__block">
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Дипресія</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Тривога</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Стрес</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Смуток</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Гнів</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Вигорання</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Стосунки </span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Самотність</span>
                        </div>
                    </div>
                </div>

                <div class="platform__content">
                    <div class="platform__title-block">
                        <h2>Контент на платформі</h2>
                        <div class="controls__block">
                            <div class="switch_btns">
                                <button class="vebinars-btn">Вебінари</button>
                                <button class="posts">Статті</button>
                            </div>
                            <div class="arrow__btns">
                                <button class="arrow-prew"> <img src="./images/svg-mysense/arrow_btns-prew.svg" alt=""></button>
                                <button class="arrow-next">  <img src="./images/svg-mysense/arrow_btns-next.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const itemWraps = document.querySelectorAll('.item__wrap');
    itemWraps.forEach(itemWrap => {
    itemWrap.addEventListener('click', () => {
        itemWrap.classList.toggle('rotated');
        const itemText = itemWrap.nextElementSibling;
        if (itemText.style.maxHeight) {
        itemText.style.maxHeight = null;
        } else {
        itemText.style.maxHeight = itemText.scrollHeight + 'px';
        }
    });
    });
</script>