<section class="psycholog">
    <div class="container">
        <div class="wrap__main">
            <aside class="psycholog__side-bar">
                <div class="psycholog__card-wrap">
                    <div class="card__img">
                        <img src="./images/our-team-desktop.jpg" alt="">
                        <div class="grey_bg"><span>Здоровʼя в голові, а не в аптеці</span></div>
                    </div>
                    <div class="card__info">
                        <h3>Іван Виговський</h3>
                        <p>3 роки практики</p>
                        <div class="card__price">450<span>грн/год</span></div>
    
                        <button class="write-btn" >
                            <div class="button">Записатись на cеанс</div>
                            <div class="hello">
                                <img src="./images/Hello.png" alt="">
                            </div>
                        </button>
                    </div>
                </div>
            </aside>
            <div class="psycholog__content">

                <div class="psycholog__video">
                    <img src="./images/psycholog-video.jpg" alt="">
                    <div class="info_video">
                        <span class="head-video">Відео-візитівка</span>
                        <div class="name-doc">Іван <br>Виговський</div>
                        <div class="year-work">12 років практики</div>
                    </div>
                    <button class="play__video">
                        <img src="./images/polygon-play.svg" alt="">
                    </button>
                </div>

                <div class="psycholog__content-wrapper">
                    <h2>Про психолога</h2>
                    <div class="psycholog__skills">
                        <div class="skill-box">
                            <span>23</span>
                            <p>Сеанси провів на платформі</p>
                        </div>
                        <div class="skill-box">
                            <span>19</span>
                            <p>Позитивних відгуків</p>
                        </div>
                        <div class="skill-box">
                            <span>3</span>
                            <p>Профільні статті</p>
                        </div>
                        <div class="skill-box">
                            <span>2</span>
                            <p>Ексспертні вебінари</p>
                        </div>
                    </div>
                    <div class="psycholog__descr">
                        <p>Близько 10 років я працював управлінцем. Мені подобалася моя робота, і в мене добре виходило, 
                            але я ніколи не міг відповісти на запитання: "Чому я не запускаю своєї справи?". 
                        </p><br>
                        <p>У 2013 році 
                            я прийшов до терапевта, щоб прокачати софт-скілз. Поступово в мене з'явився інтерес, а навіщо вони 
                            мені потрібні? Навіщо мені моя робота? І ось тоді я пішов не за ідеєю стати кращим, а за інтересом 
                            "який я". І вразився тому, наскільки величезний мій світ, скільки в мені є такого, що я про себе не 
                            знаю. Я дивувався і сумував через те, скільки часу і сил можна витратити на ідею про те, яким має 
                            бути життя, а не на саме життя.Мій інтерес до психіки, її механізмів, хитросплетінь все посилювався 
                            і я вирішив пройти навчання. З роками вивчення психотерапії інтерес не зник, а став глибшим і 
                            сильнішим.
                        </p>
                    </div>
                </div>

                <div class="education">
                    <h2>Освіта</h2>
                    <div class="education__items item">
                        <div class="item__content">
                            <div class="item__wrap">
                                <div class="item__title">Вища та професійна освіта</div>
                            </div>
                            <div class="item__text">
                                <ul class="edu__list">
                                    <li><div class="edu-date">2007 — 2012</div><span>ДНУ ім. Олеся Гончара - диплом спеціаліста за спеціальністю "Психологія"</span></li>
                                    <li><div class="edu-date">2013 — 2014</div><span>Lions Quest - "Соціальні та емоційні компетентності ХХІ століття" </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item__content">
                            <div class="item__wrap">
                                <div class="item__title">Сертифікати та дипломи</div>
                            </div>
                            <div class="item__text">
                                <ul class="edu__list">
                                    <li><div class="edu-date">2007 — 2012</div><span>ДНУ ім. Олеся Гончара - диплом спеціаліста за спеціальністю "Психологія"</span></li>
                                    <li><div class="edu-date">2013 — 2014</div><span>Lions Quest - "Соціальні та емоційні компетентності ХХІ століття" </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="item__content">
                            <div class="item__wrap">
                                <div class="item__title">Інший досвід</div>
                            </div>
                            <div class="item__text">
                                <ul class="edu__list">
                                    <li><div class="edu-date">2007 — 2012</div><span>ДНУ ім. Олеся Гончара - диплом спеціаліста за спеціальністю "Психологія"</span></li>
                                    <li><div class="edu-date">2013 — 2014</div><span>Lions Quest - "Соціальні та емоційні компетентності ХХІ століття" </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="edu__state">
                    <h2>Стани з якими працює</h2>
                    <div class="states__block">
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Дипресія</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Тривога</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Стрес</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Смуток</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Гнів</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Вигорання</span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Стосунки </span>
                        </div>
                        <div class="state__item">
                            <svg class="icon-cloud-drizzle" width="26" height="26">
                                <use href="./images/symbol-defs.svg#icon-cloud-drizzle"></use>
                              </svg>
                              <span>Самотність</span>
                        </div>
                    </div>
                </div>

                <div class="platform__content">
                    <div class="platform__title-block">
                        <h2>Контент на платформі</h2>
                        <div class="controls__block">
                            <div class="switch_btns">
                                <button class="vebinars-btn">Вебінари</button>
                                <button class="posts">Статті</button>
                            </div>
                            <div class="arrow__btns">
                                <button class="arrow-prew"> <img src="./images/svg-mysense/arrow_btns-prew.svg" alt=""></button>
                                <button class="arrow-next">  <img src="./images/svg-mysense/arrow_btns-next.svg" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="articles__cards-wrap">      
                        <div class="articles__card-column">
                            <div class="card__block-title">
                                <img src="./images/vebinar-1.jpg" alt="">
                                <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                                <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                                    вчитися новим навичкам...
                                </p>
                            </div>
                            <div class="card__block-statistic">
                                <div class="statistic_left">
                                    <div class="card__view">
                                        <span>
                                            <svg class="articles-section__icon-subtract" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                            </svg>
                                            12К
                                        </span>
                                    </div>
                                    <div class="card__likes">
                                        <span>
                                            <svg class="articles-section__icon-black-heart" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                            </svg>
                                            3К
                                        </span>
                                    </div>
                                </div>
                                <div class="card__date">
                                    <span>20.02.2023</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="articles__card-column">
                            <div class="card__block-title">
                                <img src="./images/vebinar-1.jpg" alt="">
                                <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                                <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                                    вчитися новим навичкам...
                                </p>
                            </div>
                            <div class="card__block-statistic">
                                <div class="statistic_left">
                                    <div class="card__view">
                                        <span>
                                            <svg class="articles-section__icon-subtract" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                            </svg>
                                            12К
                                        </span>
                                    </div>
                                    <div class="card__likes">
                                        <span>
                                            <svg class="articles-section__icon-black-heart" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                            </svg>
                                            3К
                                        </span>
                                    </div>
                                </div>
                                <div class="card__date">
                                    <span>20.02.2023</span>
                                </div>
                            </div>
                        </div>
        
                        <div class="articles__card-column articles__card-last">
                            <div class="card__block-title">
                                <img src="./images/vebinar-1.jpg" alt="">
                                <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                                <p>Наше тіло – наш найцінніший актив. Без нього ми можемо насолоджуватися смачною їжею, 
                                    вчитися новим навичкам...
                                </p>
                            </div>
                            <div class="card__block-statistic">
                                <div class="statistic_left">
                                    <div class="card__view">
                                        <span>
                                            <svg class="articles-section__icon-subtract" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-subtract"></use>
                                            </svg>
                                            12К
                                        </span>
                                    </div>
                                    <div class="card__likes">
                                        <span>
                                            <svg class="articles-section__icon-black-heart" width="16" height="12">
                                                <use href="./images/symbol-defs.svg#icon-black-heart"></use>
                                            </svg>
                                            3К
                                        </span>
                                    </div>
                                </div>
                                <div class="card__date">
                                    <span>20.02.2023</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rewiev">
                    <div class="rewiev__title-block">
                        <h2>Відгуки про психолога</h2>
                        <div class="rewiev-count">5</div>
                    </div>
                    <div class="rewievs__wpar">
                        <div class="rewiev__box">
                            <div class="rewievs__img">
                                <img src="./images/vebinar-mini-img1.png" alt="">
                                <div class="rewiev__name">Лідія Заморська</div>
                            </div>
                            <div class="rewiev__text">
                                Із запропонованих варіантів по опису вибрав психотерапевта, далі ще знайшов його сайт, 
                                перечитав і впевнився у виборі. Поки що важко сказати багато про першу консультацію, це 
                                було більше ознайомлення, моя розповідь про себе. Цікаво, як буде далі і власне які будуть 
                                методи роботи спеціаліста. Платформа зручна, все швидко і просто, дуже сподобалося. Планую 
                                продовжувати займатися зі спеціалістом
                            </div>
                        </div>
                        <div class="rewiev__box">
                            <div class="rewievs__img">
                                <img src="./images/vebinar-mini-img2.png" alt="">
                                <div class="rewiev__name">Олександр</div>
                            </div>
                            <div class="rewiev__text">
                                Добрий день.<br> 1. Обирав терапевта, дивлячись на :- досвід (стажем), стать (важливо щоб була саме жінка), 
                                підходи які використовує, освіта (був плюсом інститут у Франції). 2. На платформі сподобалося: - доволі 
                                зручній інтерфейс, спеціалістів досить багато (порівнюючи з іншими платформами), додаткові характеристики 
                                (детальна інформація) і фільтри3. - Так, сесія з фахівцем нам сподобалась, але у випадку якщо щось не 
                                сподобається, то спробуємо іншого фахівця, в цілому це нормальний процесс підбирати людину, з якою буде 
                                комфортніше, тому я окей ставлюся до цього.- так плануємо продовжувати роботу, вже спланували графік далі.
                            </div>
                        </div>
                        <div class="rewiev__box">
                            <div class="rewievs__img">
                                <img src="./images/vebinar-mini-img3.png" alt="">
                                <div class="rewiev__name">Надія</div>
                            </div>
                            <div class="rewiev__text">
                                Добрий день.<br>
                                1. Так задоволений, спочатку було важко знайти спільну мову, але з третьої сесії отримав максимально те, 
                                що хотів.2. Спочатку здавалась занадто суворою і деякі запитання чи вислови не збігались з внутрішніми 
                                почуттями. Але з часом ставало все краще і з’являється більше порозуміння. Не було тиску сильного, в 
                                основному прагнення нам дійти самим до правильних висновків. Деякі підходи - досить нестандартні. Я 
                                максимально задоволенийСама платформа теж сподобалась, дуже сучасна і зручна
                            </div>
                        </div>
                    </div>

                    <button class="more__rewievs">Більше відгуків</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const itemWraps = document.querySelectorAll('.item__wrap');
    itemWraps.forEach(itemWrap => {
    itemWrap.addEventListener('click', () => {
        itemWrap.classList.toggle('rotated');
        const itemText = itemWrap.nextElementSibling;
        if (itemText.style.maxHeight) {
        itemText.style.maxHeight = null;
        } else {
        itemText.style.maxHeight = itemText.scrollHeight + 'px';
        }
    });
    });
</script>