<section class="psycholog">
  <div class="container">
    <div class="wrap__main">
      <aside class="psycholog__side-bar">
        <div class="psycholog__card-wrap">
          <div class="card__img">
            <img src="./images/our-team-desktop.jpg" alt="" />
          </div>
          <div class="card__info">
            <h3>Іван Виговський</h3>
            <p>3 роки практики</p>
            <div class="grey__skills">
              Психолог, психотерапевт в Гештальт-підході, травматерапевт
            </div>
            <div class="card__price">900<span>грн/год</span></div>

            <button class="write-btn">
              <div type="button" class="button js-open-menu-psycholog">
                Записатись на cеанс
              </div>
              <div class="hello">
                <img src="./images/Hello.png" alt="" />
              </div>
            </button>
          </div>
        </div>
      </aside>

      <div class="psycholog__content">
        <div class="psycholog__video">
          <img src="./images/psycholog-video.jpg" alt="" />
          <div class="info_video">
            <span class="head-video">Відео-візитівка</span>
            <div class="name-doc">Іван <br />Виговський</div>
            <div class="year-work">12 років практики</div>
          </div>
          <button class="play__video">
            <img src="./images/polygon-play.svg" alt="" />
          </button>
        </div>

        <div class="edu__state">
          <h2>З ким я працюю</h2>
          <div class="states__block seans-block">
            <div class="state__item">
              <svg class="person-seans" width="22" height="22">
                <use href="./images/symbol-defs.svg#icon-user-circle"></use>
              </svg>
              <span>Дорослі</span>
            </div>
            <div class="state__item">
              <svg class="person-seans" width="25" height="22">
                <use href="./images/symbol-defs.svg#icon-face-child"></use>
              </svg>
              <span>Діти</span>
            </div>
            <div class="state__item">
              <svg class="person-seans" width="28" height="22">
                <use
                  href="./images/symbol-defs.svg#icon-test-person-purple"
                ></use>
              </svg>
              <span>Пари (Сімʼї)</span>
            </div>
          </div>
          <h2>З чим я працюю</h2>
          <div class="states__block">
            <div class="state__item">
              <img src="./images/svg-mysense/1.svg" alt="" />
              <span>Депресія, стрес</span>
            </div>
            <div class="state__item">
              <img src="./images/svg-mysense/2.svg" alt="" />
              <span>Залежність (алкогольна, наркотична, ігрова і т.д.)</span>
            </div>
            <div class="state__item">
              <img src="./images/svg-mysense/3.svg" alt="" />
              <span>Хронічні болі</span>
            </div>
            <div class="state__item">
              <img src="./images/svg-mysense/4.svg" alt="" />
              <span>Тяжке захворювання</span>
            </div>
            <div class="state__item">
              <img src="./images/svg-mysense/5.svg" alt="" />
              <span>Розлад харчової поведінки</span>
            </div>

            <span id="dots"></span>
            <span id="more">
              <div class="state__item">
                <img src="./images/svg-mysense/6.svg" alt="" />
                <span>Постійні конфлікти/охолодження стосунків</span>
              </div>
              <div class="state__item">
                <img src="./images/svg-mysense/7.svg" alt="" />
                <span>Відносини на відстані </span>
              </div>
              <div class="state__item state__item-last">
                <img src="./images/svg-mysense/8.svg" alt="" />
                <span>Інше</span>
              </div>
            </span>
          </div>
          <button onclick="myreadMoreFunction()" id="myReadBtn">
            <svg class="myReadBtn__icon">
              <use href="./images/symbol-defs.svg#Arrow"></use>
            </svg>
          </button>
          <h2 class="psycholog__head">Про мене</h2>
          <div class="psycholog__descr">
            <p>
              Близько 10 років я працював управлінцем. Мені подобалася моя
              робота, і в мене добре виходило, але я ніколи не міг відповісти на
              запитання: "Чому я не запускаю своєї справи?".
            </p>
            <br />
            <p>
              У 2013 році я прийшов до терапевта, щоб прокачати софт-скілз.
              Поступово в мене з'явився інтерес, а навіщо вони мені потрібні?
              Навіщо мені моя робота? І ось тоді я пішов не за ідеєю стати
              кращим, а за інтересом "який я". І вразився тому, наскільки
              величезний мій світ, скільки в мені є такого, що я про себе не
              знаю. Я дивувався і сумував через те, скільки часу і сил можна
              витратити на ідею про те, яким має бути життя, а не на саме
              життя.Мій інтерес до психіки, її механізмів, хитросплетінь все
              посилювався і я вирішив пройти навчання. З роками вивчення
              психотерапії інтерес не зник, а став глибшим і сильнішим.
            </p>
          </div>
        </div>

        <!-- Work schedule -->
        <div class="work__schedule">
          <h2>Графік вільних годин</h2>
          <div class="work__schedule-wrapper">
            <div class="work__schedule-controls">
              <div class="work__schedule-date">
                <span>3 квітня</span> - <span>9 квітня</span>
              </div>
              <div class="work__schedule-arrows">
                <button class="btn__schedule">
                  <img src="./images/svg-mysense/arrow_btns-prew.svg" alt="" />
                </button>
                <button class="btn__schedule">
                  <img src="./images/svg-mysense/arrow_btns-next.svg" alt="" />
                </button>
              </div>
            </div>
            <div class="work__schedule-weeks">
              <button class="days day_active">
                <span class="day__week">Пн</span>
                <div class="num__day">
                  3 <span class="show-month">квітня</span>
                </div>
              </button>
              <button class="days">
                <span class="day__week">Вт</span>
                <div class="num__day">4 <span>квітня</span></div>
              </button>
              <button class="days">
                <span class="day__week">Ср</span>
                <div class="num__day">5 <span>квітня</span></div>
              </button>
              <button class="days">
                <span class="day__week">Чт</span>
                <div class="num__day">6 <span>квітня</span></div>
              </button>
              <button class="days">
                <span class="day__week">Пт</span>
                <div class="num__day">7 <span>квітня</span></div>
              </button>
              <button class="days">
                <span class="day__week">Сб</span>
                <div class="num__day">8 <span>квітня</span></div>
              </button>
              <button class="days">
                <span class="day__week">Нд</span>
                <div class="num__day">9 <span>квітня</span></div>
              </button>
            </div>

            <div class="hours__work">
              <h3 class="hours__work-title">Доступний час (за Києвом)</h3>
              <div class="hours__work-body">
                <button class="hour-btn"><span>7:00 - 7:50</span></button>
                <button class="hour-btn"><span>8:00 - 8:50</span></button>
                <button class="hour-btn"><span>9:00 - 9:50</span></button>
                <button class="hour-btn"><span>10:00 - 10:50</span></button>
                <button class="hour-btn"><span>11:00 - 11:50</span></button>
                <button class="hour-btn"><span>12:00 - 12:50</span></button>
                <button class="hour-btn"><span>13:00 - 13:50</span></button>
                <button class="hour-btn"><span>14:00 - 14:50</span></button>
                <button class="hour-btn"><span>15:00 - 15:50</span></button>
                <button class="hour-btn"><span>16:00 - 16:50</span></button>
                <button class="hour-btn"><span>17:00 - 17:50</span></button>
                <button class="hour-btn"><span>18:00 - 18:50</span></button>
                <button class="hour-btn"><span>19:00 - 19:50</span></button>
                <button class="hour-btn"><span>20:00 - 20:50</span></button>
                <button class="hour-btn"><span>21:00 - 21:50</span></button>
                <button class="hour-btn"><span>22:00 - 22:50</span></button>
                <button class="hour-btn"><span>23:00 - 23:50</span></button>
              </div>
            </div>
          </div>
        </div>

        <div class="psycholog__content-wrapper">
          <h2>Статистика</h2>
          <div class="psycholog__skills">
            <div class="skill-box">
              <span>23</span>
              <p>Сеанси провів на платформі</p>
            </div>
            <div class="skill-box">
              <span>19</span>
              <p>Позитивних відгуків</p>
            </div>
            <div class="skill-box">
              <span>3</span>
              <p>Профільні статті</p>
            </div>
            <div class="skill-box">
              <span>2</span>
              <p>Ексспертні вебінари</p>
            </div>
          </div>
        </div>

        <div class="education">
          <h2>Моя освіта</h2>
          <div class="education__items item">
            <div class="item__content">
              <div class="item__wrap">
                <div class="item__title">Вища та професійна освіта</div>
              </div>
              <div class="item__text">
                <ul class="edu__list">
                  <li>
                    <div class="edu-date">2012</div>
                    <span
                      >ДНУ ім. Олеся Гончара - диплом спеціаліста за
                      спеціальністю "Психологія"<img
                        src="./images/ok.svg"
                        alt=""
                    /></span>
                  </li>
                  <li>
                    <div class="edu-date">2014</div>
                    <span
                      >Lions Quest - "Соціальні та емоційні компетентності ХХІ
                      століття"<img src="./images/ok.svg" alt=""
                    /></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item__content">
              <div class="item__wrap">
                <div class="item__title">Сертифікати та дипломи</div>
              </div>
              <div class="item__text">
                <ul class="edu__list">
                  <li>
                    <div class="edu-date">2012</div>
                    <span
                      >ДНУ ім. Олеся Гончара - диплом спеціаліста за
                      спеціальністю "Психологія"<img
                        src="./images/ok.svg"
                        alt=""
                    /></span>
                  </li>
                  <li>
                    <div class="edu-date">2014</div>
                    <span
                      >Lions Quest - "Соціальні та емоційні компетентності ХХІ
                      століття"<img src="./images/ok.svg" alt=""
                    /></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="item__content">
              <div class="item__wrap">
                <div class="item__title">Інший досвід</div>
              </div>
              <div class="item__text">
                <div class="edu__wrap">
                  <button class="send-info">Надіслати копії на пошту</button>
                  <p>
                    Ви можете отримати копії дипломів та сертиифікатів психолога
                    на електронну пошту, щоб переконатися у достовірості
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="platform__content">
          <!-- button -->
          <div class="platform__title-block">
            <h2>Контент на платформі</h2>
            <div class="controls__block">
              <div class="switch_btns">
                <button class="vebinars-btn">Вебінари</button>
                <button class="posts">Статті</button>
              </div>
              <!-- arrow__btns -->
              <div class="arrow__btns">
                <button class="arrow-prew">
                  <img src="./images/svg-mysense/arrow_btns-prew.svg" alt="" />
                </button>
                <button class="arrow-next">
                  <img src="./images/svg-mysense/arrow_btns-next.svg" alt="" />
                </button>
              </div>
              <!-- arrow -->
              <div class="arrow__btns-meeting">
                <button class="arrow-prew-meeting">
                  <img src="./images/svg-mysense/arrow_btns-prew.svg" alt="" />
                </button>
                <button class="arrow-next-meeting">
                  <img src="./images/svg-mysense/arrow_btns-next.svg" alt="" />
                </button>
              </div>
            </div>
          </div>

          <!-- articles -->
          <div class="articles__cards-wrap">
            <ul class="articles__list">
              <li class="articles__item">
                <div class="articles__card-column">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          1К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="articles__item">
                <div class="articles__card-column">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          2К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="articles__item">
                <div class="articles__card-column">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="articles__item">
                <div class="articles__card-column">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          4К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="articles__item">
                <div class="articles__card-column">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          5К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="articles__item">
                <div class="articles__card-column">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          6К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="articles__item">
                <div class="articles__card-column">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          7К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>

              <li class="articles__item">
                <div class="articles__card-column articles__card-last">
                  <div class="card__block-title">
                    <img src="./images/vebinar-1.jpg" alt="" />
                    <a href="#">Як позбутися панічних атак вагітним жінкам?</a>
                    <p>
                      Наше тіло – наш найцінніший актив. Без нього ми можемо
                      насолоджуватися смачною їжею, вчитися новим навичкам...
                    </p>
                  </div>
                  <div class="card__block-statistic">
                    <div class="statistic_left">
                      <div class="card__view">
                        <span>
                          <svg
                            class="articles-section__icon-subtract"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-subtract"
                            ></use>
                          </svg>
                          8К
                        </span>
                      </div>
                      <div class="card__likes">
                        <span>
                          <svg
                            class="articles-section__icon-black-heart"
                            width="16"
                            height="12"
                          >
                            <use
                              href="./images/symbol-defs.svg#icon-black-heart"
                            ></use>
                          </svg>
                          3К
                        </span>
                      </div>
                    </div>
                    <div class="card__date">
                      <span>20.02.2023</span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <!-- meeting -->
          <div class="meeting__cards-wrap">
            <ul class="meeting__list">
              <li class="meeting__item">
                <div class="card__meeting">
                  <div class="meeting__left-block">
                    <div class="meeting__info-block">
                      <div class="meeting__date">
                        <span>1 лютого</span>
                        <span>о 18:00</span>
                      </div>
                      <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                      </h3>
                      <button type="button" class="meeting-card__btn">
                        Зареєструватися
                      </button>
                    </div>

                    <div class="meeting__spicer-block">
                      <div class="meeting__spicer">
                        <span>Спікер</span>
                      </div>
                      <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                      </div>
                    </div>
                  </div>
                  <div class="meeting__image">
                    <img src="./images/man-350.jpg" alt="" />
                  </div>
                  <button type="button" class="vebinars__btn-390">
                    Усі вебінари
                    <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                      <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                  </button>
                </div>
              </li>

              <li class="meeting__item">
                <div class="card__meeting card__meeting-women">
                  <div class="meeting__left-block">
                    <div class="meeting__info-block">
                      <div class="meeting__date">
                        <span>2 лютого</span>
                        <span>о 18:00</span>
                      </div>
                      <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                      </h3>
                      <button type="button" class="meeting-card__btn">
                        Зареєструватися
                      </button>
                    </div>

                    <div class="meeting__spicer-block">
                      <div class="meeting__spicer">
                        <span>Спікер</span>
                      </div>
                      <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                      </div>
                    </div>
                  </div>
                  <div class="meeting__image">
                    <img src="./images/women-350.jpg" alt="" />
                  </div>
                  <button type="button" class="vebinars__btn-390">
                    Усі вебінари
                    <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                      <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="meeting__item">
                <div class="card__meeting">
                  <div class="meeting__left-block">
                    <div class="meeting__info-block">
                      <div class="meeting__date">
                        <span>3 лютого</span>
                        <span>о 18:00</span>
                      </div>
                      <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                      </h3>
                      <button type="button" class="meeting-card__btn">
                        Зареєструватися
                      </button>
                    </div>

                    <div class="meeting__spicer-block">
                      <div class="meeting__spicer">
                        <span>Спікер</span>
                      </div>
                      <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                      </div>
                    </div>
                  </div>
                  <div class="meeting__image">
                    <img src="./images/man-350.jpg" alt="" />
                  </div>
                  <button type="button" class="vebinars__btn-390">
                    Усі вебінари
                    <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                      <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                  </button>
                </div>
              </li>

              <li class="meeting__item">
                <div class="card__meeting card__meeting-women">
                  <div class="meeting__left-block">
                    <div class="meeting__info-block">
                      <div class="meeting__date">
                        <span>4 лютого</span>
                        <span>о 18:00</span>
                      </div>
                      <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                      </h3>
                      <button type="button" class="meeting-card__btn">
                        Зареєструватися
                      </button>
                    </div>

                    <div class="meeting__spicer-block">
                      <div class="meeting__spicer">
                        <span>Спікер</span>
                      </div>
                      <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                      </div>
                    </div>
                  </div>
                  <div class="meeting__image">
                    <img src="./images/women-350.jpg" alt="" />
                  </div>
                  <button type="button" class="vebinars__btn-390">
                    Усі вебінари
                    <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                      <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                  </button>
                </div>
              </li>
              <li class="meeting__item">
                <div class="card__meeting">
                  <div class="meeting__left-block">
                    <div class="meeting__info-block">
                      <div class="meeting__date">
                        <span>5 лютого</span>
                        <span>о 18:00</span>
                      </div>
                      <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                      </h3>
                      <button type="button" class="meeting-card__btn">
                        Зареєструватися
                      </button>
                    </div>

                    <div class="meeting__spicer-block">
                      <div class="meeting__spicer">
                        <span>Спікер</span>
                      </div>
                      <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                      </div>
                    </div>
                  </div>
                  <div class="meeting__image">
                    <img src="./images/man-350.jpg" alt="" />
                  </div>
                  <button type="button" class="vebinars__btn-390">
                    Усі вебінари
                    <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                      <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                  </button>
                </div>
              </li>

              <li class="meeting__item">
                <div class="card__meeting card__meeting-women">
                  <div class="meeting__left-block">
                    <div class="meeting__info-block">
                      <div class="meeting__date">
                        <span>6 лютого</span>
                        <span>о 18:00</span>
                      </div>
                      <h3 class="meeting__title">
                        Як позбутися панічних атак вагітним жінкам?
                      </h3>
                      <button type="button" class="meeting-card__btn">
                        Зареєструватися
                      </button>
                    </div>

                    <div class="meeting__spicer-block">
                      <div class="meeting__spicer">
                        <span>Спікер</span>
                      </div>
                      <div class="meeting__spicer-name">
                        <div class="spicer-name">Імʼя Прізвище</div>
                        <div class="experience__spicer">12 років практики</div>
                      </div>
                    </div>
                  </div>
                  <div class="meeting__image">
                    <img src="./images/women-350.jpg" alt="" />
                  </div>
                  <button type="button" class="vebinars__btn-390">
                    Усі вебінари
                    <svg class="vebinars-icon-btn-arrow" width="14" height="12">
                      <use href="./images/symbol-defs.svg#icon-btn-arrow"></use>
                    </svg>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="rewiev">
          <div class="rewiev__title-block">
            <h2>Відгуки про психолога</h2>
            <div class="rewiev-count">5</div>
          </div>
          <div class="rewievs__wpar">
            <div class="rewiev__box">
              <div class="rewievs__img">
                <img src="./images/vebinar-mini-img1.png" alt="" />
                <div class="rewiev__name">Лідія Заморська</div>
              </div>
              <div class="rewiev__text">
                Із запропонованих варіантів по опису вибрав психотерапевта, далі
                ще знайшов його сайт, перечитав і впевнився у виборі. Поки що
                важко сказати багато про першу консультацію, це було більше
                ознайомлення, моя розповідь про себе. Цікаво, як буде далі і
                власне які будуть методи роботи спеціаліста. Платформа зручна,
                все швидко і просто, дуже сподобалося. Планую продовжувати
                займатися зі спеціалістом
              </div>
            </div>
            <div class="rewiev__box">
              <div class="rewievs__img">
                <img src="./images/vebinar-mini-img2.png" alt="" />
                <div class="rewiev__name">Олександр</div>
              </div>
              <div class="rewiev__text">
                Добрий день.<br />
                1. Обирав терапевта, дивлячись на :- досвід (стажем), стать
                (важливо щоб була саме жінка), підходи які використовує, освіта
                (був плюсом інститут у Франції). 2. На платформі сподобалося: -
                доволі зручній інтерфейс, спеціалістів досить багато (порівнюючи
                з іншими платформами), додаткові характеристики (детальна
                інформація) і фільтри3. - Так, сесія з фахівцем нам сподобалась,
                але у випадку якщо щось не сподобається, то спробуємо іншого
                фахівця, в цілому це нормальний процесс підбирати людину, з якою
                буде комфортніше, тому я окей ставлюся до цього.- так плануємо
                продовжувати роботу, вже спланували графік далі.
              </div>
            </div>
            <div class="rewiev__box">
              <div class="rewievs__img">
                <img src="./images/vebinar-mini-img3.png" alt="" />
                <div class="rewiev__name">Надія</div>
              </div>
              <div class="rewiev__text">
                Добрий день.<br />
                1. Так задоволений, спочатку було важко знайти спільну мову, але
                з третьої сесії отримав максимально те, що хотів.2. Спочатку
                здавалась занадто суворою і деякі запитання чи вислови не
                збігались з внутрішніми почуттями. Але з часом ставало все краще
                і з’являється більше порозуміння. Не було тиску сильного, в
                основному прагнення нам дійти самим до правильних висновків.
                Деякі підходи - досить нестандартні. Я максимально
                задоволенийСама платформа теж сподобалась, дуже сучасна і зручна
              </div>
            </div>
          </div>

          <button class="more__rewievs">Більше відгуків</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Запис на сесію -->

<div class="session__registration js-menu-container-psycholog">
    <form action="" class="reg__session">
      <a href="#" class="close js-close-menu-psycholog">x</a>
      <div class="reg__session-title">Запис на сесію</div>
      <div class="reg__session-name">
        <img src="./images/register-session/psycholog.png" alt="" />
        <div class="name__doc-body">
          <div class="name__doc">Іван Виговський</div>
          <span>5 років практики</span>
      </div>
    </div>

    <div class="type__session">
      <h2>Оберіть тип сесії</h2>
      <div class="type__session-body">
        <button class="type__session-item">
          <svg class="person-seans" width="22" height="22">
            <use href="./images/symbol-defs.svg#icon-user-circle"></use>
          </svg>
          <span>Дорослі</span>
        </button>
        <button class="type__session-item">
          <svg class="person-seans" width="28" height="22">
            <use href="./images/symbol-defs.svg#icon-test-person-purple"></use>
          </svg>
          <span>Пари (Сімʼї)</span>
        </button>
        <button class="type__session-item">
          <svg class="person-seans" width="25" height="22">
            <use href="./images/symbol-defs.svg#icon-face-child"></use>
          </svg>
          <span>Діти</span>
        </button>
      </div>
    </div> 

    <div class="warning_message">
      <div class="no_available_dates">
        <h3>У данного спеціаліста немає вільних дат на найближчий місяць</h3>
        <p>Ви можете персонально домовитись з психологом у чаті</p>
        <button>Домовитись про сесію в чаті</button>
      </div>
      <div class="no_available_dates comfortable_time">
        <h3>Для того, щоб підібрати комфортний час для усіх — звʼяжіться з терапевтом, щоб домовитись про час консультації</h3>
        <p>Ви можете персонально домовитись з психологом у чаті</p>
        <button>Домовитись про сесію в чаті</button>
      </div>
    </div>

      <div class="choose__day">
        <h3 class="choose__day-title">Виберіть дату сесії</h3>
        <p>Не обовʼязково</p>
        <div class="choose__day-box">
          <div class="month-controls">
            <div class="month">Березень 2023</div>
            <div class="controls__arrows">
              <button>
                <img src="./images/svg-mysense/arrow_btns-prew.svg" alt="" />
              </button>
              <button>
                <img src="./images/svg-mysense/arrow_btns-next.svg" alt="" />
              </button>
            </div>
          </div>
          <ul class="week__list">
            <li>
              <span>Пн</span>
              <button class="num_active">13</button>
            </li>
            <li>
              <span>Вт</span>
              <button>14</button>
            </li>
            <li>
              <span>Ср</span>
              <button>15</button>
            </li>
            <li>
              <span>Чт</span>
              <button>16</button>
            </li>
            <li>
              <span>Пт</span>
              <button class="no_active">17</button>
            </li>
            <li>
              <span>Сб</span>
              <button class="no_active">18</button>
            </li>
            <li>
              <span>Нд</span>
              <button class="no_active">19</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="choose__time">
        <h3 class="choose__time-title">Оберіть зручний час (за Києвом)</h3>
        <p>Не обовʼязково</p>
        <div class="choose__time-body">
          <button class="choose__time-btn"><span>7:00 - 7:50</span></button>
          <button class="choose__time-btn"><span>8:00 - 8:50</span></button>
          <button class="choose__time-btn"><span>9:00 - 9:50</span></button>
          <button class="choose__time-btn"><span>10:00 - 10:50</span></button>
          <button class="choose__time-btn"><span>11:00 - 11:50</span></button>
          <button class="choose__time-btn"><span>12:00 - 12:50</span></button>
          <button class="choose__time-btn"><span>13:00 - 13:50</span></button>
          <button class="choose__time-btn"><span>14:00 - 14:50</span></button>
          <button class="choose__time-btn"><span>15:00 - 15:50</span></button>
          <button class="choose__time-btn"><span>16:00 - 16:50</span></button>
          <button class="choose__time-btn"><span>17:00 - 17:50</span></button>
          <button class="choose__time-btn"><span>18:00 - 18:50</span></button>
          <button class="choose__time-btn"><span>19:00 - 19:50</span></button>
          <button class="choose__time-btn"><span>20:00 - 20:50</span></button>
          <button class="choose__time-btn"><span>21:00 - 21:50</span></button>
          <button class="choose__time-btn"><span>22:00 - 22:50</span></button>
          <button class="choose__time-btn"><span>23:00 - 23:50</span></button>
        </div>
      </div>

      <div class="form">
        <input
          class="form__input"
          type="text"
          name="promo"
          id="promo"
          placeholder="Введіть промокод"
        />

        <button type="button" class="form__payment-method">
          <p class="form__payment-text">Спосіб оплати</p>

          <div class="payment-card">
            <img
              class="payment-card__visa"
              src="./images/visa.png"
              alt="visa"
            />
            <span class="payment-card__value">Карта Monobank</span>
            <svg class="payment-card__icon">
              <use href="./images/symbol-defs.svg#Arrow"></use>
            </svg>
          </div>
        </button>

        <ul class="payment-card-list">
          <li class="payment-card-item">
            <button class="payment-card-button" type="button">
              Карта Monobank
            </button>
          </li>
          <li class="payment-card-item">
            <button class="payment-card-button" type="button">
              Карта Privatbank
            </button>
          </li>
        </ul>
        <div class="session-info__item session-info__item--is-hidden">
          <p class="session-info__label">Вартість</p>
          <p class="session-info__value"><span>300</span> грн</p>
        </div>
        <button class="button form__button-payment" type="submit">
          Запланувати сессію
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Сеанc заброньовано -->
<div class="session_booked-wrap"> 
  <div class="session_booked">
    <div class="session_booked-close"><img src="./images/svg-mysense/close.svg" alt=""></div>
    <h3>Сеанc заброньовано</h3>
    <div class="session_booked-body">
      <ul class="session_booked-list">
        <li>Психолог<span>Іван Виговський</span></li>
        <li>Тривалість<span>50 хв</span></li>
        <li>Тип<span>Особиста</span></li>
        <li>Дата<span>13 березня</span></li>
        <li>Час<span>9:00 - 9:50</span></li>
      </ul>
      <p>Для того, щоб психолог краще підготувався до сенасу пропонуємо заповнити невелику анкету</p>
      <button>Заповнити анкету</button>
    </div>
  </div>
</div>

<!-- Анкета для психолога -->
<div class="questionnaire_wrap">
  <div class="questionnaire_body">
    <div class="questionnaire-close"><img src="./images/svg-mysense/close.svg" alt=""></div>
    <h3>Анкета для психолога</h3>
    <form action="" class="questionnaire__form">
      <div class="block-input">
        <div class="user-box">
          <label>Вік</label>
          <input required="true" name="" placeholder="Вкажіть ваш вік" type="text">
      </div>
      <div class="user-box">
        <label>Сімейний стан</label>
        <select name="select">
          <!--Supplement an id here instead of using 'name'-->
          <option value="value1" selected>Одружений(на)</option>
          <option value="value2" >Не одружений(на)</option>
          <option value="value3">Розлучений(на)</option>
        </select>
    </div>
      </div>
      <div class="user-box">
        <label>Чи є у вас досвід роботи з психологом?</label>
        <select name="select2">
          <!--Supplement an id here instead of using 'name'-->
          <option value="value1" selected>Так, є!</option>
          <option value="value2" >Ні, немає!</option>
        </select>
       </div>
       <div class="user-box">
        <label>Коли був останній сеанс?</label>
        <select name="select3">
          <!--Supplement an id here instead of using 'name'-->
          <option value="value1" selected>Більше року тому</option>
          <option value="value2" >Менше року назад</option>
        </select>
       </div>
       <div class="user-box">
        <label>Скільки всього було сеансів?</label>
        <select name="select3">
          <!--Supplement an id here instead of using 'name'-->
          <option value="value1" selected >Менше 10</option>
          <option value="value2" >Більше 10</option>
        </select>
       </div>
       <div class="user-box">
        <label>Опишіть коротко вашу проблему</label>
        <input required="true" name="" placeholder="Ваша проблема" type="text">
       </div>
       <button>Відправити анкету</button>
    </form>
  </div>
</div>
</section>

<script>
  const itemWraps = document.querySelectorAll('.item__wrap');
  itemWraps.forEach(itemWrap => {
    itemWrap.addEventListener('click', () => {
      itemWrap.classList.toggle('rotated');
      const itemText = itemWrap.nextElementSibling;
      if (itemText.style.maxHeight) {
        itemText.style.maxHeight = null;
      } else {
        itemText.style.maxHeight = itemText.scrollHeight + 'px';
      }
    });
  });
</script>
<script>
  function myreadMoreFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    moreText.style.display = "inline";
  }
}
</script>